<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 18 - The Path of Self-Marriage
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <a href="https://unsplash.com/photos/gw-aplKL3Qg" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module18/thePath.jpg"
              alt="A path in the forest - Photo by Mario Dobelmann on Unsplash">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module18/thePath.jpg"
                alt="A path in the forest - Photo by Mario Dobelmann on Unsplash">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">THE PATH OF SELF-MARRIAGE</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module18/thePath.jpg"
                alt="A path in the forest - Photo by Mario Dobelmann on Unsplash">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 18<br>The Path of Self-Marriage</h1>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h2 class="section-title">THE PATH AS A SELF-MARRIED PERSON</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #selfMarriedPersonAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule18%2Faudio%2FThePathAsASelfMarriedPerson.mp3?alt=media&token=ab7de0bb-07c2-4295-8865-f535a3745e9d"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1801 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <!-- BEGINNING OF PRACTICES For Being Married -->
      <ion-col size="12">
        <ion-row class="practices">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/d1eaoAabeXs" target="blank">
              <img src="../../../../assets/workshop1/module18/womanLookingAtPath.jpg"
                alt="woman looking down at path ahead - Photo by Vlad Bagacian on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES FOR BEING MARRIED</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practicesBeingMarriedAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule18%2Faudio%2FPractices%20for%20Being%20Married.mp3?alt=media&token=32fe29f2-d4df-493e-8014-62534208f8bf"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1802 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ It is time to write yourself another love letter. Write to you, your beloved, about what 
              it is like to be married to you,. Just bring pen to paper and lets see what comes onto the page.
            </p>
            <p>~~ Also, include in your love letter your allegiance to travel this journey, this path, in 
              beloved honoring of self, for the rest of time and what this might mean to you.
            </p>
            <p>~~ Continue to practice the Commitment Mudra Flow. It is yours. Use it as an anchor into 
              your vertical self.
            </p>
            <p>~~ Mirror eye contact. Loving words. Loving gaze. Loving....
            </p>
            <p>~~ See beyond how you look (most of us are never satisfied with how we look) and instead, 
              look into your heart and soul, your goodness, your essence. Namaste. I honor the light within you.
            </p>
            <p>~~ Namaste. I honor the divinity within you as the same as in me as in the same in all.
            </p>
            <p>~~ Namaste acknowledges our oneness and equality.<br>
              As we say "Namaste", we bring our palms together into a prayer posture, we bow, to one another, 
              to our selves, to the divine within all beings as One and the same.
            </p>
            <p>~~ Thank you for allowing me to be with you all of these months...<br>
              Thank you for stepping up to the invitation to love yourself so powerfully and going the extra 
              miles for yourself.<br>
              Remember, no one and nothing can ever diminish you or take away your marriage to yourself.
            </p>
            <p>~~ I honor you for your persistent commitment to the marrying yourself journey....;
            </p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://www.dreamstime.com/praying-hands-faith-religion-belief-god-dark-background-power-hope-love-devotion-namaste-namaskar-image161057524" target="blank">
              <img src="../../../../assets/workshop1/module18/namasteHands.jpg"
                alt="Namaste or Namaskar hands gesture - 161057524 by Chumphon Whangchom from Dreamstime.com">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Brave by Sara Bareilles</h2>
            <div class="video-player">
              <div id="youtube-player1801">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Affirm by Lizzy Jeff</h2>
            <div class="video-player">
              <div id="youtube-player1806">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Beautiful Am I by Aykanna at Sat Nam Fest</h2>
            <div class="video-player">
              <div id="youtube-player1807">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>I know we have heard these songs earlier but you deserve to celebrate your love with 
              listening to them again and.... I want you to have easy access to them, right here:
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>This Is Me</h2>
            <div class="video-player">
              <div id="youtube-player1802">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>I Love Me by Meghan Trainor</h2>
            <div class="video-player">
              <div id="youtube-player1803">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Beautiful by Christina Aguilera</h2>
            <div class="video-player">
              <div id="youtube-player1804">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>My favorite ~~ Greatest Love of All</h2>
            <div class="video-player">
              <div id="youtube-player1805">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF PRACTICES For Being Married -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module17']" 
        routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 17
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>