<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tribute To Donna<br>Module 05 - The Power of Manifesting - Scripting
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="img-container ion-padding ion-text-center">
        <a href="https://unsplash.com/photos/jMd3WS9LBcc" target="blank">
          <img src="../../../../assets/workshop02/module05/womanHoldingHeart.jpg"
            alt="Photo by Bart LaRue on Unsplash">
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>THE POWER OF MANIFESTING - SCRIPTING</h1>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION The Power of Manifesting - Scripting -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col class="ion-margin-right ion-padding">
            <p>
              We are going to proceed now into an exercise called Scripting. This tool is a very popular approach 
              used for manifesting. Scripting is a manifestation technique that involves describing the experience 
              you would like to manifest as if it has already happened. Scripting works for manifesting because 
              it helps you cultivate the feeling of your desired experience. The more you feel something, 
              genuinely feel it, the more you hold that vibration, the more you embody it and live it. There is 
              a saying I love: "What you think, you feel. What you feel, you vibrate. What you vibrate, you attract. 
              What you attract, you live."
            </p>
            <p>
              You only need to script once per desire. It's not about quantity. It's about the quality. "The more 
              you act in accordance with what you write, the faster you will be able to attract it into your life."
            </p>
            <p>
              Let's play with it.
            </p>
            <p>
              First, listen to this Ted talk. It is by a woman who knows the magic of dialoguing with the Universe, 
              Manifesting, Paying Attention, and Living in the Wonder. This is what it takes to Create and Manifest. 
              I dare you, in the most loving way, to step into the Creative Force of the Universe and apply it to 
              romance in your life. And, I invite you to see this Tribute, this course, made especially for you, 
              as the sign from The Universe to change how you hold the possibility of having another man in your 
              life to love and be loved by.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Do You See the Signs of the Universe? - Ulla Suokko</h2>
            <div class="video-player">
              <div id="youtube-player0501">
              </div>
            </div>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Scripting Done in 5 Steps -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Scripting Done in 5 Steps</p>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-title">FIVE STEPS TO SCRIPTING</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #scripting5StepsAudio>
                        <source
                          src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FFiveStepsToScripting.mp3?alt=media&token=740cb57a-58aa-48f4-b36f-cf7b9994cb64"
                          type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0501 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0501 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      1.	Be grateful for what you already have. Gratitude is one of the energies with the 
                      highest vibration according to the Emotional Guidance Scale. Write down three things 
                      you are genuinely grateful for — that you actually can feel the gratitude, not just 
                      mentally, but in your body and heart. Not things you know you should feel grateful for, 
                      but what you actually do feel grateful for.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0502 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      2. Describe what you want to manifest. For the focus of this course, describe the romantic 
                      relationship you want to manifest. Write it in present tense. Write the description in 
                      detail, utilizing all five senses to help describe living this experience. The more specific 
                      you are, the easier it is to cultivate the feeling of what its like to experience your desire.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0503 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      3. Clarify how it makes you feel. Write about your desire and how it makes you feel as if you 
                      have already manifested it. Yes, actually feel into the experience of being with a man who 
                      helps you to feel beautiful, who helps you to feel a sense of being supported, known, seen and 
                      loved. Just try it on, or more exactly, just feel it on! Think of how you felt this before in 
                      your life, perhaps earlier years with Michael. Remember what it feels like. Or, call upon movies 
                      that demonstrate this feeling to you and you recognize it. You know it. You know it inside of 
                      you. This opens the doorway to feeling into it. This is a very important part because according 
                      to the law of vibration — everything is made up of energy that vibrates at a specific frequency. 
                      The Law of Attraction is that similar vibrations are drawn together. So the key to manifesting 
                      what you want is to identify the feeling and align with it by embodying it. So, write about it 
                      and step into it as if it is truly now happening. And let it feel real good. Remember, goose, 
                      you know how to imagine. You know how to see magic. Use your skills at imagining magic for this 
                      exercise.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0504 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      4. Be open to other possibilities. It is said that the biggest mistakes in scripting is getting 
                      too attached to the outcome you desire and then using it to prove your negative belief system. 
                      Let the Universe know that you are open to experiencing this or something better than you are 
                      imagining. The affirmation to use is: "I surrender my timelines, agendas, and plans to the care 
                      of the Universe. I trust that everything is working out for the highest good of all. I know I 
                      will manifest this or something better."
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0505 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      5. Thank the Universe. The final step to scripting is to thank the universe for this opportunity 
                      to co-create your reality. "I am so grateful for this opportunity to co-create my desires with 
                      you. I am open to receiving universal guidance, spiritual solutions and creative ideas. I step 
                      back and follow your lead." Closing with gratitude raises your vibration even more and aligns 
                      you with even greater mojo juice.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>
                      Remember, you are playing.
                    </p>
                    <p>
                      And, you are learning something about spiritual principle and living in the feeling 
                      currently of what you want to manifest in the future.
                    </p>
                    <p>
                      Read over your script and let the words elevate your vibration.
                    </p>
                    <p>
                      Remember, why are we doing this?
                    </p>
                    <p>
                      To expand your state of consciousness to include more magic in your life. Coz why not?
                    </p>
                    <p>
                      Play with the spiritual vibrations, vs. getting attached to outcomes. This is open-ended, 
                      this is the Goddess's timeline....
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Scripting Done in 5 Steps -->
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://www.inspiringquotes.us/topic/1069-manifestation" target="blank">
              <img src="../../../../assets/workshop02/module05/itsAlreadyYours.jpg"
                alt="It's already yours - Universe">
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION The Power of Manifesting - Scripting -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/tribute-to-donna/module04']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Module 04</ion-button>
         <ion-button [routerLink]="['/workshops/tribute-to-donna/module06']"
        routerDirection="forward">Module 06 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
