<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tribute To Donna<br>Module 02 - Who You Are at 70
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="img-container ion-padding ion-text-center">
        <a href="https://unsplash.com/photos/nXo2ZsKHTHg" target="blank">
          <img src="../../../../assets/workshop02/module02/womanPurpleSunset.jpg"
            alt="Photo by Sasha Freemind on Unsplash">
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>WHO YOU ARE AT 70</h1>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Who You Are at 70 -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col class="ion-margin-right ion-padding">
            <p>
              As you greet yourself at 70, you are not the same as ever before. Actually, you have transformed 
              tremendously in your sixties.... Almost as much as you did your first five years of your life! 
              You journeyed through tragic trauma that forever reverberates, you picked up the pieces and put 
              them back together, differently; you became self-sufficient in ways you never thought you would 
              be; and you re-created your self, your life, and your home!!!! You live in your own energy field, 
              just like your home reflects one hundred percent you and only you, your days are reflections of 
              your spirit and how you dance as you on this planet.
            </p>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Self Inquiry Journaling -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Self-Inquiry Journaling</p>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0201" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0201')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0201" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0201')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>1.	How have you changed since 2014?</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0202" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0202')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0202" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0202')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>2.	How are you different than you have ever been before?
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0203" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0203')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0203" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0203')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      3. How are you the same as you always have been in your life?
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0204" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0204')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0204" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0204')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      4. What do you like most about yourself? Be thorough.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0205" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0205')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0205" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0205')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      5. How are you proud of yourself? List the ways!
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0206" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0206')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0206" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0206')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      6. What qualities do you most value about yourself in relation to others?
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0207" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0207')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0207" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0207')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      7. Write a short poem that describes how you experience your own spirit.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0208" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0208')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0208" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0208')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      8. Write a love letter to yourself.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-subtitle">LOVING YOURSELF</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #lovingYourselfAudio>
                        <source
                          src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FModuleTwoLovingYourselfAssignment.mp3?alt=media&token=290d0c53-a17b-484f-a45b-df8beb2c403e"
                          type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0201 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <p>
                      Now, let's celebrate with this love and dance!
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2>"This Is Me" with Keala Settle</h2>
                    <div class="video-player">
                      <div id="youtube-player0201">
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Self Inquiry Journaling  -->
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://themindsjournal.com/the-bravest-thing-you-will-ever-do-is-love-again/" target="blank">
              <img src="../../../../assets/workshop02/module02/bravestThing.jpg"
                alt="The bravest thing you will ever do is love again -- Madalyn Beck">
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Who You Are at 70 -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/tribute-to-donna/module01']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Module 01</ion-button>
         <ion-button [routerLink]="['/workshops/tribute-to-donna/module03']"
        routerDirection="forward">Module 03 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
