<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tribute To Donna<br>Module 02 - Who You Are at 70
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="img-container ion-padding ion-text-center">
        <a href="http://wingsfortheheart.com/e-courses/releasing-resistance/" target="blank">
          <img src="../../../../assets/workshop02/module01/releasingResistance.jpg"
            alt="Releasing Resistance">
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>WHO YOU ARE AT 70</h1>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Clearing Out The Buts -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">WEED OUT THE BUTS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #weedOutButsAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FIntroFirstModuleWeedOutTheButs.mp3?alt=media&token=2481284a-ee7d-42b9-8aa3-f4e9a98ffe0c" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0101 * 1000 | date:'mm:ss' }}</p>
            </div>  
          </ion-col>
          <ion-col class="ion-margin-right ion-padding">
            <p>
              This YES has to include your true willingness. Your willingness to grow. Your willingness to further heal. 
              Your willingness to expand. Your willingness to grow close with another man in your life.   
            </p>
            <p>
              It has been said that our thoughts shape our realities. Often it is the unconscious thoughts that have the 
              pull. Like an undertow. We can think positive thoughts but if we <i>feel</i> pessimistic, the pessimism will rule. 
              <i>It is HOW we feel about something that comes into fruition</i> more than even the thoughts.
            </p>
            <p>
              Let's give you an opportunity to be right where you are and <i>include</i> the buts!
            </p>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Clearing Out the Buts -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Clearing Out The Buts</p>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-title">MAKE A LIST OF ALL THE BUTS</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #listTheButsAudio>
                        <source
                          src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FFirstModuleAssignments.mp3?alt=media&token=e56b9b26-4218-471b-a70a-ea22bedf0b59"
                          type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0102 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0101 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>1.	Make a list of all the buts that you can think of. Be thorough. For example, these are 
                      some things I have heard you say: "I don't think it's meant to be in my life."</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0102 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>2. When you are done with this, take a look at them. Consider loosening up identifying 
                      with these thoughts. This time, instead of believing them as true, bring curiosity to them.  
                      See them as stories that attempt to explain why things are the way they are. This time bring 
                      a fresh look at these thoughts as blueprints for how life takes shape. Thoughts have power. 
                      These thoughts on your list do not help and instead, block the flow that propels future 
                      possibilities.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-margin-right ion-padding">
                    <p>
                      Even if you deep down inside yourself believe they are true —  proven to be true by the Universe — 
                      would you be willing to step out of that box of thinking and "try on" living without them? Can you 
                      envision not investing in these thoughts as true, even when they arise?
                    </p>
                    <p>
                      These thoughts are only useful for one thing — to protect you from not expecting anything. And if 
                      you don't expect anything, then you will be less disappointed.
                    </p>
                    <p>
                      What if we develop another way to protect you? Here are some options:
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0103 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      3. Learn to witness and observe what is happening without making up a negative spin narrative 
                      about it.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0104 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      4. Practice not personalizing any of it.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0105 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      5. Hold steady to your openness, no matter what the dating scene looks like.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0106 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      6. Remember that stepping out of the old automatic ways of protecting yourself into a 
                      refreshing approach, you can access a more wholehearted YES to embarking on this course.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center ion-padding">
                    <p>
                      And you know me, I think in terms of the bigger picture.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0107 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      7. Soul level vision. I want to offer a different vision to anchor into: Ground in the 
                      understanding that there will be love in your life again, whether it is in this life or 
                      another time.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center ion-padding">
                    <p>
                      Your soul will absolutely experience romantic love again.
                    </p>
                    <p>
                      Don't you dare cast doubt on it.<br>
                      Remember, we are releasing doubt and honoring the power of thought and the feeling 
                      underlying thought.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0108 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      8. If this thought is not lifting you or generating positive vibes, then go back to the list of pouring 
                      out negativity. It would mean you're just not done with it yet. Go through this exercise over and over 
                      until you feel lifted and open and can truly say, "I will love again" and mean it! By meaning it, you 
                      can embark on this course with a wholehearted  "Yes!"
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0109 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      9. When you have gotten to your wholehearted YES, let's now do something with these old thoughts 
                      that you don't need anymore.
                    </p>
                    <p>
                      Want to tear them out of your journal and rip them up? Burn them? Cross them out? Color over 
                      them with pretty color markers and crayons. Do something to release and transform these old 
                      thoughts that are no longer necessary.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0110 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      10. Walk around for the next two days with the thought coursing through your body, "One day 
                      I will love again!" Remember, on a soul level, this is not just a possibility or probability, 
                      it is an Absolute!  
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                      <img src="../../../../assets/workshop02/module01/iWillLoveAgain.jpg"
                        alt="I will love again">
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Self-Reflection Exercise One -->
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>
              Okay, so now  you are ready.
            </p>
            <p>
              You are embarking on this course of transformation with a big YES without a but!
            </p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href=" https://unsplash.com/photos/__Hw50q04FI" target="blank">
              <img src="../../../../assets/workshop02/module01/yesSand.jpg"
                alt="Photo by Drahomír Posteby-Mach on Unsplash">
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Clearing Out The Buts -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/tribute-to-donna']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Dearest Beloved Donna</ion-button>
         <ion-button [routerLink]="['/workshops/tribute-to-donna/module02']"
        routerDirection="forward">Module 02 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
