<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 15 - Your Relationship With the Divine
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <a href="https://www.dreamstime.com/stock-photo-hands-forming-heart-photo-image42749205" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module15/heartHandsSun.jpg"
              alt="Photo 42749205 © Mikael Damkier | Dreamstime.com">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module15/heartHandsSun.jpg"
                alt="Photo 42749205 © Mikael Damkier | Dreamstime.com">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">YOUR RELATIONSHIP WITH THE DIVINE</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module15/heartHandsSun.jpg"
                alt="Photo 42749205 © Mikael Damkier | Dreamstime.com">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 15<br>Your Relationship With the Divine</h1>
      </ion-col>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>I Am Light - India Arie</h2>
        <div class="video-player">
          <div id="youtube-player1501">
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-text-center ion-padding">
        <div class="quote">
          <h3>Lyrics to "I Am Light"</h3>
          <p>I am light, I am light<br>
            I am light, I am light<br>
            I am light, I am light<br>
            I am light, I am light<br>
            I am not the things my family did<br>
            I am not the voices in my head<br>
            I am not the pieces of the brokenness inside<br>
            I am light<br>
            I am light<br>
            I am light, I am light<br>
            I am light, I am light<br>
            I am light, I am light<br>
            I'm not the mistakes that I have made<br>
            Or any of the things that caused me pain<br>
            I am not the pieces of the dream I left behind<br>
            I am light<br>
            I am light<br>
            I am light<br>
            I, I am light<br>
            I am light, I am light<br>
            Ay-yeah<br>
            I am light, I am light<br>
            I am not the colour of my eyes<br>
            I am not the skin on the outside<br>
            I am not my age<br>
            I am not my race, my soul inside is all light<br>
            All light<br>
            All light, yeah<br>
            All light<br>
            I am light, I am light<br>
            I am light, I am light, yeah<br>
            I am divinity defined<br>
            I am the god on the inside<br>
            I am a star<br>
            A piece of it all<br>
            I am light
          </p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>You are embarking on this sacred focus. Love, Light, The Sacred. To enter into this module, 
          begin by lighting a candle to bring honor to the light within you and the Universe.       
        </p>
        <p>This module is not focusing on religion. If you are religious, it will be a big part of your 
          spiritual anchoring and how you tune into your relationship with the Divine. Follow what is 
          true for you. This module is a spiritual approach that can be utilized in conjunction with 
          a religious path or can be a doorway on its own into experiencing the divinity within you 
          without religion.
        </p>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h2 class="section-title">FOCUSING ON THE RELATIONSHIP WITH THE DIVINE</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #welcomeFocusDivineAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FWelcomeFocusDivineTwoWingedBird.mp3?alt=media&token=7f18a00a-2a54-443f-8e91-626632c2698f"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1501 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>I Am the Light of My Soul - Sirgun Kaur & Sat Darshan Singh</h2>
        <div class="video-player">
          <div id="youtube-player1502">
          </div>
        </div>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION The Spiritual Adult, Dharma, and Vertical Alignment -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">THE SPIRITUAL ADULT, DHARMA, AND VERTICAL ALIGNMENT</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #spiritualAdultAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FMoreVerticalAlignment.mp3?alt=media&token=738f6205-f119-4da3-bd8f-11a3095fe961"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1502 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Practicing Vertical Alignment is a way of stepping into a posture that organically helps you 
              to embody spiritual connection and antidote codependent patterns.
            </p>
            <p>Let's try it on. Stand... arms above, feet shoulder length apart, clasp hands press up to skies, 
              press feet into earth, now separate hands, shoulder length apart, palms facing inward, feeling 
              the energy from above, coming down through your body, into the earth.. As a tree, your arms extend 
              up, like tree branches; your torso, steady like the trunk of the tree; the soles of your feet 
              rooting into the earth, down deep into the earth... You are a channel of energy from above, through 
              you, and below you, into the earth. A portal of energy of light, a vertical portal.
            </p>
            <p>Be aware of your back bone, be aware of your feet, your Hara center, energy pouring into you from 
              above, through you, below you. You are connected, you are aligned. You are vertical.
            </p>
            <p>Now, slowly lower your arms but still feel as if they are above. Staying vertical.</p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/womanHandsInAir.jpg"
                alt="Woman with arms raised against sunset sky - Photo 38883824 © Arseniy Rogov | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Vertical Alignment is a opening to experiencing your relationship to above and below, sky and 
              earth. The higher energies, manifesting as you, grounding into the earth. Vertical Alignment has 
              the ability to open you to experiencing yourself as divine manifestation.
            </p>
            <p>Vertical is a doorway into a spiritual shift. It is a way to step into connection with spirit 
              manifested as form. Sacred Embodiment.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Deva Joy and Vertical Alignment</h2>
            <div class="video-player">
              <div id="youtube-player1503">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Chavonne and Vertical Alignment</h2>
            <div class="video-player">
              <div #chavonneVerticalVimeo>
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION The Spiritual Adult, Dharma, and Vertical Alignment -->
      <!-- BEGINNING OF MODULE SECTION Naming Yourself as Divine -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/carpeDiemSand.jpg"
                alt="Carpe Diem written in sand - Photo 53068897 © Benhammad | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">NAMING YOURSELF AS DIVINE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #namingYourselfAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FNamingYourselfAsDivine.mp3?alt=media&token=1f497ed8-8d9b-4d6f-ad1f-6b8aa6f1f195"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1503 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>I Am The Light of My Soul - Snatam Kaur</h2>
            <div class="video-player">
              <div id="youtube-player1504">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-subtitle">BREATHING EXERCISE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #breathingExerciseAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FBreathingExercise.mp3?alt=media&token=3b8d9c39-a7c0-4d61-ad11-62b86030a8f4"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1504 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Breathe deep and long. Move through your day with awe as you practice seeing the divine in everyone 
              and everywhere. No separation. One energy. All as divine. Divine.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>The Face of God - Karen Drucker</h2>
            <div class="video-player">
              <div id="youtube-player1505">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Naming Yourself as Divine -->
      <!-- BEGINNING OF MODULE SECTION Naming yourself as a Manifestation of the Goddess -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/womanFlowerCrown.jpg"
                alt="Woman with crown of flowers - Photo 34510188 © Foreverbluebird | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">FOR WOMEN: NAMING YOURSELF AS A MANIFESTATION OF THE GODDESS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #namingGoddessAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FForWomenClaimGoddess.mp3?alt=media&token=396dd217-d019-4b1b-b305-0af1b1f382f2"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1505 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Naming yourself as a Manifestation of the Goddess -->
      <!-- BEGINNING OF MODULE SECTION Experiencing Your Life as Divine -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/zenStonesWater.jpg"
                alt="Stepping Stones - Photo 74049397 © Dmitry Rukhlenko | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">EXPERIENCING YOUR LIFE AS DIVINE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #experiencingDivineAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FReflectionsRelationshipWithDivine.mp3?alt=media&token=ecc4e80b-f973-4f6c-a495-4ba2306417d9"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1506 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-subtitle">SIDDHARTHA SHARING</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #siddharthaAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FReadingSiddharthaHermannHesse.mp3?alt=media&token=9a082fd8-2ab8-4dc1-bd5c-d20d789b1d0f"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1507 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Om Chanting @432 Hertz</h2>
            <div class="video-player">
              <div id="youtube-player1506">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Tina Turner - Spiritual Message - 'Beyond'</h2>
            <div class="video-player">
              <div id="youtube-player1507">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Experiencing Your Life as Divine -->
      <!-- BEGINNING OF MODULE SECTION Guided Imagery About Love -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/womanTouchChest.jpg"
                alt="Woman touching her chest - Photo 187777572 © Fizkes | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">GUIDED IMAGERY ABOUT LOVE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #guidedLoveAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FTheDivineistheExperienceOfLove.mp3?alt=media&token=635a8320-8b12-4265-8174-0ff780269c59"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1508 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>The light within us propels us forward in life to open deeper and deeper into love. This is 
              the divine showing itself in our lives. The inspiration to show up wholeheartedly is the experience 
              of divine spirit. This is the divine-in-action. It is the experience of something bigger than 
              our individual lives because it is a force, a force that moves through all of our lives, like breath, 
              but it never stops, and it is this force manifesting as the love within us and between us that 
              permeates our day-to-day lives.<br>This love is the divine pulsation.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Thank U by Alanis Morissette</h2>
            <div class="video-player">
              <div id="youtube-player1508">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Guided Imagery About Love -->
      <!-- BEGINNING OF PRACTICES of Experiencing Yourself as Divine Manifestation -->
      <ion-col size="12">
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES OF EXPERIENCING YOURSELF AS DIVINE MANIFESTATION</h2>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Rise Up by Andra Day</h2>
            <div class="video-player">
              <div id="youtube-player1509">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Practice noticing the divine expressing itself as all of this, everywhere, including you...  
              journal often about this!
            </p>
            <p>~~ Practice the Looking Meditation in the mirror, seeing the divine looking back into you.
            </p>
            <p>~~ Practice the Looking Meditation with another, seeing the divine in their eyes, looking 
              into the divine within you, as one and the same.
            </p>
            <p>~~ Take a slow fifteen minute stroll and mindfully name everything your eyes gaze upon as 
              “Divine” or “Sacred” or “Love.”
            </p>
            <p>~~ Stand outside in Nature, in your backyard or a park or woods and be still. Breathe. 
              Mindfully name everything your eyes gaze upon as “Divine” or “Sacred” or “Love.” Notice how 
              you deepen as you sit and recognize the divine in all of life.
            </p>
            <p>~~ Practice standing tall and breathing powerfully, come into vertical alignment, and then 
              use your voice to invoke and invite what you want in your life and on the planet:<br> 
              “I invoke _______________ for myself, for others, for earth.” (E.g. love, pervasive light, 
              reverence for all beings, awakening, open heart, compassion, etc).<br>
              “I invite into my life ______________ (E.g beauty, forgiveness, patience, kindness, etc).<br>
              Just see what comes naturally arises.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">NURTURING THE DIVINE DAILY</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #nurtureDailyAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FDailyNurturingTheDivine.mp3?alt=media&token=4d6ad265-d4c1-49a3-83fb-5e40ceee923a"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1509 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Every day, in some way, devote some time and energy to honor the divine. Create a ritual. 
              Allow a prayer. Invoke. Praise. Dance with the divine. Chant with the divine. Be in silence 
              with the divine. Listen to the divine. Light a candle for the divine. Something. Experiment 
              with writing to your higher self. Asking your higher self for guidance. Opening to a written 
              letter to you from your higher self.
            </p>
            <p>~~ Honor your relationship daily with the divine.</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Beautiful Chorus - I Am feat. India.Arie</h2>
            <div class="video-player">
              <div id="youtube-player1510">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF PRACTICES of Experiencing Yourself as Divine Manifestation -->
      <!-- BEGINNING OF QUOTES -->
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module15/quoteDoNotFeelLonely.jpg">
        <img src="../../../../assets/workshop1/module15/quoteNotADrop.jpg">
        <img src="../../../../assets/workshop1/module15/quoteAwakeMyDear.jpg">
      </ion-col>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>Sea of Oms</h2>
        <div class="video-player">
          <div id="youtube-player1511">
          </div>
        </div>
      </ion-col>
      <!-- END OF QUOTES --> 
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module14']" 
        routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 14
        </ion-button>
        <ion-button [routerLink]="['/workshops/marrying-yourself/module16']" 
        routerDirection="forward">Module 16 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>