<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 06 - Taming Your Mind, Embracing Your Heart, Loving Your Body, Nourishing Your Soul
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
    <ion-grid>
      <ion-row class="ion-margin-right">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module06/girlFallingSnow.jpg">
          <h1>Module 06<br>Taming Your Mind, Embracing Your Heart, Loving Your Body, Nourishing Your Soul</h1>
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">INTRODUCTION</h2>
          <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #introModule06Audio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FIntrodIntoTheSixthModular.mp3?alt=media&token=23b266d2-17bc-4189-8405-91e9360ca47d" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration601 * 1000 | date:'mm:ss' }}</p>
            </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>This modular is in four parts: taming your mind, embracing your heart, loving your 
            body, nourishing your soul. They all go together as we do a deep dive into a wholistic 
            approach to well-being. And, each one deserves special attention. My recommendation 
            is to focus on each section by itself for at least three days. This way you can practice 
            the tools given in each section with undivided attention. Yet, you will see, as you 
            deepen into each part of the modular, that they all intertwine into a holistic approach 
            for loving yourself well.</p>
        </ion-col>
        <!-- BEGINNING OF MODULE SECTION Taming Your Mind -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">TAMING YOUR MIND</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #tamingYourMindAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FIntroToTamingTheMind.mp3?alt=media&token=32796ed7-443c-48aa-8a46-bb6c01149473" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration602 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Bottom line, for a loving relationship with yourself, your mind must be an ally, 
              not a foe.
            </p>
            <p>Beginning with the awareness that you are in relationship with your mind, you can 
              then have the awareness of the choice you have on where you want to focus your mind. 
              This leads into the essential commitment to tame your mind — to not believe everything 
              it says, to soothe it with sounds and mantra, to learn how to be a gentle yet firm 
              positive parent with it.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">HOW TO TAME YOUR MIND</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #howToTameYourMindAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FTamingYourMindAndMindMapping.mp3?alt=media&token=defa6286-5a0c-4922-99e3-37a3d0099dff" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration603 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>
              Remember, you are in relationship with your mind.  
            </p>
            <p>
              So, the first step is to notice what your mind is up to — what it is chewing on.
            </p>
            <p>
              Second step, ask yourself, “Is what my mind focusing on right now serving me?
            </p>
            <p>
              If the answer is “Yes, it is important for me to problem-solve this issue,” then we want 
              to be most productive with this as we can.
            </p>
            <p>
              One way to do this is with mind-mapping.
            </p>
          </ion-col>
          <!-- <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Shake It Out</h2>
            <div class="video-player">
              <div id="youtube-player0601">
              </div>
            </div>
            <p><i></i></p>
          </ion-col> -->
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module06/MindMapping02.jpg">
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module06/MindMapping01.jpg">
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">BE THE ALPHA WITH YOUR MIND</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #alphaMindAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FBeTheAlphaWithYour%20Mind.mp3?alt=media&token=d9565ee6-fdd3-402f-8633-23272578b317" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration604 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>When the response is “No, what my mind is focusing on right now is not serving me” then it 
              is important to shift the mind's focus. Have you heard of the term “Alpha” — the “Alpha” wolf 
              in a pack is the dominant one and the one who helps to keep everyone else in their right place 
              so that the pack is strong and can survive. What if you became the alpha with your own mind?
            </p>
            <p>So lets review. You are witnessing your mind and naming what it is doing. You are asking if 
              it is serving you. If the answer is no, you are stepping in and re-directing your mind. You 
              can't help what you mind initially thinks. Thoughts float in and out. But you can choose to 
              either fuel these thoughts or not.
            </p>
            <p>When your mind is actively thinking thoughts you don't want, experiment with making the 
              sound SHHHHHHHHHH... this is the archetypal sound mothers make — and fathers too — to their 
              babies all over the world — because... it is soothing...
            </p>
            <p>Another great tool for taming the mind is the mantra. Mantra, sound vibration...
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module06/mantraImage.jpg">
          </ion-col>
          <ion-col>
            <p>I am going to include the power of mumbo jumbo and energy medicine exercises of the zip up, 
              cross lateral and shaking and the crown pull to help you tame your mind. When you change 
              your physiology, you change your emotional state.
            </p>
            <p>By learning to be the alpha with your own mind, you are intentionally taming your mind.
            </p>
            <p>Being in right relationship with your mind is one of the most important aspects in being 
              engaged to yourself.
            </p>
            <p>To have a loving and gentle relationship with your mind is to have a loving and gentle 
              relationship with your self.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Shhhhh...</h2>
            <div class="video-player">
              <div id="youtube-player0602">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Repetition of the Mantra -- OM NAMAH SHIVAYA</h2>
            <div class="video-player">
              <div id="youtube-player0603">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>The Power of Mumbo Jumbo</h2>
            <div class="video-player">
              <div id="youtube-player0604">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Shake It Out!</h2>
            <div class="video-player">
              <div id="youtube-player0605">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Cross Lateral</h2>
            <div class="video-player">
              <div id="youtube-player0606">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>The Zip Up</h2>
            <div class="video-player">
              <div id="youtube-player0607">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
        </ion-row>
        <!-- END OF MODULE SECTION Taming Your Mind -->
        <!-- BEGINNING OF PRACTICES Training the Mind-->
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES FOR TAMING THE MIND</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceTamingMindAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FPracticesForTamingTheMind.mp3?alt=media&token=f6dfeb64-a471-4aa9-88dc-6f202ca7ebe7" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration605 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>You are engaged. This means you are committed to training your mind to be your ally. 
              Remember, what you think, you feel. How you feel, you vibrate. How you vibrate, you attract. 
              What you attract, you live. Make it a practice to feel your mind thoughts and perceptions 
              that generate the feelings and vibrations you want to experience.</p>
            <p>
              ~~ Practice Witnessing the Mind and Remembering to be the Alpha. When your mind goes off 
              course, give it a correction and then a new focus. Work with the sounds of Shhhhhh... 
              and the mantra, OM Namath Shivaya.
            </p>
            <p>
              ~~ Practice not believing everything your mind says.
            </p>
            <p>
              ~~ Remember that what you focus on, expands.
            </p>
            <p>
              ~~ Be a good parent to your mind by soothing it.
            </p>
            <ion-row>
              <!-- BEGINNING OF QUOTES Training the Mind -->
              <ion-col size="12" class="ion-padding ion-text-center">
                <img src="../../../../assets/workshop1/module06/quote-TrainMind.jpg">
                <img src="../../../../assets/workshop1/module06/quote-mindNoun.png">
              </ion-col>
      	      <!-- END OF QUOTES Training the Mind --> 
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- END OF PRACTICES Training the Mind -->
        <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
            <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
          </ion-button>
          <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
            <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
          </ion-button>
        </ion-col>
        <!-- END OF COMPLETE MODULE BUTTONS -->
        <!-- BEGINNING OF NAVIGATION BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button [routerLink]="['/workshops/marrying-yourself/module05']"
          routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 05</ion-button>
          <ion-button
          routerDirection="forward">Module 07 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>