<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 08 - Embodying Goddess Wisdom
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
    <ion-grid>
      <ion-row class="ion-margin-right">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module08/balancingRockTower.jpg">
          <h1>Module 08<br>Embodying Goddess Wisdom</h1>
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">WELCOME TO EMBODYING GODDESS WISDOM</h2>
          <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #introModule08Audio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FWelcomingInto.mp3?alt=media&token=099022b4-1315-4743-a43c-3f1d2cf3cbc0" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration801 * 1000 | date:'mm:ss' }}</p>
            </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>We are embarking on the <i>Practice</i> of various axioms. Practice means training, repetition, study, 
            application, implementation, execution. Every moment is a new opportunity to practice. If you blow it 
            one moment, there is always the next moment, to practice. We are living into these gems, these axioms, 
            these invitations.... Not perfectly, just practicing into them.
          </p>
          <p>Practice is goddess wisdom. It is the blending of feminine and masculine energies. We are intentionally 
            implementing and enacting a specific theme. This is our masculine in action. Our feminine energy is in 
            how we are being with ourselves... compassionate, permission-giving, patient, and knowing that it is all 
            a practice as we can be as messy and color outside of the lines to so speak as we practice.
          </p>
          <p>There are a zillion axioms and goddess wisdom guideposts that we could be endeavoring into. So, the 
            few that we will be practicing, doing it wholeheartedly. Dive into this. Make it yours. Allow excitement 
            for each day to be richer because of the focus of the day.
          </p>
          <p>My recommendation is that you either listen to the intro recording for each day's theme and you go 
            through the days sequentially with each new axiom. And then you do it again, this time you dive into 
            the exercises and songs and Ted talks that are offered.
          </p>
          <p>Or, another way is to give yourself three days in each one, practicing the theme and diving into 
            the exercises and Ted talks that are offered with each axiom.  Your choice.
          </p>
        </ion-col>
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module08/quote-goalOfPractice.jpg">
        </ion-col>
        <!-- BEGINNING OF MODULE SECTION Practice of Being Present Now Wow -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">THE PRACTICE OF BEING PRESENT, NOW WOW...</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #beingPresentAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FFirstAxiomPracticePresentMomentNowWow.mp3?alt=media&token=1c0076ff-71ec-4398-ac76-1dd51d08dc2a" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration802 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col> 
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Jason Mraz - Living In The Moment</h2>
              <div class="video-player">
                <div id="youtube-player0801">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Practice of Being Present Now Wow -->
        <!-- BEGINNING OF PRACTICES Practice of Being Present Now Wow -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR BEING PRESENT, NOW WOW</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Experiment with intensifying your senses. Choose one at a time and intensify it. Experience 
                your world through the gift of this sense. For example, seeing.. experience seeing... the gift of 
                seeing...and drink in what you see, take it in. Experience the power of seeing. Go on to hearing, 
                kinesthetic, olfactory, taste. Experience being present through your senses. Sometimes this is best 
                done in Nature, either taking a walk or sitting. If you are walking, practice tuning in through one 
                sense at a time with each block you walk. If you are sitting, change channels of your senses every 
                few minutes. Write about your experience.</p>
              <p>
                ~~ Now, Wow... As you attune into the now, each now... There is the wow... Practice being in the wow. 
                Practice seeing the wow in everything. Remember, to wow is to acknowledge someone, to honor them, to 
                celebrate them, to truly experience the wonder of them. Practice being with, “Hello. I wow you!” At the end 
                of your day, write about your experience for five minutes of being in the now wow for five minutes.
              </p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Being Present Now Wow -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-beAllThere.png">
                </ion-col>
                <!-- END OF QUOTES Being Present Now Wow --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Practice of Being Present Now Wow -->
        <!-- BEGINNING OF MODULE SECTION Breathe, Soften, Allow, Open -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">BREATHE, SOFTEN, ALLOW, OPEN</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #bsaoAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FBreatheSoftenAllowOpen.mp3?alt=media&token=b45eec4f-1265-4898-9d0a-053c534370c4" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration803 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Breathe, Soften, Allow, Open -->
        <!-- BEGINNING OF PRACTICES Breathing, Softening, Allowing, Opening -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR BREATHING, SOFTENING, ALLOWING, OPENING</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Practice going outside and truly breathing deep and long. Allow the inhale to be like powerful 
                ingesting of Prana, and allow your exhale to be long and go all the way before you inhale. Every 
                system in the body relies on oxygen. As you breathe deep and long, you allow for greater mental 
                cognition and clarity, digestion, sleep, improved immunity response, and deeper sleep. Breathe 
                deeper and longer, you are freer from stress. Breathing consciously and fully is one of the most 
                loving things you can do for yourself. It is the beginning point for all else. It is the opening. 
                It is the yes. It is the claiming of your birthright to live and take up space. It informs your 
                system that you know you are worthy and have a right to drink of life energy fully and shamelessly. 
                It is your willingness to be alive.</p>
              <p>~~ Practice this 4-7-8 breathing technique for ten minutes. Set your timer. Then write about what 
                you noticed about your experience. How do you practice 4-7-8?
              </p>
              <p style="padding-left: 10vw;">
                1. Breathe in through your nose to the count of four.<br>
                2. Hold the breath to the count of seven.<br>
                3. Exhale through your mouth to the count of eight.
              </p>
              <p>~~ Now, lets add the mantra to it and see how that is for you. With the four count inhale, allow an 
                Om to resonate within. Hold for seven with Namah. Exhale with Shivaya for the eight count. Practice 
                this for five minutes and then write about what happened for you when you added the mantra.
              </p>
              <p>~~ Soften, allow... is an invitation to further drop any tension, any resistances, and to allow 
                yourself to be as you are.... To be here softening, allowing unobstructed, fully as you are.... 
                Bring your attention to your toes, breathe and soften, allow your toes to soften.... 
                (Scan your whole body and whisper to each body area, soften... soften...  allow, allow)
              </p>
              <p>~~ As you soften and allow, with your exhale, try on the sound, ahhhhhhh, which opens the heart 
                chakra. Again, deep inhale, exhale ahhhhhhhh.... Now, allow a deep inhale, and then next exhale, 
                allow the sound, shhhhhhh... another way for calming and soothing... deep inhale, allow shhhhhhhh.... 
                Notice what this does to your brain chemistry, I believe it changes it... Give yourself the gift 
                of soothing... quieting.... Calming the mind... if you don't think your mind's thoughts are serving 
                you, practice allowing this sound.... Deep inhale, shhhhhhhhh... soften, allow.</p>
              <p>~~ Open.... Stand, open your arms wide, drop back and feel the opening or your heart and drop your 
                head back and sound out. Open....</p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Heart Balancing</h2>
              <div class="video-player">
                <div id="youtube-player0802">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Practice whispering to yourself, all day, breathe, soften, allow, open.... Write it down and put 
                it where you will see it to remind you. Breathe, soften, allow, open.</p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Breathing, Softening, Allowing, Opening -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-breathingIn.jpg">
                </ion-col>
                <!-- END OF QUOTES Breathing, Softening, Allowing, Opening --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Breathing, Softening, Allowing, Opening -->
        <!-- BEGINNING OF MODULE SECTION Practice of Enjoyment -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">THE PRACTICE OF ENJOYMENT</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #enjoymentAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FThirdAxiomPracticeEnjoyingPresentMoment.mp3?alt=media&token=ad200e17-7f90-4c65-bbd9-a8a7d1b40c8d" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration804 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>As we breathe, soften, allow and open to the moment, enjoyment is more accessible.</p>
              <p>When we stop resisting our realities and say yes instead, when we soften into what is, 
                when we allow and open into the is-ness, we have greater capacity for enjoying the present moment.
              </p>
              <p>The practice of naming your experience of enjoyment helps you to claim it. When you notice the 
                enjoyment of your experience, the enjoyment expands.
              </p>
              <p>Also, make it a practice to ask yourself often, “How can I enjoy this moment even more?” This invites 
                you to make any shifts necessary (physically, mentally, emotionally) to help increase the enjoyment 
                factor for you in any given moment. The invitation opens you to enjoy yourself and to tweak anything 
                that can increase the flow of enjoyment. This way the practice of enjoyment is an art.
              </p>
              <p>Do you love your life? Do you enjoy your life? If you do, claim it shamelessly. If you don't, make the 
                necessary changes so that you do love and enjoy your life. It is a must.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Three Little Birds - Bob Marley &amp; The Wailers</h2>
              <div class="video-player">
                <div id="youtube-player0803">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Practice of Enjoyment -->
        <!-- BEGINNING OF PRACTICES Enjoying Your Life -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR ENJOYING YOUR LIFE</h2>
              <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #practiceLovingYourBodyAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FPracticesForLovingYourBody.mp3?alt=media&token=e18c61bf-912a-47e2-8b3c-b8dc564091d3" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration611 * 1000 | date:'mm:ss' }}</p>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Practice naming at least five times in a day an experience you are enjoying. Breathe into it. Name it, 
                claim it, notice what happens.
              </p>
              <p>~~ Invite yourself at least five times in a day how you can enjoy this moment more.</p>
              <p>~~ Do something that you love and enjoy doing. Give it to yourself and honor yourself for paying attention 
                and being able to implement more enjoyment.</p>
              <p>~~ Journal about the questions, “Do I love my life? Do I enjoy my life?” If the answer is yes, write about 
                loving and enjoying your life. See what comes out on the page as you describe enjoying your life.
              </p>
              <p>~~ If you are not loving your life, what needs to change? Write about it. Feelings are messengers that often 
                call out for us to listen and sometimes make a shift. If they are uncomfortable feelings, ask yourself if it 
                would serve you to either change your perception or change your behavior in some way or both? Write about it.  
              </p>
              <p>~~ As you practice the Commitment Mudra Flow, ask yourself what you need to do that would help you for it to 
                be even more enjoyable to you. Would it be more enjoyable if you light a candle while you practice it, or if 
                you stood while you practiced it or would it serve you to hold each posture longer or to add music. Experiment 
                with different ways to enjoy it. And, ask yourself, “Do I enjoy participating in the Commitment Mudra Flow?” 
                If so, claim it!</p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Enjoying Your Life -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-happinessIsaChoice.jpg">
                </ion-col>
                <!-- END OF QUOTES Enjoying Your Life --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Enjoying Your Life -->


        <!-- BEGINNING OF MODULE SECTION Nourish Your Soul -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">NOURISH YOUR SOUL</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #nourishYourSoulAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FNourishingYourSoul.mp3?alt=media&token=524012b2-b224-457d-9e72-8694326dc7b7" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration612 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>What feeds your soul? What helps you to feel deep into the center of your self — the bigger self 
                than the roles you play, the things you do and accomplish, the relationships you have?
              </p>
              <p>What helps you to feel the vertical connection and the pulse of the divine within you? Whatever 
                does that for you in your life, go towards it...
              </p>
              <p>Just listen... to what opens you.. to nourishing your soul.</p>
            </ion-col>
            <ion-col size="12" class="ion-padding ion-text-center">
              <img src="../../../../assets/workshop1/module06/waterPour.jpg">
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Nourish Your Soul -->
        <!-- BEGINNING OF PRACTICES Nourish Your Soul -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR NOURISHING YOUR SOUL</h2>
              <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #practiceNourishSoulAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FPracticesForNourishingYourSoul.mp3?alt=media&token=0449a5c4-e333-4d1d-a004-db419a454ec8" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration613 * 1000 | date:'mm:ss' }}</p>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Pay attention to what helps you to experience your more spacious deeper self — and then do more of that!</p>
              <p>~~ For two weeks, commit to sitting with yourself for five minutes a day with your eyes closed with the 
                intention to nurture your soul. See if you want to repeat the mantra, OM Namah Shivaya and Shhhhh... Or if you 
                want to chant or practice watching the breath... Or talking to your soul. Just sit with nurturing your soul. 
                Set a timer.
              </p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Nourish Your Soul -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module06/quote-danceSoul.jpg">
                  <img src="../../../../assets/workshop1/module06/quote-soulBestFriend.jpg">
                </ion-col>
                <!-- END OF QUOTES Nourish Your Soul --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Nourish Your Soul -->
        <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
            <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
          </ion-button>
          <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
            <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
          </ion-button>
        </ion-col>
        <!-- END OF COMPLETE MODULE BUTTONS -->
        <!-- BEGINNING OF NAVIGATION BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button [routerLink]="['/workshops/marrying-yourself/module05']"
          routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 05</ion-button>
          <ion-button [routerLink]="['/workshops/marrying-yourself/module07']"
          routerDirection="forward">Module 07 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>