<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 08 - Embodying Goddess Wisdom
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
    <ion-grid>
      <ion-row class="ion-margin-right">
        <ion-col size="12" class="ion-text-center ion-padding">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module08/balancingRockTower.jpg">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module08/balancingRockTower.jpg">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">Embodying Goddess Wisdom</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module08/balancingRockTower.jpg">
            </div>
          </div>
      </ion-col>
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="">
          <h1>Module 08<br>Embodying Goddess Wisdom</h1>
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">WELCOME TO EMBODYING GODDESS WISDOM</h2>
          <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #introModule08Audio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FWelcomingInto.mp3?alt=media&token=099022b4-1315-4743-a43c-3f1d2cf3cbc0" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration801 * 1000 | date:'mm:ss' }}</p>
            </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>We are embarking on the <i>Practice</i> of various axioms. Practice means training, repetition, study, 
            application, implementation, execution. Every moment is a new opportunity to practice. If you blow it 
            one moment, there is always the next moment, to practice. We are living into these gems, these axioms, 
            these invitations.... Not perfectly, just practicing into them.
          </p>
          <p>Practice is goddess wisdom. It is the blending of feminine and masculine energies. We are intentionally 
            implementing and enacting a specific theme. This is our masculine in action. Our feminine energy is in 
            how we are being with ourselves... compassionate, permission-giving, patient, and knowing that it is all 
            a practice as we can be as messy and color outside of the lines to so speak as we practice.
          </p>
          <p>There are a zillion axioms and goddess wisdom guideposts that we could be endeavoring into. So, the 
            few that we will be practicing, doing it wholeheartedly. Dive into this. Make it yours. Allow excitement 
            for each day to be richer because of the focus of the day.
          </p>
          <p>My recommendation is that you either listen to the intro recording for each day's theme and you go 
            through the days sequentially with each new axiom. And then you do it again, this time you dive into 
            the exercises and songs and Ted talks that are offered.
          </p>
          <p>Or, another way is to give yourself three days in each one, practicing the theme and diving into 
            the exercises and Ted talks that are offered with each axiom.  Your choice.
          </p>
        </ion-col>
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module08/quote-goalOfPractice.jpg">
        </ion-col>
        <!-- BEGINNING OF MODULE SECTION Practice of Being Present Now Wow -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">THE PRACTICE OF BEING PRESENT, NOW WOW...</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #beingPresentAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FFirstAxiomPracticePresentMomentNowWow.mp3?alt=media&token=1c0076ff-71ec-4398-ac76-1dd51d08dc2a" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration802 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col> 
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Jason Mraz - Living In The Moment</h2>
              <div class="video-player">
                <div id="youtube-player0801">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Practice of Being Present Now Wow -->
        <!-- BEGINNING OF PRACTICES Being Present Now Wow -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR BEING PRESENT, NOW WOW</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Experiment with intensifying your senses. Choose one at a time and intensify it. Experience 
                your world through the gift of this sense. For example, seeing.. experience seeing... the gift of 
                seeing...and drink in what you see, take it in. Experience the power of seeing. Go on to hearing, 
                kinesthetic, olfactory, taste. Experience being present through your senses. Sometimes this is best 
                done in Nature, either taking a walk or sitting. If you are walking, practice tuning in through one 
                sense at a time with each block you walk. If you are sitting, change channels of your senses every 
                few minutes. Write about your experience.</p>
              <p>
                ~~ Now, Wow... As you attune into the now, each now... There is the wow... Practice being in the wow. 
                Practice seeing the wow in everything. Remember, to wow is to acknowledge someone, to honor them, to 
                celebrate them, to truly experience the wonder of them. Practice being with, “Hello. I wow you!” At the end 
                of your day, write about your experience for five minutes of being in the now wow for five minutes.
              </p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Being Present Now Wow -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-beAllThere.png">
                </ion-col>
                <!-- END OF QUOTES Being Present Now Wow --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Being Present Now Wow -->
        <!-- BEGINNING OF MODULE SECTION Breathe, Soften, Allow, Open -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">BREATHE, SOFTEN, ALLOW, OPEN</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #bsaoAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FBreatheSoftenAllowOpen.mp3?alt=media&token=b45eec4f-1265-4898-9d0a-053c534370c4" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration803 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Breathe, Soften, Allow, Open -->
        <!-- BEGINNING OF PRACTICES Breathing, Softening, Allowing, Opening -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR BREATHING, SOFTENING, ALLOWING, OPENING</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Practice going outside and truly breathing deep and long. Allow the inhale to be like powerful 
                ingesting of Prana, and allow your exhale to be long and go all the way before you inhale. Every 
                system in the body relies on oxygen. As you breathe deep and long, you allow for greater mental 
                cognition and clarity, digestion, sleep, improved immunity response, and deeper sleep. Breathe 
                deeper and longer, you are freer from stress. Breathing consciously and fully is one of the most 
                loving things you can do for yourself. It is the beginning point for all else. It is the opening. 
                It is the yes. It is the claiming of your birthright to live and take up space. It informs your 
                system that you know you are worthy and have a right to drink of life energy fully and shamelessly. 
                It is your willingness to be alive.</p>
              <p>~~ Practice this 4-7-8 breathing technique for ten minutes. Set your timer. Then write about what 
                you noticed about your experience. How do you practice 4-7-8?
              </p>
              <p style="padding-left: 10vw;">
                1. Breathe in through your nose to the count of four.<br>
                2. Hold the breath to the count of seven.<br>
                3. Exhale through your mouth to the count of eight.
              </p>
              <p>~~ Now, lets add the mantra to it and see how that is for you. With the four count inhale, allow an 
                Om to resonate within. Hold for seven with Namah. Exhale with Shivaya for the eight count. Practice 
                this for five minutes and then write about what happened for you when you added the mantra.
              </p>
              <p>~~ Soften, allow... is an invitation to further drop any tension, any resistances, and to allow 
                yourself to be as you are.... To be here softening, allowing unobstructed, fully as you are.... 
                Bring your attention to your toes, breathe and soften, allow your toes to soften.... 
                (Scan your whole body and whisper to each body area, soften... soften...  allow, allow)
              </p>
              <p>~~ As you soften and allow, with your exhale, try on the sound, ahhhhhhh, which opens the heart 
                chakra. Again, deep inhale, exhale ahhhhhhhh.... Now, allow a deep inhale, and then next exhale, 
                allow the sound, shhhhhhh... another way for calming and soothing... deep inhale, allow shhhhhhhh.... 
                Notice what this does to your brain chemistry, I believe it changes it... Give yourself the gift 
                of soothing... quieting.... Calming the mind... if you don't think your mind's thoughts are serving 
                you, practice allowing this sound.... Deep inhale, shhhhhhhhh... soften, allow.</p>
              <p>~~ Open.... Stand, open your arms wide, drop back and feel the opening or your heart and drop your 
                head back and sound out. Open....</p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Heart Balancing</h2>
              <div class="video-player">
                <div id="youtube-player0802">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Practice whispering to yourself, all day, breathe, soften, allow, open.... Write it down and put 
                it where you will see it to remind you. Breathe, soften, allow, open.</p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Breathing, Softening, Allowing, Opening -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-breathingIn.jpg">
                </ion-col>
                <!-- END OF QUOTES Breathing, Softening, Allowing, Opening --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Breathing, Softening, Allowing, Opening -->
        <!-- BEGINNING OF MODULE SECTION Practice of Enjoyment -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">THE PRACTICE OF ENJOYMENT</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #enjoymentAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FThirdAxiomPracticeEnjoyingPresentMoment.mp3?alt=media&token=ad200e17-7f90-4c65-bbd9-a8a7d1b40c8d" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration804 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>As we breathe, soften, allow and open to the moment, enjoyment is more accessible.</p>
              <p>When we stop resisting our realities and say yes instead, when we soften into what is, 
                when we allow and open into the is-ness, we have greater capacity for enjoying the present moment.
              </p>
              <p>The practice of naming your experience of enjoyment helps you to claim it. When you notice the 
                enjoyment of your experience, the enjoyment expands.
              </p>
              <p>Also, make it a practice to ask yourself often, “How can I enjoy this moment even more?” This invites 
                you to make any shifts necessary (physically, mentally, emotionally) to help increase the enjoyment 
                factor for you in any given moment. The invitation opens you to enjoy yourself and to tweak anything 
                that can increase the flow of enjoyment. This way the practice of enjoyment is an art.
              </p>
              <p>Do you love your life? Do you enjoy your life? If you do, claim it shamelessly. If you don't, make the 
                necessary changes so that you do love and enjoy your life. It is a must.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Three Little Birds - Bob Marley &amp; The Wailers</h2>
              <div class="video-player">
                <div id="youtube-player0803">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Practice of Enjoyment -->
        <!-- BEGINNING OF PRACTICES Enjoying Your Life -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR ENJOYING YOUR LIFE</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Practice naming at least five times in a day an experience you are enjoying. Breathe into it. Name it, 
                claim it, notice what happens.
              </p>
              <p>~~ Invite yourself at least five times in a day how you can enjoy this moment more.</p>
              <p>~~ Do something that you love and enjoy doing. Give it to yourself and honor yourself for paying attention 
                and being able to implement more enjoyment.</p>
              <p>~~ Journal about the questions, “Do I love my life? Do I enjoy my life?” If the answer is yes, write about 
                loving and enjoying your life. See what comes out on the page as you describe enjoying your life.
              </p>
              <p>~~ If you are not loving your life, what needs to change? Write about it. Feelings are messengers that often 
                call out for us to listen and sometimes make a shift. If they are uncomfortable feelings, ask yourself if it 
                would serve you to either change your perception or change your behavior in some way or both? Write about it.  
              </p>
              <p>~~ As you practice the Commitment Mudra Flow, ask yourself what you need to do that would help you for it to 
                be even more enjoyable to you. Would it be more enjoyable if you light a candle while you practice it, or if 
                you stood while you practiced it or would it serve you to hold each posture longer or to add music. Experiment 
                with different ways to enjoy it. And, ask yourself, “Do I enjoy participating in the Commitment Mudra Flow?” 
                If so, claim it!</p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Enjoying Your Life -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-happinessIsaChoice.jpg">
                </ion-col>
                <!-- END OF QUOTES Enjoying Your Life --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Enjoying Your Life -->
        <!-- BEGINNING OF MODULE SECTION Living In The Dharma -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">LIVING IN THE DHARMA</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #livingTheDharmaAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FFourthAxiomLivingTheDharma.mp3?alt=media&token=af460dd3-a47f-4c41-ba57-ca8475eaef1e" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration805 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>Dharma is a Sanskrit work that refers to the path of right action. The official definition of it 
                is the eternal and inherent nature of reality, regarded in Hinduism as a cosmic law underlying 
                right behavior and social order. Bottom line, this means that there are inherent virtues and guiding 
                principles in everything we engage in, in every role we live. There is a dharma in being a daughter, 
                a son, a spouse, a parent, a teacher, whatever you do — it is the alignment of thought and action with 
                your values and principles. Dharma is how we show up... to our own principles and values, not in 
                reaction to how others treat us, but rather our ability to respond based on our relationship to dharma. 
                This calls upon the ability to pause, allow reactivity to pass through without acting on it and not 
                fueling it, and then moving in the direction of love and respect with how we do respond.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding ion-text-center">
              <p>Tara Brach addresses this beautifully in this talk:</p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Learning to Respond Not React - Tara Brach</h2>
              <div class="video-player">
                <div id="youtube-player0804">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Living In The Dharma -->
        <!-- BEGINNING OF PRACTICES Living The Dharma -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR LIVING THE DHARMA</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Bring pen to paper and just start writing about your relationship with dharma. Where in your life 
                do you  you feel solidly in alignment with dharma? And where in your life do you feel most off the mark? 
                Just write. Set your timer for fifteen minutes and see what comes out on your page.
              </p>
              <p>~~ Now, circle one of the ways you are living in alignment with dharma. Lets give you “a credit report” 
                as my writing coach, Nina Hart calls it. A “credit report” is exactly that — giving yourself credit. Acknowledging 
                yourself. Write a credit report on yourself for five minutes. Set your timer. Lets give you acknowledgement, 
                credit, applause.
              </p>
              <p>~~ Now, star one of the ways you are living off the mark, a way that screams out to you. Journal about how you might 
                shift your behavior, your thoughts, your attitude, your choices so that you come more into alignment with your dharma 
                in this situation. What is the adjustment you need to make here that would make a difference? Write about it for ten 
                minutes and then commit to one action you can take that feels empowering to you. Set your timer.
              </p>
              <p>~~ Act on what you committed to.</p>
              <p>~~ Write about what your priorities are, what you hold as most important to you in life. Now, write about how you 
                spend your time. Compare these lists. Do they match or are they off? Once again, what needs to be tweaked here? Write 
                about this and star something that you want to execute immediately into action.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Imagine - John Lennon</h2>
              <div class="video-player">
                <div id="youtube-player0805">
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Living The Dharma -->
        <!-- BEGINNING OF MODULE SECTION Understanding Your Impact and Elevationg Your Energy -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">UNDERSTANDING YOUR IMPACT AND ELEVATING YOUR ENERGY</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #understandingYourImpactAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule08%2FPracticeUnderstanidngYourImpactElevatingYourEnergy.mp3?alt=media&token=0bc73166-8dea-4bd0-a5f8-deb7c9b1953e" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration806 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Understanding Your Impact and Elevationg Your Energy -->
        <!-- BEGINNING OF PRACTICES Understanding Your Impact -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR UNDERSTANDING YOUR IMPACT</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Experiment with paying attention to your impact on others when you intentionally shine your light bright.</p>
              <p>~~ Experiment with trying on “Neg Free Zone” with a friend or beloved partner when you want to stay out of negativity. 
                “Neg Free Zone” is an agreement for a certain amount of time to only express positivity and not to fuel or share 
                negative thoughts. If you slip, then you turn it around and make the negative into a positive.
              </p>
              <p>~~ Listen to Venessa Van Edwards Ted Talk on You Are Contagious, take notes in your journal and then set your timer 
                for fifteen minutes and just write. 
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>You Are Contagious - Vanessa Van Edwards</h2>
              <div class="video-player">
                <div id="youtube-player0806">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Elevation - Lizzy Jeff</h2>
              <div class="video-player">
                <div id="youtube-player0807">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <ion-row>
                <!-- BEGINNING OF QUOTES Understanding Your Impact -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-acceptThenAct.jpg">
                </ion-col>
                <!-- END OF QUOTES Understanding Your Impact --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Understanding Your Impact -->
        <!-- BEGINNING OF PRACTICES Elevating Your Energy -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR ELEVATING YOUR ENERGY</h2>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Journal about ways you love to self-soothe and self-care. How do you soothe yourself? What 
                really speaks to you to comfort and wrap yourself in comforting energy? Also, how do you experience 
                self-care? How do you care for your physical body, your emotional body, your mental body, your spirit?
              </p>
              <p>~~ Make sure you do one thing today that meets you in the self-care, self-soothing department! Pay 
                attention to how you feel before it, during it and after it. Take detective notes about what you observed 
                in your Marrying Yourself Journal.
              </p>
              <p>~~ Practice the Commitment Mudra Flow with the intention of self-soothing and care.</p>
              <p>~~ Cleanse and balance your energy field. With each energy medicine exercise, also play detective. 
                Notice how you feel before practicing these exercises, during and after.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Clear Out Your Energy Field</h2>
              <div class="video-player">
                <div id="youtube-player0808">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Cross Lateral</h2>
              <div class="video-player">
                <div id="youtube-player0809">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Breath of Joy</h2>
              <div class="video-player">
                <div id="youtube-player0810">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>The Zip Up</h2>
              <div class="video-player">
                <div id="youtube-player0811">
                </div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <ion-row>
                <!-- BEGINNING OF QUOTES Elevating Your Energy -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module08/quote-everyAction.jpg">
                </ion-col>
                <!-- END OF QUOTES Elevating Your Energy --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Elevating Your Energy -->
        <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
            <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
          </ion-button>
          <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
            <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
          </ion-button>
        </ion-col>
        <!-- END OF COMPLETE MODULE BUTTONS -->
        <!-- BEGINNING OF NAVIGATION BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button [routerLink]="['/workshops/marrying-yourself/module05']"
          routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 05</ion-button>
          <ion-button [routerLink]="['/workshops/marrying-yourself/module07']"
          routerDirection="forward">Module 07 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>