<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 09 - Our Feminine and Masculine Selves
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <a href="https://unsplash.com/photos/MD6E2Sv__iA" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module09/balancingRocks.jpg"
              alt="Photo by Martin Sanchez on Unsplash">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module09/balancingRocks.jpg"
                alt="Photo by Martin Sanchez on Unsplash">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">OUR FEMININE AND MASCULINE SELVES</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module09/balancingRocks.jpg"
                alt="Photo by Martin Sanchez on Unsplash">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 09<br>Our Feminine and Masculine Selves</h1>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <h2 class="section-title">INTRODUCTION TO FEMININE &amp; MASCULINE ASPECTS</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #introModule09Audio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FIntroductionFeminineMasculineAspects.mp3?alt=media&token=3cfbf9e4-2a1f-480d-9966-fa21413453ae"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration0901 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>This module is dedicated to knowing ourselves through the lens of our feminine and masculine aspects.
        </p>
        <p>In marrying ourselves, our feminine and masculine energies lean into one another, and give support and
          expression to one another. During this focus, we grow into claiming how our masculine and feminine energies
          already work well together. We uncover what needs strengthening and what needs taming — so that we can be
          most effective in the world as well as in harmonious within.
        </p>
      </ion-col>
      <!-- BEGINNING OF ASSIGNMENT Self-Reflection Exercise One -->
      <ion-col size="12">
        <ion-row>
          <ion-col class="assignment">
            <!-- Nesting in another row creates space for the border -->
            <p class="assignment-title">Assignment: Self-Reflection Exercise One</p>
            <ion-row>
              <ion-col size="12" class="ion-text-center ion-padding">
                <h2 class="section-title">SELF-REFLECTION EXERCISE ONE</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #selfReflectionOneAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FSelfRefectionExercise%20PartOne.mp3?alt=media&token=852d91ed-918c-401f-a732-85273993e163"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0902 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                <ion-checkbox #assignment0901 color="primary"></ion-checkbox>
              </ion-col>
              <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                <ion-icon name="heart-circle"></ion-icon>
              </ion-col>
              <ion-col size="9" class="ion-margin-right ion-padding">
                <p>You are going to create two lists. One list will be the ten most important men in your life,
                  starting from when you were born. The other list is the ten most important women in your life
                  since babyhood.</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                <ion-checkbox #assignment0902 color="primary"></ion-checkbox>
              </ion-col>
              <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                <ion-icon name="heart-circle"></ion-icon>
              </ion-col>
              <ion-col size="9" class="ion-margin-right ion-padding">
                <p>So, take a look at your lists. Now, next to their names (however you have to do it, including
                  writing their names again) write three strengths or positive qualities of this person and three
                  shadow aspects of this person.</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF ASSIGNMENT Self-Reflection Exercise One -->
      <!-- BEGINNING OF MODULE SECTION Feminine and Masculine Energies -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">FEMININE AND MASCULINE ENERGIES</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #femManQualitiesAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FFeminineMasculineQualities.mp3?alt=media&token=64b939af-fb0c-4f9f-a90c-a7c329e9b1a2"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0903 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/3kZpELkaxHc" target="blank">
              <img src="../../../../assets/workshop1/module09/blancingCoffeeCups.jpg"
                alt="Photo by Nathan Dumlao on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Now, let us review universal understanding of the differences between the feminine and masculine
              energies.</p>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="heading-shadow"><span class="purple-highlight">Feminine</span> and
              <span class="blue-highlight">Masculine</span> Attributes
            </h2>
            <ion-row>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Gentle</span> ≈≈ 
                  <span class="blue-highlight">Strong</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Vulnerable</span> ≈≈ 
                  <span class="blue-highlight">Protective</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Sensitive</span> ≈≈ 
                  <span class="blue-highlight">Neutral</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Caring</span> ≈≈ 
                  <span class="blue-highlight">Indifferent</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Permeable, Semi-permeable</span> ≈≈ 
                  <span class="blue-highlight">Impermeable</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Compassionate, Sympathetic, Tender</span> ≈≈ 
                  <span class="blue-highlight">Merciless, Harsh, Hard or Tough</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Compromising, Yielding</span> ≈≈ 
                  <span class="blue-highlight">Absolute, Stubborn, Insistent</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Open-minded</span> ≈≈ 
                  <span class="blue-highlight">Opinionated, Close-minded</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Negotiating, Accommodating</span> ≈≈ 
                  <span class="blue-highlight">Non-negotiable</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Blurry</span> ≈≈ 
                  <span class="blue-highlight">Sharp</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Nurturer</span> ≈≈ 
                  <span class="blue-highlight">Provider</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Graceful</span> ≈≈ 
                  <span class="blue-highlight">Bull in China-shop</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Being-ness</span> ≈≈ 
                  <span class="blue-highlight">Purposeful</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Inactive</span> ≈≈ 
                  <span class="blue-highlight">Proactive</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Wandering</span> ≈≈ 
                  <span class="blue-highlight">Intentional</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Communicative</span> ≈≈ 
                  <span class="blue-highlight">Reserved</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Boundless</span> ≈≈ 
                  <span class="blue-highlight">Bounded</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Fluid</span> ≈≈ 
                  <span class="blue-highlight">Rigid</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Intuitive</span> ≈≈ 
                  <span class="blue-highlight">Logical, Analytical</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Emotional</span> ≈≈ 
                  <span class="blue-highlight">Rational</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Homemaker</span> ≈≈ 
                  <span class="blue-highlight">Homebuilder</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Close, Warm, Motherly</span> ≈≈ 
                  <span class="blue-highlight">Distant, Cool, Detached</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Fearful, Timi</span>d ≈≈ 
                  <span class="blue-highlight">Courageous, Daring</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Apathetic</span> ≈≈ 
                  <span class="blue-highlight">Passionate</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Meek, Cowardly, Afraid</span> ≈≈ 
                  <span class="blue-highlight">Bold, Gallant, Heroic</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Quiet</span> ≈≈ 
                  <span class="blue-highlight">Outspoken</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Indirect</span> ≈≈ 
                  <span class="blue-highlight">Direct</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Passive, Idle</span> ≈≈ 
                  <span class="blue-highlight">Active, Assertive</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Complaisant</span> ≈≈ 
                  <span class="blue-highlight">Innovating, Initiating</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Inwardly oriented</span> ≈≈ 
                  <span class="blue-highlight">Outwardly oriented</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Unmotivated</span> ≈≈ 
                  <span class="blue-highlight">Ambitious</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Responsive</span> ≈≈ 
                  <span class="blue-highlight">Initiating</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Following</span> ≈≈ 
                  <span class="blue-highlight">Leading</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Cooperative</span> ≈≈ 
                  <span class="blue-highlight">Competitive</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Indecisive</span> ≈≈ 
                  <span class="blue-highlight">Decisive</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Docile</span> ≈≈ 
                  <span class="blue-highlight">Forceful, Dominant</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Cautious</span> ≈≈ 
                  <span class="blue-highlight">Risk-taking</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Relational, Communal</span> ≈≈ 
                  <span class="blue-highlight">Individualistic</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Egalitarian</span> ≈≈ 
                  <span class="blue-highlight">Authoritarian</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Dependent</span> ≈≈ 
                  <span class="blue-highlight">Self-reliant, Independent</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Surrendered</span> ≈≈ 
                  <span class="blue-highlight">Controlling</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Integrative, Unifying</span> ≈≈ 
                  <span class="blue-highlight">Differentiating, Separating</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Forego, Give up</span> ≈≈ 
                  <span class="blue-highlight">Enforce, Follow through</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Delay, Procrastinate</span> ≈≈ 
                  <span class="blue-highlight">Implement, Manifest</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Vague</span> ≈≈ 
                  <span class="blue-highlight">Clear</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Accepting, Embracing</span> ≈≈ 
                  <span class="blue-highlight">Rejecting, Discarding</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Self-critical</span> ≈≈ 
                  <span class="blue-highlight">Self-affirming</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Unrealistic</span> ≈≈ 
                  <span class="blue-highlight">Practical</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Flighty</span> ≈≈ 
                  <span class="blue-highlight">Grounded</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Wave</span> ≈≈ 
                  <span class="blue-highlight">Rock</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Submissive</span> ≈≈ 
                  <span class="blue-highlight">Dominant</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Placating</span> ≈≈ 
                  <span class="blue-highlight">Rebellious</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Intuitive</span> ≈≈ 
                  <span class="blue-highlight">Rational</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Sensual</span> ≈≈ 
                  <span class="blue-highlight">Thrusting</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Flow</span> ≈≈ 
                  <span class="blue-highlight">Structured</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Nurturing</span> ≈≈ 
                  <span class="blue-highlight">Supportive</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Meek</span> ≈≈ 
                  <span class="blue-highlight">Expressive</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Dreaming</span> ≈≈ 
                  <span class="blue-highlight">Manifesting</span>
                </p>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="4" class="ion-align-self-center">
                <p><span class="purple-highlight">Love</span> ≈≈ 
                  <span class="blue-highlight">Wisdom</span>
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>The feminine and masculine dance together to express and manifest what is inside of us.</p>
            <p>The masculine principle propels us forward into manifesting what the feminine principle intuits, 
              senses, and feels. The masculine protects and provides for ourselves so that the feminine can 
              nurture, feel, and heal. The feminine attunes and gives guidance for how the masculine can express 
              and make an impact. And the masculine holds the container and gives direction for the feminine to 
              channel herself. On and on, the dance of the masculine and feminine intertwine into the life of 
              being a human being.</p>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Self-Inquiry of Feminine and Masculine Qualities -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Self-Inquiry of Feminine and Masculine Qualities</p>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <a href="https://unsplash.com/photos/TzVN0xQhWaQ" target="blank">
                      <img src="../../../../assets/workshop1/module09/womanArmRaised.jpg"
                        alt="Photo by Miguel Bruna on Unsplash">
                    </a>
                  </ion-col>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-title">SELF-INQUIRY OF FEMININE AND MASCULINE QUALITIES</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #selfInquiryFemMascAudio>
                        <source
                          src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FInquiryFeminineMasculineQualities.mp3?alt=media&token=cb43a6b5-804a-479f-a82f-9057fd4acc2b"
                          type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0904 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0903 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>Look at the lists above of the feminine and masculine</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0904 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>Which qualities do you experience yourself embodying particularly effectively in your life? 
                      Write them down in your Marrying Yourself Journal.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0905 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>Now, scan the list and write down the attributes that are your biggest challenges with the 
                      feminine within you.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0906 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>Write down the ones that are your biggest challenges with the masculine within you.</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0907 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>Write down the ones that really jump out to you that you want to intentionally work with 
                      right now in your life that you believe would truly make a difference for you.</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0908 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>Lets do an energy medicine exercise to get some energy moving.</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2>Vertical Alignment</h2>
                    <div class="video-player">
                      <div id="youtube-player0901">
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Self-Inquiry of Feminine and Masculine Qualities -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Feminine and Masculine Energies -->
      <!-- BEGINNING OF MODULE SECTION More on Understanding the Feminine and Masculine -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">MORE ON UNDERSTANDING THE FEMININE AND MASCULINE</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Someone asked me, “What are the masculine and feminine principles that are involved with living well?”</p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/Iro6cBbsXOo" target="blank">
              <img src="../../../../assets/workshop1/module09/pinkFlower.jpg"
                alt="Photo by Janine Joles on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">Examples of Feminine Principles</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #femininePrinciplesAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FFemininePrinciplesAsInvitations.mp3?alt=media&token=3fbf2420-4f02-439c-950b-dbcf60e3036b"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0905 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/eAoTbJcwhCo" target="blank">
              <img src="../../../../assets/workshop1/module09/manFaceSculpture.jpg"
                alt="Photo by Tina Xinia on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">Examples of Masculine Principles</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #masculinePrinciplesAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FMasculinePrinciplesAsInvitations.mp3?alt=media&token=e68d75c2-af95-4be7-93b8-107f767b6c09"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0906 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Self-Reflection Exercise Two -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Self-Reflection Exercise Two</p>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-title">SELF-REFLECTION EXERCISE TWO</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #selfReflectionTwoAudio>
                        <source
                          src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FSelfReflectionExercisePart2.mp3?alt=media&token=4519fe8f-8315-46b1-bbc6-45b2ae5017c6"
                          type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0907 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>The next exercise is to help us get honest about what is so for ourselves. It is an experiment 
                      of being open to honestly try it all on — trying on the traits that you listed for each person.
                    </p>
                    <p>Sit in front of a mirror if you are up for it. As you go through your lists, make eye contact 
                      with yourself with each one. Otherwise just sit with yourself in a quiet place.
                    </p>
                    <p>This is how we will do this exercise.</p>
                    <p>You will be going through the lists of attributes (positive and negative) that are on your lists. 
                      (Ignore the people's names they are associated with right now). Right now, we are looking at your own 
                      relationship with each of these qualities that you have certainly spent time around.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0909 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>You will try each attribute on by saying: "I am ________."<br>(Say the first attribute, 
                      say the sentence two times. Try it on.)
                    </p>
                    <p>On a scale from one to ten, ten being totally true and one being not true at all, rate 
                      how true the statement resonates for you. Be as honest as possible. Pay attention to your body. 
                      Also, visit seeing yourself from other people's eyes and how others experience you. Go with 
                      whatever number arises for you.</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0910 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>As you go through each one, record your rating with the attribute in your journal.</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0911 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>If your rating is five or more for an attribute, look in the mirror if you can or close your eyes and be with 
                      yourself as you repeat the sentence, "I am ________" and then, add to your statement: "This is 
                      part of my _________(positive or shadow) feminine/masculine aspect, and my intention is to accept 
                      and embrace all of who I am", and then allow a deep breath.
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Self-Reflection Exercise Two -->
          <!-- BEGINNING OF ASSIGNMENT Self-Reflection Exercise Three -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Self-Reflection Exercise Three</p>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-title">SELF-REFLECTION EXERCISE THREE</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #selfReflectionThreeAudio>
                        <source
                          src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule09%2Faudio%2FSelfReflectionExercisePart3.mp3?alt=media&token=890f23e0-1b6b-4413-b73d-3aafad494fa0"
                          type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0908 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>Now let's ask these questions and write down a few things:</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0912 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>1.	What attributes were rated five and up?</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0913 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>2.	Star two of the positive attributes about yourself that right now really speak to you.</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0914 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>3.	Now, do the same for two shadow attributes of yourself that jump out to you that 
                      you want to prioritize and bring attention to.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0915 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>4.	Now, invite each attribute that you chose to speak to you directly. Take pen to paper 
                      and begin with, "I am your _________." (And write the attribute.) E.g. "I am your generosity." and 
                      then see what this attribute wants to say to you. Perhaps it wants to tell you how it plays out 
                      in your life, what it does for you, what it costs you.
                    </p>
                    <p>For example, let's say you starred self-absorption. 
                      Self-absorption might say, "I am your self-absorption. I am operating even when you don't know it. I am 
                      really most interested in my own experience. That is why I usually dominate conversations and I don't like 
                      to hear others talk as much as I like to talk. I don't ask others questions, because I really want others 
                      to hear me. Anyway, that's how I make myself known in your life that I am aware of right now. I am trying 
                      to feel loved but I think I push people away. I think I cost you friends."
                    </p>
                    <p>Another example: "I am your generosity. I love to be generous with others in your life. I love to be generous 
                      with my time, energy and money to the four-leggeds and the people in our life. With being so generous, I help 
                      you to feel goodness. I can get carried away with being so generous with others that I forget about your needs. 
                      This creates burn out. I need to make you priority as much as others or more so! I like thinking about being 
                      generous with you, my-self!"</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0916 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>5.	Look over the list and notice what aspects of your masculine energy need mellowing?
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0917 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>6.	Choose one masculine attribute that needs mellowing and come up with a strategy on how to 
                      go about turning down the volume on this attribute. For example, let's say the attribute to 
                      domineering. You experience yourself giving your opinion and advice without being asked for it. 
                      You might put into practice pausing before you give advice or your opinion and finding out what 
                      someone else thinks first and then asking if they want to hear your advice.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0918 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>7.	Look over the list and choose one masculine attribute that you want to strengthen.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0919 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>8.	How might you go about strengthening this masculine attribute? E.g. Let's say you chose, 
                      directness. You might put into practice being direct with what you feel and what you need to 
                      people close to you.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0920 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>9.	Choose an aspect of your feminine that needs more more loving attention, protection and 
                      support and a way to implement this. For example, receptivity. You might need to make it a 
                      practice to shield yourself because you are so open and receptive to other people's energies.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0921 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>10. What feminine attribute needs strengthening and what is one way to do this? For example, 
                      let's say softening is something you want to prioritize. You might want to make it a practice 
                      to whisper to yourself, "It's okay to soften, soften.... Shhhhh, soften..., it's safe to soften."
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Self-Reflection Exercise Three -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION More on Understanding the Feminine and Masculine -->



      <!-- BEGINNING OF MODULE SECTION Metta Meditation -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">METTA MEDITATION</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #mettaMeditationAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2FMettaMeditaitonFollwoingSelfRetreivalRitual.mp3?alt=media&token=825cd309-9c50-458c-b311-35d4ea54ffc8"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration705 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>The metta prayer of loving kindness is a prayer or mantra used as part of a loving-kindness meditation,
              or metta bhavana. This kind of meditation and use of a mantra is popular in the Buddhist tradition.
              The word, metta, comes from Pali and can be translated as "good will" or "loving kindness."
            </p>
            <p>I am changing the words to fit our self retrieval theme. We will sit in meditation for this.
            </p>
            <p>May I be safe and protected<br>
              May I be healthy and strong<br>
              May I be released from grudges, resentments and anger<br>
              May I be whole, retrieved, and embraced by forgiveness and love
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module07/WomanBreakFromChain.jpg">
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">THE GUEST HOUSE by RUMI</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #theGuestHouseAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2FTheGuestHouseRumi.mp3?alt=media&token=2db19bd5-3600-460e-bc87-6bdac415a404"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration706 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-justify-content-center ion-text-center ion-margin-right ion-padding">
            <div class="quote">
              <h2>The Guest House</h2>
              <h3>by Rumi</h3>
              <p>This being human is a guest house.<br>
                Every morning a new arrival.<br>
              </p>
              <p>
                A joy, a depression, a meanness,<br>
                some momentary awareness comes<br>
                As an unexpected visitor.<br>
              </p>
              <p>
                Welcome and entertain them all!<br>
                Even if they're a crowd of sorrows,<br>
                who violently sweep your house<br>
                empty of its furniture,<br>
                still treat each guest honorably.<br>
                He may be clearing you out<br>
                for some new delight.
              </p>
              <p>
                The dark thought, the shame, the malice,<br>
                meet them at the door laughing,<br>
                and invite them in.
              </p>
              <p>
                Be grateful for whoever comes,<br>
                because each has been sent<br>
                as a guide from beyond.
              </p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">THE INVITATION by ORIAH MOUNTAIN DREAMER</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #theInvitationAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2FTheInvitationByOriahMountainDreamer.mp3?alt=media&token=e2f1a999-6c00-49a1-83e6-4af19e6cf534"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration707 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>

          <ion-col size="12" class="ion-margin-right ion-padding">
            <div class="quote">
              <h2>The Invitation</h2>
              <h3>by Oriah Mountain Dreamer</h3>
              <p>It doesn't interest me what you do for a living.
                I want to know what you ache for and if you dare to dream of meeting your heart's longing.
              </p>
              <p>It doesn't interest me how old you are.
                I want to know if you will risk looking like a fool for love, for your dream, for the adventure
                of being alive.
              </p>
              <p>It doesn't interest me what planets are squaring your moon.
                I want to know if you have touched the centre of your own sorrow, if you have been opened by
                life's betrayals or have become shrivelled and closed from fear of further pain.
              </p>
              <p>I want to know if you can sit with pain, mine or your own, without moving to hide it, or fade
                it, or fix it.
              </p>
              <p>I want to know if you can be with joy, mine or your own; if you can dance with wildness and
                let the ecstasy fill you to the tips of your fingers and toes without cautioning us to be careful,
                be realistic, remember the limitations of being human.
              </p>
              <p>It doesn't interest me if the story you are telling me is true.
                I want to know if you can disappoint another to be true to yourself. If you can bear the accusation
                of betrayal and not betray your own soul. If you can be faithless and therefore trustworthy.
              </p>
              <p>I want to know if you can see Beauty even when it is not pretty every day. And if you can source your
                own life from its presence.
              </p>
              <p>I want to know if you can live with failure, yours and mine, and still stand at the edge of the lake
                and shout to the silver of the full moon, 'Yes.'
              </p>
              <p>It doesn't interest me to know where you live or how much money you have.
                I want to know if you can get up after the night of grief and despair, weary and bruised to the bone and
                do what needs to be done to feed the children.
              </p>
              <p>It doesn't interest me who you know or how you came to be here.
                I want to know if you will stand in the centre of the fire with me and not shrink back.
              </p>
              <p>It doesn't interest me where or what or with whom you have studied.
                I want to know what sustains you from the inside when all else falls away.
              </p>
              <p>I want to know if you can be alone with yourself and if you truly like the company you keep in the
                empty moments.
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Metta Meditation -->
      <!-- BEGINNING OF PRACTICES For Self-Retrieval -->
      <ion-col size="12">
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES FOR SELF-RETRIEVAL</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ The Inner Work: the Self-Inquiry Questions</p>
            <p>~~ The Energy Medicine Exercises</p>
            <p>~~ The Horizontal vs. Vertical Relating Exercise</p>
            <p>~~ The Self-Retrieval Ritual</p>
            <p>~~ The Meta-Meditation </p>
            <p>~~ Commitment Mudra Flow</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF PRACTICES For Self-Retrieval -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module08']" routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 08
        </ion-button>
        <ion-button routerDirection="forward">Module 10 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>