ion-card-title {
  color: var(ion-color-dark);
  height: 2rem;
}

ion-card-subtitle {
  color: var(ion-color-dark);
  height: 8rem;
}

ion-card-content {
  color: var(ion-color-dark);
  text-align: center;
  height: 10rem;
}

ol {
	list-style: none;
}

.spacer-top {
	margin-top: 2rem;
}

.spacer-bottom {
	margin-bottom: 2rem;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.scroll-container {
  border: solid 1px red;
  margin: 0px;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.panel-container-one {
	// Photo 76091613 / Beach © Radoslav Radev | Dreamstime.com - beachSunrise.jpg
	background-image: url('../../../assets/workshop1/intro/heartHandsSun1500x800.jpg');
	margin: 0px;
	background-repeat: none;
	background-size: cover;
	background-position: bottom;
	position: relative;
	overflow: hidden;
 	width: 100vw;
	height: 100%;
	
}

.panel-container-two {
	position: relative;
	overflow: hidden;
 	width: 100vw;
	height: 100%;
	background-image: url('../../../assets/workshop1/intro/caveWithBluesPurples.jpg');
	background-repeat: repeat-y;
	background-size: contain;
}

.panel-container-three {
	background-image: url('../../../assets/workshop1/intro/caveWithBluesPurples.jpg');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;
 	width: 100vw;
	height: 100vh;
}

.panel-container-four {
	background-color: var(--ion-color-tertiary);
	h1 {
		font-size: 5.9vw;
	}
	h2 {
		font-size: 3.0vh;
	}
	p {
		font-size: calc(0.75em + 1vw);
	}
	li {
		font-size: calc(0.75em + 1vw);
	}
}

.panel-container-five {
	padding: 1rem;
	background-color: rgb(209, 234, 243);
}

.panel-container-buy {
	padding: 1rem;
	background-color: var(--ion-color-primary);
	h1 {
		font-size: 5.9vw;
	}
	h2 {
		font-size: 3.0vh;
	}
	p {
		font-size: calc(0.75em + 1vw);
	}
	li {
		font-size: calc(0.75em + 1vw);
	}
}

.buy-option-container {
	border: 2mm ridge rgba(var(--ion-color-secondary-rgb, 0.6));
	border-radius: 10px;
	padding: 0px 10px;
	ion-list {
		background: transparent;
	}
	ion-item {
		--background: transparent;
	}
}

.price-cut {
	text-decoration: red line-through 1px;
}

.buy-course {
	color: var(--ion-color-primary);
	text-shadow: 1px 1px 1px black;
}

.buy-course-plus {
	color: #cea13c;
	text-shadow: 1px 1px 1px black;
}

.panel {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// overflow: hidden;
	h1 {
		font-size: 5.9vw;
	}
	h2 {
		font-size: 3.0vh;
	}
	p {
		font-size: calc(0.75em + 1vw);
	}
	li {
		font-size: calc(0.75em + 1vw);
	}
}

.panel-modules {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.panel-title {
	color: white;
	text-shadow: black 2px 2px 2px;
}

.panel-title-final {
	color: white;
	text-shadow: black 2px 2px 2px;
}

.panel-img {
	display: block;
	object-fit: contain;
	object-position: top;
	width: 100%;
	height: auto;
}

.logo-img-center {
	margin-top: 7.5vw;
	height: 14vw;
}

.transparent-panel {
	background: transparent;
	margin: 0px 2rem;
	p {
		font-weight: bold;
		color: var(--ion-color-primary);
	}
}

.primary-panel-one {
	background-color: var(--ion-color-primary);
	width: 100vw;
}

.secondary-panel-one {
	background-color: var(--ion-color-secondary);
	width: 100vw;
 }

.tertiary-panel-one {
	background-color: var(--ion-color-tertiary);
	width: 100vw;
 }

.final-panel-one {
background-color: none;
width: 100vw;
}

.module-intro {
	font-family: 'Balthazar Regular', serif;
	font-weight: bold;
	margin: 10px;
	p {
		font-size: 3.9vh;
	}
	ion-list {
		background: transparent;
	}
	ion-item {
		--background: transparent;
		font-family: 'Balthazar Regular', serif;
		font-size: 3.9vh;
	}
}

.panel-module-intro {
	margin: 0px;
	background-color: var(--ion-color-primary);
}

.panel-module-primary {
	margin: 0px;
	height: -moz-fit-content;
	height: fit-content;
	background-color: var(--ion-color-primary);
	padding: 0px 10px;
	p {
		text-align: center;
		font-family: 'Balthazar Regular', serif;
  	font-weight: bold;
		font-size: 5vh;
	}
}

.panel-module-secondary {
	margin: 0px;
	height: -moz-fit-content;
	height: fit-content;
	background-color: var(--ion-color-secondary);
	padding: 0px 10px;
	p {
		text-align: center;
		font-family: 'Balthazar Regular', serif;
  	font-weight: bold;
		font-size: 5vh;
	}
}

.panel-module-tertiary {
	margin: 0px;
	height: -moz-fit-content;
	height: fit-content;
	background-color: var(--ion-color-tertiary);
	padding: 0px 10px;
	p {
		text-align: center;
		font-family: 'Balthazar Regular', serif;
  	font-weight: bold;
		font-size: 5vh;
	}
}

.secondary-panel-three {
	padding: 0px 20px;
	
	z-index: 2;
	color: white;
	font-weight: bold;
	text-shadow: var(--ion-color-dark) 3px 3px 2px;
 }

 .light-background {
	background-color: rgba(var(--ion-color-light-rgb), 0.5);
	border: rgba(var(--ion-color-light-rgb), 0.5) solid 2px;
	border-radius: 10px;
 }

 .dark-background {
	padding: 0px 10px;
	background-color: rgba(var(--ion-color-dark-rgb), 0.5);
	border: rgba(var(--ion-color-light-rgb), 0.5) solid 2px;
	border-radius: 10px;
 }

.tertiary-panel-four {
	padding: 0px 20px;
	background-color: var(--ion-color-tertiary);
	z-index: 2;
 }

 .primary-panel-five {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding: 0px 20px;
	background-color: var(--ion-color-primary);
 }

 .panel-next1 {
	 margin-top: 100px;
	 width: 100%;
	 height: 80vh;
 }

 .panel-next2 {
	margin-top: 100px;
	width: 100%;
	height: 80vh;
}

.panel-next3 {
	width: 100%;
	height: 80vh;
}

.panel-next4 {
 width: 100%;
 height: 80vh;
}

.video-player-intro {
  background-image: url('../../../assets/workshop1/general/videoWillLoadBubbleSm.png');
  background-position: center;
  background-repeat: no-repeat;
  // background: #42e317;
  // min-height: 350px;
	// width: 0px auto;
	// margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: scroll;
}

.video-title {
	text-align: center;
	font-size: 2rem;
  font-weight: bold;
	color: var(--ion-color-primary);
	text-shadow: 2px 2px 4px var(--ion-color-secondary);
}

.vimeo-title {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 2rem;
  font-weight: bold;
	text-shadow: 2px 2px 4px var(--ion-color-secondary);
}

.vimeo-container-intro {
	height: 350px;
  position: relative;
	div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
	}
}

.testimonial-container {
	background-color: rgb(209, 234, 243);
	border: 2mm ridge rgba(var(--ion-color-tertiary-rgb, 0.6));
	border-radius: 10px;
	padding: 0px 10px;
}

.footer {
	font-size: 1rem;
	position: fixed;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
}

section {
  height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  position: relative;
  --scaleX: 0;
}

h1::before {
  width: calc(100% + 200px);
  height: calc(100% + 100px);
  background: #42a6e0;
  position: absolute;
  top: -50px;
  left: -100px;
  content: "";
  z-index: -1;
  transform: scaleX(var(--scaleX));
  transform-origin: top left;
}


span {
  position: relative;
  display: inline-block;
}
.spacer {
  height: 40vh;
}
