<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title color="primary">
      Marrying Yourself Journey Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-justify-content-center ion-padding ion-margin">
      <ion-col class="ion-text-center">
        <a href="https://themarryingyourselfjourney.com" target="_blank">
        <img src="../../../assets/myj/MYJLogo-Purple.png">
        <h1 class="ion-text-center">Visit Our New Site: TheMarryingYourselfJourney.com!</h1>
        </a>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>