<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title color="primary">
      Marrying Yourself Journey Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)" >
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <div>
          <div>
            <!-- To keep accurate scrolltrigger positions use img tag, not ion-img tag -->
            <img class="responsive-image" [routerLink]="['/home']" src="../../../assets/workshop1/intro/heartHandsSun.jpg">
          </div>
          <h2 class="vimeo-title">Introduction to the Marrying Yourself Journey</h2>
          <div class="vimeo-container">
            <div #introMYJVimeo>
            </div>
          </div>
          <!-- <div class="ion-text-center">
            <p>After watching the video, scroll down!</p>
          </div> -->
          <div #panelContainer class="panel-container">
            <div #primaryPanel class="panel primary-panel">
              <div #titlePrimary>
                <h2>There are 18 Modules to this course.</h2><br>
              </div>
              <div #infoPrimary>
                <ol>
                  <li>The Welcoming, The Beginning</li>
                  <li>Marrying Yourself Journey for the Masculine</li>
                  <li>The Antidote for Codependency</li>
                  <li>Who I Am</li>
                  <li>Getting Engaged</li>
                  <li>Commitment Mudra Flow</li>
                  <li>Taming Your Mind, Embracing Your Heart, Loving Your Body, Nourishing Your Soul</li>
                  <li>Self-Retrieval</li>
                  <li>Embodying Goddess Wisdom</li>
                  <li>Our Feminine and Masculine Selves</li>
                  <li>The Four Archetypes of the Mature Masculine</li>
                  <li>Romancing Yourself</li>
                  <li>Parenting Yourself Well</li>
                  <li>Boundaries and Empowerment</li>
                  <li>Relationship With the Divine</li>
                  <li>Intentions and Vows</li>
                  <li>Wedding Time</li>
                  <li>The Path of Self Marriage</li>
                </ol>
              </div>
              <!-- <div class="footer">Keep Scrolling Below ↓↓↓↓↓</div> -->
            </div>
          </div>
          <div #panelContainer2 class="panel-container2">
            <div #secondaryPanel class="panel secondary-panel">
              <div>
                <h2>The best way to approach this is to make it yours.</h2>
              </div>
              <div>
                <p>It will take dedication. Know this before you sign up. It is guided dedication to yourself — time,
                  energy,
                  nurturing and empowering time with yourself. Sometimes you will want to do it, excited to grow into
                  what
                  next and sometimes you won't want to do it, you will wish you didn't have to, you will procrastinate
                  doing
                  it, you will make excuses... and it is the warrior spirit in you that is with you as you sign up for
                  this —
                  because self love is not based on how you are feeling toward yourself. Self love is sometimes a
                  spiritual
                  practice, a discipline, an inner posture you cultivate towards yourself, just like you love your
                  children,
                  partners, moms and dads, siblings, friends… you don't always feel like it, but you show up again and
                  again.
                  This BELOVED relationship is not based on how you feel. It is based on a fierce commitment that says
                  Yes,
                  I am going to Marry myself and grow into how to be my very best partner.
                </p>
              </div>
            </div>
            <!-- <div #tertiaryPanel class="panel tertiary-panel">
              <div>
                <p>Tertiary Panel</p>
              </div>
              <div class="footer">Keep Scrolling Below ↓↓↓↓↓</div>
            </div> -->
          </div>

          <div class="panel-next1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi rerum quisquam placeat earum animi, beatae
            accusamus eveniet tempora adipisci nam repellat dolorem. Molestiae cumque dignissimos nobis maxime impedit
            velit amet?
          </div>
          <div class="panel-next2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum voluptatum esse, repellat fuga ad quasi
            error molestiae excepturi deleniti saepe adipisci sint beatae dolores, minima natus commodi eius maxime?
          </div>

          <div #panelContainer3 class="panel-container2">
            <div #primaryPanel2 class="panel primary-panel2">
              <img #image1 src="../../../assets/WomanHidingEyes.jpg">
              <h1>To Know Yourself</h1>
            </div>
            <div #secondaryPanel2 class="panel secondary-panel2">
              <h1>Is To Love Yourself</h1>
            </div>
            <div #tertiaryPanel2 class="panel tertiary-panel2">
              <h1>The Marrying Yourself Journey</h1>
            </div>
          </div>
          <div class="panel-next3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi rerum quisquam placeat earum animi, beatae
            accusamus eveniet tempora adipisci nam repellat dolorem. Molestiae cumque dignissimos nobis maxime impedit
            velit amet?
          </div>
          <div class="panel-next4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum voluptatum esse, repellat fuga ad quasi
            error molestiae excepturi deleniti saepe adipisci sint beatae dolores, minima natus commodi eius maxime?
          </div>        
        </div>
      </ion-col>
      <ion-col class="ion-align-items-center ion-text-center">
          <ion-button [routerLink]="['/workshops']">Back to Workshops</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>