<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 17 - Wedding Time
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <a href="https://unsplash.com/photos/St4qInZrYC4" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module17/redKnotOnBranch.jpg"
              alt="Red knot tied to branch - Photo by Will O on Unsplash">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module17/redKnotOnBranch.jpg"
                alt="Red knot tied to branch - Photo by Will O on Unsplash">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">WEDDING TIME</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module17/redKnotOnBranch.jpg"
                alt="Red knot tied to branch - Photo by Will O on Unsplash">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 17<br>Wedding Time</h1>
      </ion-col>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2 class="section-title">Wedding Day Testimonial</h2>
        <div class="video-player">
          <div #weddingTestimonialVimeo>
          </div>
        </div>
        <p><i></i></p>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h2 class="section-title">HONOR YOURSELF ON YOUR WEDDING DAY</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #honorYourselfAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule17%2Faudio%2FHonorYourselfOnYourWeddingDay.mp3?alt=media&token=003f79c0-51cc-465b-a7a1-41e13c815b9a"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1701 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Guided Imagery Before Wedding Ceremony -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/L0hTzbOXaXY" target="blank">
              <img src="../../../../assets/workshop1/module17/circleWhiteHearts.jpg"
                alt="Circle of white hearts - Photo by Joanna Kosinska on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">GUIDED IMAGERY BEFORE WEDDING CEREMONY</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #guidedImageryAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule17%2Faudio%2FGuidedImageryBeforeWeddingCeremnonyMirror.mp3?alt=media&token=a8c87a02-0285-440b-b363-38710438fced"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1702 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Guided Imagery Before Wedding Ceremony -->
      <!-- BEGINNING OF MODULE SECTION Your Wedding Ceremony -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module17/weddingAltar.jpg"
                alt="An example of a wedding alter to marry yourself">
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">YOUR WEDDING CEREMONY</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>You are standing or sitting before the beautiful alter you created for yourself.
            </p>
            <p>Breathe.  Take your time.<br>
              Look deep into your eyes.<br>
              Honor yourself.<br>
              Ritualize your wedding.<br>
              Maybe you light a candle to represent the love you are committed to with yourself.<br>
              Maybe you have bowls of water near the alter and you wash your hands and feet to symbolize 
              cleansing of the past and new beginning.<br>
              Maybe you invoke Vertical Alignment.<br>
              Maybe you smudge yourself or ask someone else to smudge you.<br>
              Whatever it is, make it yours, make it holy.<br>
              Then speak your vows and commitments as you make eye contact with yourself.<br>
              Consciously give — and — receive each vow, commitment and intention.<br>
              Offer yourself the wedding ring or symbol of your marriage.<br>
              Receive the wedding ring or symbol of marriage.<br>
              Breathe. Take your time. Truly, no rush.<br>
              This is not a performance piece.<br>
              This is you authentically, genuinely, showing up for your self.<br>
              Arriving, with yoursel, to yourself, in a most powerful way.<br>
              You, here now, pledging and demonstrating your commitment to yourself.<br>
              Your self-marriage will exist inside of you for the rest of your life.<br>
              Remember, no one and nothing can ever diminish your marriage to yourself.<br>
              Be bold, be brave, be all of who you are as you marry all of who you are.
            </p>
            <p>After you make your vows and receive the marriage symbol, pause, breathe. don't rush. 
              See into your eyes and then as you take leave of the alter, allow yourself to be seen 
              by others. Receive hugs and being celebrated and witnessed in one of the most intimate 
              experiences of your life.<br>
              Or, if you did not invite people to your wedding ritual, turn to nature. Be seen by The Wonder. 
            </p>
            <p class="section-subtitle ion-text-center">Celebrate by clicking the "I DO!" button</p>
          </ion-col>
          <ion-col size="6" offset="3">
            <ion-button expand="block" (click)="showCongrats()">I DO!</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Your Wedding Ceremony -->
      <!-- BEGINNING OF MODULE SECTION Congratulations -->
      <ion-col size="12">
        <div *ngIf="!showRemainingModule" class="hideCongrats">
          <p>This hides the congratulations until user clicks the "I DO" button</p>
        </div>
        <ion-row class="section-container">
          <!-- <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://www.dreamstime.com/abstract-human-your-mind-spiritual-consciousness-mirror-watercolor-painting-illustration-design-drawn-abstract-human-your-mind-image193100410" target="blank">
              <img src="../../../../assets/workshop1/module16/futureself.jpg"
                alt="Future self - Photo 193100410 / Mirror © Benjavisa Ruangvaree | Dreamstime.com
                C">
            </a>
          </ion-col> -->
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 *ngIf="showRemainingModule" class="section-title">CONGRATULATIONS!</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #congratulationsAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule17%2Faudio%2FCongragulations.mp3?alt=media&token=93c2ec62-4260-44d2-8cfd-e5fb1bc35801"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1703 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Treat yourself exquisitely. You are newly married. Everything is special and a treat. 
              This is a unique time. Live it fully. Soak it in. Continue to woo yourself, honor yourself, 
              be in awe of your utter amazing you-ness!
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Congratulations -->
      <!-- BEGINNING OF QUOTES -->
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module16/quoteMarryYourselfFirst.jpg">
        <img src="../../../../assets/workshop1/module16/quoteLoveYouForever.jpg">
      </ion-col>
      <!-- END OF QUOTES --> 
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module15']" 
        routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 15
        </ion-button>
        <ion-button 
        routerDirection="forward">Module 17 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
