<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title color="primary">
      Psychotherapy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid [@colorChange]="isDone ? 'true' : 'false'" (@colorChange.done)="onAnimationEvent($event)">
    <ion-row>
      <ion-col size-xs="12" size-lg="6">
        <ion-img src="/assets/hhc-logo-deva.png" [routerLink]="['/home']"></ion-img>
      </ion-col>
      <ion-col size-xs="12" size-lg="6" class="ion-align-self-center">
        <p class="quote-font">I wish I could show you when you are lonely or in the darkness the astonishing
          light of your own being.<br>~ Hafiz</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" size-xs="12" class="left-column trnsp-white-bkgrnd font-20">
        <h1>Psychotherapy</h1>
        <p>I see Psychotherapy as a path of healing and transformation that is founded in a courageous commitment to self-exploration -- within the safe container of a therapeutic relationship that is based on equality and mutual respect.
        </p>
        <p>Psychotherapy offers guidance to free ourselves from old pain and trauma, and helps to release old beliefs, defenses and other behavioral patterns that once helped us to survive -- but now no longer serve us.  It also offers corrective emotional experiences that shift the internal "emotional blueprint," developing alternative templates for more authentic and satisfying relationships.
        </p>
        <p>This occurs through various ways, to mention a few --- the therapeutic relationship itself, training in developing and internalizing positive parenting, mindful experience and changing thinking and behavioral patterns.
        </p>
      </ion-col>
      <ion-col size-lg="6" size-xs="12" class="right-column font-20">
        <ion-row>
          <ion-col size="12" no-padding class="top-section image-cropper">
            <img src="../assets/psychotherapy-room.jpg" class="centered">
          </ion-col>
          <ion-col size="12" class="bottom-section trnsp-white-bkgrnd">
            <h2>More About Psychotherapy</h2>
            <ion-row (click)="flyAway()">
              <ion-col>

              </ion-col>
              <ion-col>
                <div class="tree-bird">
                  <div class="tree-img">
                    <img src="../assets/more-info.png">
                  </div>
                  <div class="bird-img" *ngIf="birdPresent" [@birdState]="flyAwayState">
                    <img src="../assets/bird-right.png">
                  </div>
                </div>
              </ion-col>
              <ion-col>

              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col size="12">
                <h2>Click any button for more information</h2>
                <ion-button [routerLink]="['/psychotherapy/individual']">Individual</ion-button>
                <ion-button [routerLink]="['/psychotherapy/couples']">Couples</ion-button>
                <ion-button [routerLink]="['/psychotherapy/group']">Group</ion-button>
                <ion-button [routerLink]="['/psychotherapy/healing-exercises']">Healing Exercises</ion-button>
                <ion-button [routerLink]="['/psychotherapy/life-coaching']">Life Coaching</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>