<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 04 - Getting Engaged
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row class="ion-margin-right">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module04/WomanHandHeart.jpg">
          <h1>Module 04<br>Getting Engaged</h1>
        </ion-col>
        <!-- BEGINNING OF MODULE SECTION -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src=" ">
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">Section Title Here</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #firstAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule03%2Faudio%2FWho%20I%20AM.mp3?alt=media&token=6eff2a1c-4309-4be6-9a63-111c30881b47" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration401 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </ion-col>
          <ion-row class="assignment">
            <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                <ion-checkbox #assignment0301 color="primary"></ion-checkbox>
              </ion-col>
            <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
              <ion-icon name="heart-circle"></ion-icon> 
            </ion-col>
            <ion-col size="9" class="ion-margin-right ion-padding">
              <p></p>
            </ion-col>
          </ion-row>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Hailee Steinfeld - Love Myself</h2>
            <div class="video-player">
              <div id="youtube-player4-1">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
        </ion-row>
        <!-- END OF MODULE SECTION -->
        <!-- BEGINNING OF PRACTICES -->
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">Practice Title Here</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practice04Audio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule03%2Faudio%2FWalking%20_I%20AM_%20Practice%20followed%20by%20a%20Writing%20Exercise.mp3?alt=media&token=240fe81c-c795-4b85-90f7-d745caf6a770" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration402 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>
              ~~ 
            </p>
            <p>
              ~~ 
            </p>
            <p>
              ~~ 
            </p>
            <p>
              ~~ 
            </p>
          </ion-col>
        </ion-row>
        <!-- END OF PRACTICES -->
        <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
            <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
          </ion-button>
          <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
            <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
          </ion-button>
        </ion-col>
        <!-- END OF COMPLETE MODULE BUTTONS -->
        <!-- BEGINNING OF NAVIGATION BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button [routerLink]="['/workshops/marrying-yourself/module03']"
          routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 03</ion-button>
          <ion-button
          routerDirection="forward">Module 05 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
