<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 04 - Getting Engaged
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row class="ion-margin-right">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module04/WomanHandHeart.jpg">
          <h1>Module 04<br>Getting Engaged</h1>
        </ion-col>
        <!-- BEGINNING OF MODULE SECTION Embarking on Getting Engaged -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src=" ">
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">EMBARKING ON GETTING ENGAGED</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #firstAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule04%2Faudio%2FEmbarking%20on%20Getting%20Engaged.mp3?alt=media&token=8543abbb-4d9b-43a8-8c9c-4068f6b0e748" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration401 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>This is a sacred journey with yourself — one that will forever change your life and 
              your relationship with yourself.</p>
            <p>You are about to get engaged! How cool is that?! You are on the threshold of major transformation. 
              This commitment to yourself that you are embarking on is radical! That’s right — it's about opening 
              to radical love for yourself.</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Hailee Steinfeld - Love Myself</h2>
            <div class="video-player">
              <div id="youtube-player4-1">
              </div>
            </div>
            <p><i>
              I am including Hailee Steinfeld’s song "Love Myself" because it is a great, high energy impassioned 
              song all about loving ourselves. When she says, “I don’t need anyone else,” I invite you to think 
              of it as claiming having everything you need within yourself.
            </i></p>
          </ion-col>
        </ion-row>
        <!-- END OF MODULE SECTION Embarking on Getting Engaged -->
        <!-- BEGINNING OF MODULE SECTION Principles for engagement -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module04/LoveYourself.jpg">
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">PRINCIPLES FOR ENGAGEMENT</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #principlesAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule04%2Faudio%2FPrinciples%20for%20Engagement.mp3?alt=media&token=30cbfd3f-f364-40be-87e9-0c243a4013df" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration402 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Your relationship with yourself is the primary beloved relationship, always, for all time.</p>
            <p>~~ No one and nothing can ever take this away from you or diminish it.</p>
            <p>~~ Loving others arises from loving yourself</p>
            <p>~~ Another relationship does not make you whole and complete. You are whole and complete onto 
              yourself.
            </p>
            <p>~~ Your engagement time puts you in high gear for courting yourself, listening to yourself, 
              honoring yourself, prioritizing yourself.
            </p>
            <p>~~ As you spend time with the course work online, see it as a way of re-charging your batteries.</p>
            <p>~~ Remember, there is no divorce!</p>
            <p>~~ From the moment you get engaged, you are committing to honor yourself as the most important 
              partner life could offer -- yourself!</p>
          </ion-col>
          <ion-row class="assignment">
            <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                <ion-checkbox #assignment0401 color="primary"></ion-checkbox>
              </ion-col>
            <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
              <ion-icon name="heart-circle"></ion-icon> 
            </ion-col>
            <ion-col size="9" class="ion-margin-right ion-padding">
              <p></p>
            </ion-col>
          </ion-row>
        </ion-row>
        <!-- END OF MODULE SECTION Principles for engagement -->
        <!-- BEGINNING OF PRACTICES -->
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">Practice Title Here</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practice04Audio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule03%2Faudio%2FWalking%20_I%20AM_%20Practice%20followed%20by%20a%20Writing%20Exercise.mp3?alt=media&token=240fe81c-c795-4b85-90f7-d745caf6a770" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration403 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>
              ~~ test test test
            </p>
            <p>
              ~~ 
            </p>
            <p>
              ~~ 
            </p>
            <p>
              ~~ 
            </p>
          </ion-col>
        </ion-row>
        <!-- END OF PRACTICES -->
        <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
            <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
          </ion-button>
          <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
            <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
          </ion-button>
        </ion-col>
        <!-- END OF COMPLETE MODULE BUTTONS -->
        <!-- BEGINNING OF NAVIGATION BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button [routerLink]="['/workshops/marrying-yourself/module03']"
          routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 03</ion-button>
          <ion-button
          routerDirection="forward">Module 05 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
