<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tribute To Donna<br>Module 06 - Developing Attraction 
      to the Opposite Sex at 70
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="img-container ion-padding ion-text-center">
        <a href="https://unsplash.com/photos/nL7b9lnJo38" target="blank">
          <img src="../../../../assets/workshop02/module06/manWomanBook.jpg"
            alt="Photo by Ben White on Unsplash">
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>DEVELOPING ATTRACTION TO THE OPPOSITE SEX AT 70</h1>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Developing Attraction to the Opposite Sex at 70 -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">ATTRACTION TO THE OPPOSITE SEX</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #attractionAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FIntroModuleFive.mp3?alt=media&token=2f3e1b5e-7a4d-460d-b276-2ec16adbe146" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0601 * 1000 | date:'mm:ss' }}</p>
            </div>  
          </ion-col>
          <ion-col class="ion-margin-right ion-padding">
            <p>
              The one who must be behind the wheel of your vehicle and driving is the one who is interested 
              in you having romance in your life. A man in your life. Let's call her your "Spiritual Self".
            </p>
            <p>
              Since your Spiritual Self is leading the way, what we are calling in, most importantly, is a soul 
              connection. A soul connection shows itself by how comfortable you feel around someone, you share 
              similarities, you laugh together, your conversation flows naturally, you like yourself around that 
              person and you are interested in spending more time together. Be open to "soul connecting" and 
              allowing romantic energy to rise from this flow.
            </p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/55bVEzGVnzY" target="blank">
              <img src="../../../../assets/workshop02/module06/womanMoon.jpg"
                alt="Photo by Javier Allegue Barros on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE LAW OF VIBRATION</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #lawOfVibrationAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FTheLawOfVibrationModule6.mp3?alt=media&token=40141c0d-162b-42f6-b528-c84823fe5754" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0602 * 1000 | date:'mm:ss' }}</p>
            </div>  
          </ion-col>
          <ion-col class="ion-margin-right ion-padding">
            <p>
              Before we proceed, understand the law of vibration — vibration attracts like vibration. So, 
              re- awaken your romantic self. That's right — romance yourself. Woo yourself. Be in love 
              with yourself. Be in the wow of you. Be enthralled with how wonderful you are. Not in a 
              conceited way, but rather a loving way. And expand this, and be in love with everyone you meet.
            </p>
            <p>
              So, lets begin.
            </p>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Scripting Done in 5 Steps -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Developing Attraction</p>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-title">DEVELOPING ATTRACTION</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #developingAttractionAudio>
                        <source
                          src=""
                          type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0603 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0601 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      1. Stand vertical — either outside, looking at a tree, or the sky or inside, looking in the 
                      mirror — and invoke: "I Invoke my Spiritual Self to be in the drivers seat as I embark on 
                      manifesting my male romantic companion now in my life. I invoke Her to be present and open 
                      to growing experiences of deepening in friendship and connection, enjoyment and pleasure. I 
                      invoke her so that my heart leads with openness and curiosity over judgement and resistance. 
                      I invoke her so that I can learn about emotional intimacy and meet ways that I can grow in 
                      vulnerability, connection and love. I open to learning about how romance can grow from a 
                      place of connection and enjoying someone. I invite myself to learn new ways of opening to love."
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0602 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      2. Learn more about how your friends chose their newer partners. What attracted them in the 
                      first place? How did they grow romantically interested? Talk directly about this with some friends.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0603 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      3. Be open to dating again. Hold the posture that you are going to be in a romantic loving 
                      relationship and you are drawing this in. When you go out on a date, if you are enjoying 
                      your time with someone, play with two different channels. The first one is inspired by when 
                      we played dolls with our neighbor and I was your live doll but we made me blind. Remember? 
                      Lets for a few minutes, imagine when you are spending time with a nice guy, lets play that 
                      you are blind this time. (He he). Yes, you are blind and you can't see the person but you 
                      are able to experience his presence in all the other ways. What do you get about who he is 
                      if you can't see him? What is enjoyable about your time?
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>
                      It's just kind of interesting, right? To use your senses other than visual.
                    </p>
                    <p>
                      Now, second channel — you put on a lens that only sees goodness and beauty. This lens 
                      magnifies what is nice appearing and good and beautiful about someone, inside and out, 
                      and this lens minimizes what is not appealing... so much so, that even for a few minutes 
                      of spiritual practice, what is not attractive is on the back burner or even off the 
                      burner. Just practice. This is a spiritual practice.
                    </p> 
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment0604 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      4. Call in your male match every day. Invoke and say good morning to him and talk to him 
                      and say good night to him. Remember when we were young and we would dream about who our 
                      husbands were and what they were doing that exact moment, knowing that they are in existence 
                      somewhere?
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>
                      Well, let's do the same thing now. Let's wonder what he is up to and let's call him in. Talk 
                      to him. And visualize a shimmering ray of light connecting your soul star with his. Your soul 
                      star is about six inches above the crown of your head. You can also imagine intermingling pink 
                      and green cords connecting your heart chakra with his; an indigo blue cord connecting your 
                      minds and a red cord of light connecting your sexual centers. See these shimmering cords of 
                      connection alive, running energy in a circuit between the two of you.
                    </p> 
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <img src="../../../../assets/workshop02/module06/soulStar.jpg">
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Scripting Done in 5 Steps -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Developing Attraction to the Opposite Sex at 70 -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/tribute-to-donna/module05']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Module 05</ion-button>
         <ion-button [routerLink]="['/workshops/tribute-to-donna/module07']"
        routerDirection="forward">Module 07 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
