<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 11 - The Four Archetypes of the Mature Masculine
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <!-- <a href="https://unsplash.com/photos/MD6E2Sv__iA" target="_blank"> -->
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module11/mountains.jpg"
              alt="desert mountain">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module11/mountains.jpg"
                alt="desert mountain">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">THE FOUR ARCHETYPES OF THE MATURE MASCULINE</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module11/mountains.jpg"
                alt="desert mountain">
            </div>
          </div>
        <!-- </a> -->
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 11<br>The Four Archetypes of the Mature Masculine</h1>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <h2 class="section-title">THE WAY TO WORK THIS MODULE</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #introModule11Audio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTheWayToWorkThisModule.mp3?alt=media&token=989d4e2f-e14c-4807-b626-741d2ad2a970"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1101 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <h2 class="section-title">INTRO TO THE FOUR ARCHETYPES</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #introTo4ArchetypesAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FWelcomingToTheFourArchtypes.mp3?alt=media&token=23a3d140-1b22-4efb-8293-f2e8cbad79ad"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1102 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2 class="video-title">The Lover Within | How Moonlight Relates to ALL Men</h2>
        <div class="video-player">
          <div id="youtube-player1103">
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>The framework of King, Warrior, Magician, Lover Archetypes was developed by Jungian analysts 
          Robert Moore and Douglas Gillette.
        </p>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION The Lover -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE LOVER</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #theLoverAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTheLover.mp3?alt=media&token=d4e6aa8f-637d-464c-8572-14a3fb5011b8"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1103 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/umfpFoKxIVg" target="blank">
              <img src="../../../../assets/workshop1/module11/manFaceUpEyesClosed.jpg"
                alt="Photo by Elijah Hiett on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">SHADOW ASPECT OF THE LOVER ARCHETYPE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #shadowAspectLoverAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FThe%20ShadowOfTheLover.mp3?alt=media&token=1e6de211-767c-49f5-a58e-57e1e332a3c1"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1104 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <!-- BEGINNING OF Sharings From Men - Lover -->
          <ion-col size="12">
            <ion-row class="sharings-from-men">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">LOVER - SHARINGS FROM MEN...</h2>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>The "Lover Archetype" feels connected to the Universe, which I experience as the “Great Mystery”. 
                  I often experience the lover archetype through my senses, which are heightened and feel awake. 
                  This is both a blessing and it can also be a burden — if not tamed with boundaries.            
                </p>
                <p>The lover can easily be seduced, if not grounded in the KING. The boundaries from the King are 
                  critically important to how I am able to manage all that I feel — versus being chaotic and 
                  boundless with my feelings and senses.
                </p>
                <p>As the lover, I have learned how supremely impactful it is for me to be clear and committed to 
                  my boundaries, in alignment with the King archetype.              
                </p>
                <p>If not guided by The King archetype, "I" the Lover, will chase the intensity of all that I feel 
                  and sense and then be left with wanting more. I will therefore find myself creating messy situations, 
                  with lots of drama because I'm looking for the lover in me to be met outside of myself (which 
                  is insatiable).
                </p>
                <p>As I mature and season as a man, I experience my lover archetype self loving my-self unconditionally 
                  and therefore, grounding in my primary relationship with myself as first and foremost.
                </p>
                <p>I validate my lover by validating my authenticity.
                </p>
                <p>The lover seeks connection and reciprocation. He may or may not get that reciprocation from others so 
                  therefore he must not depend on those outside of himself to validate his lover self as ONLY he can.
                </p>
                <p>Feeling and sensing can lead to hurt and pain but NOT numbness. Better to feel than to be numb. Even 
                  in the hurt and pain, I find myself alive and honoring of the “Great Mystery,” which I experience as 
                  within everyone and everything.
                </p>
                <p>I also recognize that I must be kind to myself and love myself along the way, all the while being kind 
                  and loving to all others. A Win Win! This is The Way of The Lover archetype as I live it.
                </p>
                <p>-Jeffree S. Gars<br>
                  LCSW Psychotherapist/Counselor, DC Doctor of Chiropractic           
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">TONY'S TAKE ON THE "LOVER"</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #tonyLoverAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTonysTakeOnTheLoverArchetype.mp3?alt=media&token=91f79461-6262-4f94-899e-a7dacbf9bedb"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1108 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF Sharings From Men - Lover -->
          <!-- BEGINNING OF PRACTICES For The Lover -->
          <ion-col size="12">
            <ion-row class="practices">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">PRACTICES FOR THE LOVER</h2>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Journaling: What is your relationship with the lover archetype?</p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">JOURNALING - LOVER</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #journalingLoverAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FJournalLoverArchetype.mp3?alt=media&token=0fee3a51-17aa-436b-af5e-bb53ac5be0c8"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1105 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Sit down to a favorite meal.
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">FEASTING ON A MEAL</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #feastingOnaMealAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FFeastingOnaMeal.mp3?alt=media&token=5f1478fa-0a76-43aa-b7f3-e5e3587011d7"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1106 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Pay special attention to the sensuality of an experience.</p>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Allow the Lover to write a love letter to life!</p>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF PRACTICES For The Lover -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION The Lover -->
      <!-- BEGINNING OF MODULE SECTION The Warrior -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE WARRIOR</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #theWarriorAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FIntroIntoTheWarrior.mp3?alt=media&token=db999f8d-147e-4744-8ff9-0064db920a5a"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1109 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/Iro6cBbsXOo" target="blank"> -->
              <img src="../../../../assets/workshop1/module11/manCityBackdrop.jpg"
                alt="man with braided hair in bun against city backdrop">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">SHADOW ASPECT OF THE WARRIOR ARCHETYPE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #shadowAspectWarriorAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FShadowOfTheWarrior.mp3?alt=media&token=7e97b682-e919-478f-be3c-3aa61650a70f"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1110 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="video-title">The Archetype of the Warrior - How Films Help Empower Us All</h2>
            <div class="video-player">
              <div id="youtube-player1104">
              </div>
            </div>
          </ion-col>
          <!-- BEGINNING OF Sharings From Men - Warrior -->
          <ion-col size="12">
            <ion-row class="sharings-from-men">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">WARRIOR - SHARINGS FROM MEN...</h2>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>Although I can, of course, see elements of all four archetypes in myself, there is no 
                  question that the Warrior in me is the strongest and most prominent.
                </p>
                <p>[I know - kind of odd for a 65 year old peace-nik who hasn't been in a physical fight 
                  since 5th grade!]
                </p>
                <p>The Warrior spirit in me is what has kept me alive: the willingness to go through 
                  (sometimes intense) internal discomfort in service to the Greater Missions of Acceptance 
                  and Kindness and Inclusion.
                </p>
                <p>If I've got any "super-powers", it's telling the truth even when it's not comfortable, 
                  and NEVER GIVING UP. Every time life knocks me down emotionally (which it has a tendency 
                  to do at times), the Warrior in me eventually gets me back up and back on Mission. It 
                  doesn't matter how wounded I feel, or how embarrassed. Something in me just will not allow 
                  me to give up on, or to betray, my Mission to support the freer flow of Love and Kindness 
                  in this world.
                </p>
                <p>All these skills were essential, for example, to my getting through graduate school: pushing 
                  through endless tasks and assignments and tests and challenges to fulfill the Mission of 
                  becoming capable of helping others.
                </p>
                <p>Far more challenging than that, though, surviving and healing from my shitty childhood has 
                  required every bit of Warrior energy I could find in myself. Originally, I put my Warrior 
                  energy to work building and maintaining a fortress to protect my heart (i.e., "what is sacred"). 
                  Then, in my twenties and thirties, I discovered that this very same fortress I had worked so hard 
                  to build was now directly in the way of my ability to experience love. So now much of my Warrior 
                  energy is assigned to the task of actively "de-structuring" the walls and motes and booby traps 
                  of this fortress that no longer serves me.
                </p>
                <p>Said another way, it took drawing on Warrior energy to erect and maintain my inner protection 
                  mechanisms in order to survive as a kid. And now, in order to thrive as an adult, I am applying 
                  this same Warrior energy to the task of deconstructing the inner prison that my fortress eventually became.
                </p>
                <p>Nevertheless, the Mission has always been the same: To do whatever it takes to protect and clear the way 
                  for Love to flow more powerfully and freely through my own true heart.
                </p>
                <p>One of my current growing edges as a warrior is self-protection. I deeply value courageous vulnerability, 
                  the strength it takes to tell the truth about one's insides, even when it's not flattering to one's "image" 
                  or conducive to one's "standing." I deeply value the courage it takes to honestly acknowledge genuine 
                  weakness or woundedness or need -- and I deeply value the strength it takes to ask for (much less receive!) 
                  real help from others. Lately, however, I'm coming to realize that I sometimes take it too far, and lead 
                  with "courageous vulnerability" to the point where I make myself vulnerable by the dictionary definition 
                  of the word, i.e., "susceptible to attack."
                </p>
                <p>My childhood did not teach me how to stand up for myself, or even that I was worth standing up for. 
                  My dad's best (and no doubt well-intentioned) advice to me about dealing with bullies was to do whatever 
                  it took to AVOID them — cross the street, walk the other way, pretend you don't notice them, don't make 
                  eye contact, get small and play dead. "Don't make trouble."
                </p>
                <p>Obviously, these are very "unwarriorlike" approaches to protecting what is sacred (i.e., one's own 
                  true self). Much of who I am today can be understood as a replay or a reaction to these powerfully 
                  fear-based, disempowering early learnings. I continue to extricate myself from this "trance of fear" 
                  on a daily basis.
                </p>
                <p>Another growing edge for me as a Warrior these days is discipline. Many times in my life I have been 
                  remarkably disciplined — clearly even over-disciplined (e.g., working out so much that I lost muscle 
                  mass). In recent years, however, I can see that I have swung too far the other way again. I have allowed 
                  myself to get too comfortable with feeling comfortable. The Warrior in me knows that it's time to tighten 
                  things up again — to expect more from myself, to take better care of myself. Hopefully this time around 
                  I will find a better balance point between refusing comfort and indulging it.
                </p>
                <p>Whether I had the words or not, my longstanding self-proclaimed Mission has always been to be as open a 
                  conduit for the free flow of Love & Light into this world as I can possibly be.
                </p>
                <p>By "self-proclaimed", I don't so much mean to imply that I CHOSE this Mission — like one's sexual preferences, 
                  it's more like I discovered that this simply IS my Mission. It really doesn't feel "optional" to me.
                </p>
                <p>If you think about it, there is an obvious irony and seeming contradiction in being a "Warrior of and for Love." 
                  How can the skills of a warrior possibly be applied to "protecting" Love & Kindness?
                </p>
                <p>This are my ongoing dilemmas — How do I stand up strong for kindness? What must I vanquish in the name of Love? 
                  Since the principles of Acceptance, Kindness and Inclusion are my "King", by definition however I stand up, and 
                  whatever I see fit to vanquish, I must find a way to do so with an intention to do no harm, and to only destroy 
                  that which gets in the way of the free flow of Love & Kindness & Connectedness.
                </p>
                <p>On the shadow side, my inner Warrior itches to DO SOMETHING to "fight" the forces of racism, of patriarchy, of 
                  cruelty and exclusion, of hypocrisy and blind obedience to false authority. The danger here, as always, is getting 
                  myself stuck in the mode of "looking for a fight" (e.g., "doom-scrolling") — and/or giving in to "hating the haters" 
                  (thus becoming exactly what I claim to be fighting "against").
                </p>
                <p>At the core of my Warrior Heart, I know Love cannot be served by hating (or fearing) ANYONE (including "me").
                </p>
                <p>So it seems my Core Warrior Mission at the present time is finding the wisdom to not give in to hate or fear or 
                  shame -- and the courage, instead, to notice and stand up for what is beautiful in all of us (yes, including "me"!).
                </p>
                <p>-Tony Rooney<br>
                  July, 2022                  
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">TONY'S TAKE ON THE "WARRIOR"</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #tonyWarriorAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTonysTakeOnTheWarrior.mp3?alt=media&token=ac623e0c-f5b6-464e-aa54-c770759664b8"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1112 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF Sharings From Men - Warrior -->
          <!-- BEGINNING OF PRACTICES For The Warrior -->
          <ion-col size="12">
            <ion-row class="practices">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">PRACTICES FOR THE WARRIOR</h2>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Name and write about positive warrior role models in your life.</p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">JOURNALING - POSITIVE WARRIOR ROLE MODEL</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #positiveWarriorModelAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FNameWriteAboutPositiveWarriorRoleModels.mp3?alt=media&token=5f0d5b44-b650-4ac9-a58f-ff505dcc6797"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1111 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Name how the warrior is operating in your life.
                </p>
                <p>~~ Now, write a letter to your inner warrior and instruct him on what is important to you.
                </p>
                <p>~~ Have your warrior write you back.
                </p>
                <p>~~ Contemplate what principles, values or qualities are most sacred to you. What are you 
                  willing to stand up for, to endure discomfort for, if necessary, to "fight" for?
                </p>
                <p>~~ Write down the story (however brief) of one time you exercised COURAGE (i.e., right action 
                  in the face of fear) in protecting or defending something sacred to you.
                </p>
                <p>~~ Practice the yoga warrior posture:
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                <h2 class="video-title">Warrior Pose Flow - Man Flow Yoga</h2>
                <div class="video-player">
                  <div id="youtube-player1101">
                  </div>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                <h2 class="video-title">Warrior One Yoga Pose - Yoga With Adriene</h2>
                <div class="video-player">
                  <div id="youtube-player1102">
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF PRACTICES For The Warrior -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION The Warrior -->
      <!-- BEGINNING OF MODULE SECTION The Magician -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE MAGICIAN</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #theMagicianAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FWelcomingIntoTheMagician.mp3?alt=media&token=5393a828-e7a9-4f48-b990-c78b1b6bc2f1"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1113 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/Iro6cBbsXOo" target="blank"> -->
              <img src="../../../../assets/workshop1/module11/openHandToBlueSky.jpg"
                alt="open hand to blue sky">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">SHADOW ASPECT OF THE MAGICIAN ARCHETYPE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #shadowAspectMagicianAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTheShadowOfTheMagician.mp3?alt=media&token=811b9d0f-83eb-4dd9-99f9-e6d0be23f008"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1114 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="video-title">Venturing into Sacred Space | Archetype of the Magician</h2>
            <div class="video-player">
              <div id="youtube-player1105">
              </div>
            </div>
          </ion-col>
          <!-- BEGINNING OF Sharings From Men - Magician -->
          <ion-col size="12">
            <ion-row class="sharings-from-men">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">MAGICIAN - SHARINGS FROM MEN...</h2>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding ion-text-center">
                <div class="border-quote">
                  <blockquote>
                    “I want to know if you can disappoint another to be true to yourself. If you can bear the 
                    accusation of betrayal and not betray your own soul. If you can be faithless and therefore 
                    trustworthy.”
                  </blockquote>
                  <cite>Oriah Mountain Dreamer The Invitation</cite>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>I am a magician.
                </p>
                <p>On many different levels.
                </p>
                <p>I'll show you the most obvious demonstration by a magic trick.            
                </p>
                <p>By careful manipulation, deception, misdirection and story - I entertain you.
                </p>
                <p>It sets your brain whirling - how?
                </p>
                <p>And we don't tell you. We want you to enjoy and to struggle with how and why.
                </p>
                <p>In my life - I have been a magician, a photographer, a priest, a psychotherapist, 
                  a father.  
                </p>
                <p>I attempted social change and failed - I have been a 'wrench in the gears' - 
                  subversive, a skeptic, a counter cultural irritant, a political activist and at 
                  present - I am a change agent.
                </p>
                <p>As a part of those things - necessary to the doing of those things - I have also 
                  been a thief, a liar, a manipulator, an opportunist, an adulterer...fueling my 
                  shadow - and its impact... my self/ego destruction, relationship abuse, and voluntary 
                  defrocking.
                </p>
                <p>---------------------------<br>
                  The magician watches and thinks.  (observing ego)
                </p>
                <p>He observes and makes sense of (too much) information. (knowing what others don't)
                </p>
                <p>He helps people see and make decisions. (manipulation)<br>
                  ---------------------------
                </p>
                <p>I was a lonely child - a latchkey kid - alone. I didn't know at the time -  I was 
                  an abused child.
                </p>
                <p>This forged an introversion. I wanted to be liked. I was sweet and funny. I was and 
                  am mischievous. I love girls and animals.
                </p>
                <p>I was and am an observer - of what was around me.
                </p>
                <p>I saw racism. hypocrisy. injustice. exclusion.
                </p>
                <p>I don't like people.
                </p>
                <p>And I saw inclusion, art, helpers, love and embrace.
                </p>
                <p>I love people.
                </p>
                <p>I see the darkness of the gothic south, the lies of the church and white people, the 
                  manipulation in politics for personal gain.
                </p>
                <p>My generation (the boomers) wanted to be different. We all saw what was. We intended to 
                  get rid of the "man" and replace it with love, peace and rock and roll (and drugs). 
                  We sold out.
                </p>
                <p>I see how people can be brought into the sacred - in nature, a pew, a therapist couch, 
                  a photograph - in an embrace.
                </p>
                <p>At my best - I saved and restored life, found lost souls, included the excluded, saw 
                  beauty and loved big.
                </p>
                <p>At my worst - I was not aware of the 'same time' destruction my shadow wrought.
                </p>
                <p>I am at present - humbled, quiet, and seeking to restructure how I am to use my power 
                  for good. To control my grandiosity and keep my ego deconstructed. I want to recover 
                  and restore. I want to love big.
                </p>
                <p>Be a magician. 
                </p>
                <p>Observe, know, manipulate for good.
                </p>
                <p>Know your shadow.
                </p>
                <p>-Thomas Watson Query<br>
                  June 19, 2022                  
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">TONY'S TAKE ON THE "MAGICIAN"</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #tonyMagicianAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTonysTakeOnTheMagician.mp3?alt=media&token=2c86227f-9442-49a1-aa56-e379814a5905"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1119 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF Sharings From Men - Magician -->
          <!-- BEGINNING OF PRACTICES For The Magician -->
          <ion-col size="12">
            <ion-row class="practices">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">PRACTICES FOR THE MAGICIAN</h2>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Daily meditation practice. Decide how long you want to commit to sitting and how many 
                  days a week you commit to and then, follow through. Know how you want to do your spiritual 
                  practice and discover the power of it. Build the inner muscles of your warrior, not based 
                  on feelings but rather discipline.</p>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Find and approach a mentor.
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">CHOOSING A MENTOR</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #chooseMentorAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FMYJ-ChooseAndReceiveYourMentor.mp3?alt=media&token=dc3c430f-9760-436e-8c81-712b2564ecf8"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1115 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Be a mentor.
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">BE A MENTOR</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #beaMentorAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FMYJ-BeAMentor.mp3?alt=media&token=c9b6cc12-07a0-41ac-b7da-d9a6b60cb08b"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1116 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Create a rite of passage of some sort.
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">CREATE A RITE OF PASSAGE</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #riteOfPassageAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FCreateaRiteofPassage.mp3?alt=media&token=6dfaa945-c4e1-4149-87a3-6b0f52992a26"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1117 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Create sacred space in your life.
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">CREATE A SACRED SPACE</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #sacredSpaceAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FCreateaSafeSpaceForYourself.mp3?alt=media&token=d96bda5f-6ec2-4d37-b942-7c4e7bbb97cc"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1118 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF PRACTICES For The Magician -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION The Magician -->
      <!-- BEGINNING OF MODULE SECTION The King -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE KING</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #theKingAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FIntroToTheKing.mp3?alt=media&token=7afd6afe-cea2-4491-ad01-25590cf6a667"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1120 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/bTF3gkd2L28" target="blank">
              <img src="../../../../assets/workshop1/module11/mlkjr.jpg"
                alt="Photo by Unseen Histories on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">SHADOW ASPECT OF THE KING ARCHETYPE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #shadowAspectKingAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTheShadowOfTheKing.mp3?alt=media&token=bd9fe68f-76bd-4ce9-be53-7b9dbe1900b8"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1121 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="video-title">What Makes a Great King? Exploring the Archetype of the King</h2>
            <div class="video-player">
              <div id="youtube-player1106">
              </div>
            </div>
          </ion-col>
          <!-- BEGINNING OF Sharings From Men - King -->
          <ion-col size="12">
            <ion-row class="sharings-from-men">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">KING - SHARINGS FROM MEN...</h2>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">TONY'S TAKE ON THE "KING"</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #tonyKingAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FTonysTakeOnTheKing.mp3?alt=media&token=fc680690-0e9a-4622-8b16-c49892d9630b"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1125 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF Sharings From Men - King -->
          <!-- BEGINNING OF PRACTICES For The King -->
          <ion-col size="12">
            <ion-row class="practices">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">PRACTICES FOR THE KING</h2>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Recognize others who embody Mature King energy.</p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">RECOGNIZE KING ENERGY</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #recognizeKingAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FRecognizeKingEnergy.mp3?alt=media&token=1bf69893-baf6-4f55-9d23-92c57052291f"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1122 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Write about your experience.
                </p>
                <p>~~ Do practices in your life that help you to feel centered, grounded, present, and intact.
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">PRACTICES FOR KING ENERGY</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #practiceKingAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FPracticesForExperiencingKingEnergy.mp3?alt=media&token=45006ccb-3ea0-48d5-b22b-c2f1be206401"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1123 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Write about what helps you to feel empowered as the king of your own domain.
                </p>
                <p>~~ Write down the principles that you want to live by and then write about how you already 
                  live each one.
                </p>
                <p>~~ Stand in Vertical Alignment</p>
              </ion-col>
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-subtitle">VERTICAL ALIGNMENT</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #verticalAlignmentAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FVericalAlignment.mp3?alt=media&token=052d7972-22e9-4666-916d-40166659e366"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1124 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF PRACTICES For The King -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION The King -->
      <!-- BEGINNING OF MODULE SECTION Overview of the Four Archetypes -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">OVERVIEW OF THE INTEGRATION OF THE FOUR ARCHETYPES</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #integrationArchetypesAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FOverviewHowFourArchetypesIntegrate.mp3?alt=media&token=1b78640e-f658-4b1f-8f1f-5a1bb9df353d"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1126 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://www.amazon.com/King-Warrior-Magician-Lover-Rediscovering/dp/0062506064" target="blank">
              <img src="../../../../assets/workshop1/module11/bookCover.jpg"
                alt="Book cover of King, Warrior, Magician, Lover">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <p>Take a quiz to help discover more about your masculine archetypes:
            </p>
            <p><a href="https://uquiz.com/quiz/UAZsNt/king-warrior-magician-lover-quick-kwml" target="_blank">
              King Warrior Magician Lover Quick KWML by jschwa
            </a></p>
            <p><a href="https://scuffedentertainment.com/king-warrior-magician-lover-test" target="_blank">
              King Warrior Magician Lover Test by Samantha Stratton
            </a></p>
          </ion-col>
          <!-- BEGINNING OF PRACTICE For Viewing the Integration -->
          <ion-col size="12">
            <ion-row class="practices">
              <ion-col size="12" class="ion-padding ion-text-center">
                <h2 class="section-title">THE PRACTICE FOR INTEGRATING THE FOUR ARCHETYPES</h2>
                <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #viewingIntegrationAudio>
                    <source
                      src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule11%2Faudio%2FWhichArchetypeIsNeededMore.mp3?alt=media&token=db7f35f3-2d6d-4471-ab9a-1e3d5becb74b"
                      type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration1127 * 1000 | date:'mm:ss' }}</p>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Learn how to pay attention and name which archetype is operating in your life at 
                  any given moment, while it is happening. As you name it, thank you. Notice it. Honor it 
                  for how he is showing up.</p>
              </ion-col>
              <ion-col size="12" class="ion-margin-right ion-padding">
                <p>~~ Pay attention to which archetype is needed more of in particular situations and make 
                  it a practice to call upon that archetype.
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF PRACTICE Viewing the Integration -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Overview of the Four Archetypes -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module10']" 
        routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 10
        </ion-button>
        <ion-button [routerLink]="['/workshops/marrying-yourself/module12']"
        routerDirection="forward">Module 12 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>