<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tribute To Donna<br>Module 04 - Forgiveness and Healing
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="img-container ion-padding ion-text-center">
        <a href="https://unsplash.com/photos/b7QwXDDEwv8" target="blank">
          <img src="../../../../assets/workshop02/module04/forgivenessLetters.jpg"
            alt="Photo by Alex Shute on Unsplash">
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>FORGIVENESS AND HEALING</h1>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Forgiveness and Healing -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col class="ion-margin-right ion-padding">
            <p>
              This module is a bit of a deep dive. Enter into it when you have energy and time to give 
              to it. Allow enough time to go through all of the steps without interruption. Perhaps a 
              few hours.    
            </p>
            <p>
              Okay, here we go. Here we grow. Here we heal.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">SELF-FORGIVENESS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #selfForgivenessAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FSelfForgiveness.mp3?alt=media&token=86124466-4e96-41a8-8f6b-7a2738e19f50" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0401 * 1000 | date:'mm:ss' }}</p>
            </div>  
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Self-Forgiveness -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment">
                <!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Self-Forgiveness</p>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <h2 class="section-title">SELF-FORGIVENESS ASSIGNMENT</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #selfForgivenessAssignAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/tribute-to-donna%2Faudio%2FSelfForgivenessAssignments.mp3?alt=media&token=2038d089-ded8-4e38-b563-d0b5e1dd019a" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0402 * 1000 | date:'mm:ss' }}</p>
                    </div>  
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0401" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0401')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0401" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0401')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      1. Write down what you did that you think you are being punished for. Be specific. Don't hold 
                      back. Don't be vague. Get it out on paper. No one will ever see this but you. It is between 
                      you and your soul and spirit. Write it all. Breathe, let yourself feel, be with it....
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0402" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0402')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0402" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0402')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      2. Now, I want you to remember everything that was inside of you as you did these "wrongs" — 
                      I want you to write about everything that was going on inside of you. What she was carrying 
                      from the past, what she was feeling, why was she so shut down. This is a doorway into 
                      compassion and empathy as we fill in the details of what was going on.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0403" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0403')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0403" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0403')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      3. Now, rewrite and integrate the first step and second step but this time I want you to 
                      replace the “You” that you hold as guilty with either me or Nicole. (I know you access 
                      tons of compassion and empathy for either one of us. So, use which ever one of us that 
                      will help to unlock your heart right now.) So, for example, if you had written in the 
                      first step, "I didn't talk to him at the fireworks" and in number two step, you wrote, 
                      "I was feeling so upset and overwhelmed, like I just couldn't do this again, it was so 
                      disappointing because I had a little hope and now I felt like I was falling into a hole."
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>
                      Now, in this third step, replace the "I" with another person who you empathize easily with, 
                      lets say me, and you write: "Deva didn't talk to him at the fireworks. She just couldn't even 
                      look his way. Her heart was in her feet. She was so disappointed and scared and overwhelmed 
                      that this was happening again. A nightmare." And write the story all over again, this time 
                      using and filling in the details of the story using me or Nicole instead of you.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0404" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0404')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0404" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0404')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      4. Now, take a breather. Go for a walk but stay with yourself. Be with your heart. Be with forgiveness. 
                      Your willingness to bring forgiveness to me or Nicole in that situation. Your opening to willingness 
                      to fully forgive yourself as you would me or Nicole and how you would help us to forgive ourselves. 
                      With your very practical wisdom approach.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-padding">
                    <p>
                      Don't scatter your energy. This is a sacred walk. Walk to Poppy's Point. Breathe.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0405" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0405')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0405" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0405')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      5. Upon your return, write yourself a forgiveness note. As you would write me or Nicole, 
                      with the same practical wisdom approach you bring to either of us.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0406" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0406')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0406" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0406')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      6. Now, as corny as it sounds, go to a part of your house that feels sacred. Maybe in 
                      front of the new art piece you bought yourself of the spiritual woman in your bedroom 
                      or the horse in your foyer. Get on your knees. Get a blanket to kneel on first. Be kind. 
                      And bring your head to the ground. In child's pose. You are a child, my love, in the Universe.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>
                      Ask for full forgiveness. Ask for full release. Open to trusting that all of what happened is so 
                      much bigger than you. You were just a player in the big drama. Ask for total healing.
                    </p>
                    <p>
                      And while you are there, also ask for your heart to fully forgive Michael for leaving you. As you 
                      are on your knees, surrendering, we know that we don't know. There is a Mystery to all of it. We don't 
                      know why he couldn't reach for any other option than what he did. We don't know why it was his destiny. 
                      We do know it is so much bigger than what you did or didn't do. Breathe, stay there as long as you 
                      need to. This is between you and Spirit. Don't cut it short for some superficial reason. You are here, 
                      in the fire of the soul — stay until you know its time to rise up.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="work02assign0407" name="checkbox" color="primary"
                      (click)="assignmentUncheck('work02assign0407')"></ion-icon>
                    <ion-icon *ngIf="!work02assign0407" name="square-outline" color="primary"
                      (click)="assignmentCheck('work02assign0407')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon>
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>
                      7. Rise up and go immediately to the mirror. Look into your sincere eyes. Bring your palms of your 
                      hands to your cheeks. Touch yourself with the hands of compassion, as Mom would bring to you, as 
                      your spirit guides would bring to you. Be their hands. Touch and be tender. This is what you need. 
                      Utter tenderness and forgiveness, healing and love.
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Self-Forgiveness -->
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/9BHvgvzGAbI" target="blank">
              <img src="../../../../assets/workshop02/module04/handsSpiritualPurple.jpg"
                alt="Photo by Lampos Aritonang on Unsplash">
            </a>
          </ion-col>
          <ion-col class="img-container ion-padding ion-text-center">
            <a href="https://www.inspiredlifehq.com/manifestation-quotes/" target="blank">
              <img src="../../../../assets/workshop02/module04/yourThoughtAre.jpg"
                alt="Your thoughts are the architects of your destiny. – David O. Mckay">
            </a>
          </ion-col>
          <ion-col class="img-container ion-padding ion-text-center">
            <a href="https://www.purewow.com/wellness/manifestation-quotes" target="blank">
              <img src="../../../../assets/workshop02/module04/everySingleSecond.jpg"
                alt="EVERY SINGLE SECOND IS AN OPPORTUNITY TO CHANGE YOUR LIFE BECAUSE IN ANY MOMENT YOU CAN CHANGE THE WAY YOU FEEL. – RHONDA BYRNE">
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Forgiveness and Healing -->
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/tribute-to-donna/module03']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Module 03</ion-button>
         <ion-button [routerLink]="['/workshops/tribute-to-donna/module05']"
        routerDirection="forward">Module 05 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>