<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 13 - Parenting Yourself Well
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <a href="https://unsplash.com/photos/Y5JVToef_sk" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module13/handsFamily.jpg"
              alt="Photo by Ricardo Moura on Unsplash">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module13/handsFamily.jpg"
                alt="Photo by Ricardo Moura on Unsplash">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">PARENTING YOURSELF WELL</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module13/handsFamily.jpg"
                alt="Photo by Ricardo Moura on Unsplash">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 13<br>Parenting Yourself Well</h1>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>Welcome into a very important module — this module is about upgrading your ability to parent 
          yourself well.
        </p>
        <p>Take your time with this module. Let yourself truly deepen in it, for it can change your life 
          and how you care for yourself in the most profound ways.
        </p>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h2 class="section-title">INTRODUCTION TO PARENTING YOURSELF WELL</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #parentingYourselfWellAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FIntroParentingYourselfWell.mp3?alt=media&token=a735ccb0-6474-4885-95d8-34e05b2fc520"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1301 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Transactional Analysis -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">INTRODUCTION TO TRANSACTIONAL ANALYSIS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #transactionalAnalysisAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FIntroTransactionalAnalysis.mp3?alt=media&token=1f4ce117-6aea-410c-8186-75735771b3f2"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1302 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/O-RKu3Aqnsw" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/pacDiagram.jpg"
                alt="parent, adult, and child diagram">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-subtitle">SELF INQUIRY THROUGH TRANSACTIONAL ANALYSIS LENS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #selfInquiryTALensAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FSelfInquiryThroughTALens.mp3?alt=media&token=914ff105-c655-4936-ad07-efd6d496ddd4"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1302b * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Transactional Analysis -->
      <!-- BEGINNING OF MODULE SECTION Positive Parent -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/O-RKu3Aqnsw" target="blank">
              <img src="../../../../assets/workshop1/module13/dadThreeKidsField.jpg"
                alt="Photo by Juliane Liebermann on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE POSITIVE PARENT</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #positiveParentAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FIntroPositiveParentingExercise.mp3?alt=media&token=d26be7d5-50c2-49d8-8db9-34613b91f9c1"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1303 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Loving You (feat. Jacob Hamilton) - Nora Wilke</h2>
            <div class="video-player">
              <div id="youtube-player1301">
              </div>
            </div>
            <p><i>This song is written from a grown child to her father. To me, it speaks of the importance 
              of how meaningful the bonds with our parents are — or impactful if we do not have these bonds.</i></p>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Ten Parent Functions -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment"><!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Ten Parent Functions</p>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <a href="https://unsplash.com/photos/20YP7NENJzk" target="blank">
                      <img src="../../../../assets/workshop1/module13/dadDaughterSink.jpg"
                        alt="Photo by CDC on Unsplash">
                    </a>
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">SENSE OF PLACE AND NURTURING</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #placeNurturingAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FSensePlaceNurturingRatingExercise.mp3?alt=media&token=3d0098cb-14fe-41e3-be95-7fb20a15b100" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1304 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1301 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>1.  Sense of Place - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1302 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>2.  Nurturing - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <a href="https://unsplash.com/photos/WvVyudMd1Es" target="blank">
                      <img src="../../../../assets/workshop1/module13/momDadHoldingBaby.jpg"
                        alt="Photo by Kelly Sikkema on Unsplash">
                    </a>
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">SUPPORT AND PROTECTION</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #supportProtectionAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FSupportProtectionRatingExericse.mp3?alt=media&token=92ccb440-0e16-442a-a0a0-873400dbc271" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1305 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1303 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>3.  Support - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1304 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>4.  Protection - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank">
                      <img src="../../../../assets/workshop1/module13/dadLaughingChild.jpg"
                        alt="Photo by Joice Kelly on Unsplash">
                    </a>
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">SETTING LIMITS, CONTAINMENT, AND STRUCTURING TIME</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #setContainStructureAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FSettingLimitsContainmentStructuringTimeRatingExercise.mp3?alt=media&token=3c5fd543-13a4-4546-916d-e17045db2302" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1306 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1305 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>5.  Setting Limits - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1306 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>6.  Containment - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1307 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>7.  Structuring Time - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <!-- <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank"> -->
                      <img src="../../../../assets/workshop1/module13/youngHandsHoldingOld.jpg"
                        alt="Photo 159435351 © Fortton | Dreamstime.com">
                    <!-- </a> -->
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">RESPECT, BONDING, AND CONSISTENCY</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #respectBondConsistentAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FRespectBondingConsistencyRatingExercise.mp3?alt=media&token=2cdab1f6-b556-4ee4-995b-da5ac6a2a0db" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1307 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1308 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>8.  Respect - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1309 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>9.  Bonding - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1310 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>10.  Consistency - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2>Good Job - Alicia Keys</h2>
                    <div class="video-player">
                      <div id="youtube-player1302">
                      </div>
                    </div>
                    <p><i></i></p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Ten Parent Functions -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Positive Parent -->
      <!-- BEGINNING OF PRACTICES of Positive Parenting -->
      <ion-col size="12">
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES OF POSITIVE PARENTING</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Lets explore how you can upgrade in your positive parenting of yourself: Have your Marrying Yourself 
              Journal ready to go and your fav pen.
            </p>
            <p>One way to proceed is to focus on one parent function a day. Do the recording in the morning and work 
              it all day long. 
            </p>
            <p>Take your time with the practices so you can genuinely deepen with each positive parent function.
            </p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/momHoldingDaughter.jpg"
                alt="Photo 217298965 © Prostockstudio | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF SENSE OF PLACE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practicePlaceAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FDeepeningSenseOfPlace.mp3?alt=media&token=e6ba224d-7c5e-4302-9513-a380fa195d34" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1308 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/momDaughterSidewalk.jpg"
                alt="Photo 212738746 © Aaron Amat | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF NURTURANCE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceNurturanceAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeNurturance.mp3?alt=media&token=4b734b0b-a1e5-46d5-8b5c-68bb848078bc" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1309 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <p>Look for all the ways you can wonderfully nurture yourself today.
            </p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/manHuggingHimself.jpg"
                alt="ID 166073529 © Khosrork | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/dadHelpingSonToWalk.jpg"
                alt="Photo 211603833 © Piksel | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF SUPPORT</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceSupportAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeSupport.mp3?alt=media&token=aab1585e-a0c2-4ef9-9c37-518e7cd4ee36" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1310 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/dfo06_DqxpA" target="blank">
              <img src="../../../../assets/workshop1/module13/redwoodTrees.jpg"
                alt="Photo by Victoria Palacios on Unsplash">
            </a>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/oUhSla4L_98" target="blank">
              <img src="../../../../assets/workshop1/module13/dadChildOcean.jpg"
                alt="Photo by Steven Van Loy on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF PROTECTION</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceProtectionAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeProtection.mp3?alt=media&token=73d938e2-7b43-484c-9883-5a3f98a639d8" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1311 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/oUhSla4L_98" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/screen.jpg"
                alt="window screen">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">HOW TO SCREEN AND WHY SCREENING</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceScreeningAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FTheScreeningTool.mp3?alt=media&token=1bfa006b-41ea-4a8a-8e44-faf2e739db9f" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1312 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>We screen to be released from unnecessary garbage we are carrying, whether we have absorbed 
              other people's stuff or we need to be freed from our own negative harnessing of ourselves.
            </p>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/oUhSla4L_98" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/womanYogaBubble.jpg"
                alt="Photo 8683396 © Zuberka | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">HOW TO SHIELD AND WHY SHIELDING</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceShieldingAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeShielding.mp3?alt=media&token=8a81ece5-c87d-4037-bc4f-72d24bde8c53" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1313 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>We shield as a non-violent yet powerful way of protecting ourselves. It is always good to shield 
              because there is just so much fear and anger and sorrow in our world. It surrounds us. Shielding allows love 
              and positive vibration to move through, but it protects your energy field from what you don't need or want.   
            </p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/oUhSla4L_98" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/womanBeachBubble.jpg"
                alt="Photo 18201291 © Haywiremedia | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/KQCXf_zvdaU" target="blank">
              <img src="../../../../assets/workshop1/module13/momSnuggleSon.jpg"
                alt="Photo by Jordan Whitt on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF SETTING LIMITS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceLimitsAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeSettingLimits.mp3?alt=media&token=4afd9283-2ba4-47f4-beb3-c139296bdd54" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1314 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">SETTING LIMITS DEMONSTRATION</h2>
            <div class="video-player">
              <div #settingLimitsVimeo>
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/7UOI1OZASZs" target="blank">
              <img src="../../../../assets/workshop1/module13/momLaughingSon.jpg"
                alt="Photo by Fernanda Greppe on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF CONTAINMENT</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceContainmentAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeContainiment.mp3?alt=media&token=f7b8a734-1b01-4fcd-8b9b-59417fdb6cc2" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1315 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <p>Have a soft blanket near you.
            </p>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/okmXGjOsLVM" target="blank">
              <img src="../../../../assets/workshop1/module13/girlWrappedBlanket.jpg"
                alt="Photo by lady girl on Unsplash">
            </a>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/7UOI1OZASZs" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/dadReadingToDaughter.jpg"
                alt="Photo 119401413 © Monkey Business Images | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF STRUCTURING TIME</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceStructuringTimeAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeStructuringTime.mp3?alt=media&token=0cc2f537-a106-4e06-96b3-09005a75c670" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1316 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/FHiJWoBodrs" target="blank">
              <img src="../../../../assets/workshop1/module13/dadSpecialSon.jpg"
                alt="Photo by Nathan Anderson on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF RESPECT</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceRespectAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeSelfRespect.mp3?alt=media&token=e72df6c7-7828-467d-a468-63ebbf38d02a" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1317 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/FHiJWoBodrs" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/indianCoupleWindow.jpg"
                alt="Photo 219680512 © Rido | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF BONDING</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceBondingAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeBonding.mp3?alt=media&token=3127ee3b-836f-427d-b5ad-4c0ef2f59d00" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1318 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/FHiJWoBodrs" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/parentHoldingChildHand.jpg"
                alt="Photo 108280722 © Vagengeym | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">THE PRACTICE OF CONSISTENCY, PREDICTABILITY, ACCOUNTABILITY</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceCPAAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FThePracticeAccountabilityConsistencyPredictibilty.mp3?alt=media&token=32ef7752-3688-40ad-a183-4cfd3db45016" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1319 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/FHiJWoBodrs" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/womanRaiseArmsCity.jpg"
                alt="ID 201513566 © Noipornpan | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2 class="section-subtitle">ACKNOWLEDGING YOURSELF FOR PARENTING</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #acknowledgeAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule13%2Faudio%2FAcknowedgeYourselfPositveParenting.mp3?alt=media&token=fd9cae66-7354-4a45-900b-b3ee87d3c993" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1320 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="practice-divider"></div>
          </ion-col>
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="https://unsplash.com/photos/FHiJWoBodrs" target="blank"> -->
              <img src="../../../../assets/workshop1/module13/WomanSmiling.jpg"
                alt="smiling woman">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Child of Mine - Carole King</h2>
            <div class="video-player">
              <div id="youtube-player1303">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>You Are Amazing - Lindsay Müller</h2>
            <div class="video-player">
              <div id="youtube-player1304">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Big Life - Lindsay Müller</h2>
            <div class="video-player">
              <div id="youtube-player1305">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Don't Hide Your Magic - Emily Arrow & Brad Montague</h2>
            <div class="video-player">
              <div id="youtube-player1306">
              </div>
            </div>
          </ion-col>
          <!-- <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Don't Hide Your Magic - Ballet by Performing Arts Studio</h2>
            <div class="video-player">
              <div id="youtube-player1307">
              </div>
            </div>
          </ion-col> -->
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://www.facebook.com/1696051280667284/photos/pb.100044161103009.-2207520000../2552577935014610/?type=3" target="blank">
              <img src="../../../../assets/workshop1/module13/WaysToParentYourself.jpg"
                alt="ways to parent yourself chart by Introvert Doodles">
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF PRACTICES of Positive Parenting -->
      <!-- BEGINNING OF QUOTES -->
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module13/YourInnerChildDidntJustGoAway.jpg">
      </ion-col>
      <!-- END OF QUOTES --> 
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module12']" 
        routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 12
        </ion-button>
        <ion-button [routerLink]="['/workshops/marrying-yourself/module14']"
        routerDirection="forward">Module 14 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>