<ion-app>
  <ion-menu contentId="main-content" type="push">
    <ion-content>
      <ion-toolbar color="tertiary">
        <ion-icon *ngIf="!showMainMenu" slot="end" name="arrow-down-circle-outline"></ion-icon>
        <ion-title (click)="toggleMenu('mainMenu')">Main<br>Menu</ion-title>
      </ion-toolbar>
      <!-- <ion-button (click)="getCurrentUser()">Get Current User</ion-button> -->
      <ion-list *ngIf="showMainMenu" id="inbox-list">
        <ion-note class="ion-padding ion-text-wrap">
          <!-- <span>{{ (currentUser$ | async).firstName }},<br></span> -->
          <span *ngIf="currentUser">{{ currentUser.displayName }},<br></span>
        Welcome to Healing Heart Communications!</ion-note>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item
          routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <!-- Workshop 1 Menu - Marrying Yourself -->
      <div *ngIf="isWorkshop01">
        <ion-toolbar color="secondary">
          <ion-icon *ngIf="!showWorkshop1" slot="end" name="arrow-down-circle-outline"></ion-icon>
          <ion-title (click)="toggleMenu('workshop1')">Workshop One<br>Marrying Yourself</ion-title>
        </ion-toolbar>
        <ion-list *ngIf="showWorkshop1">
          <ion-menu-toggle auto-hide="false" >
            <!-- <ion-list-header><h2>Modules</h2></ion-list-header> -->
            <ion-item button routerDirection="forward" detail="false"
            [routerLink]="['/workshops/marrying-yourself']">
              <ion-label class="ion-text-wrap">
                Table of Contents
              </ion-label>
            </ion-item>
            <ion-item button routerDirection="forward" detail="false" routerLinkActive="selected"
            [routerLink]="['/workshops/marrying-yourself/module01']">
              <ion-label class="ion-text-wrap">Module 01 - The Welcoming, The Beginning
              </ion-label>
            </ion-item>
            <ion-item button routerDirection="forward" detail="false" routerLinkActive="selected"
            [routerLink]="['/workshops/marrying-yourself/module02']">
              <ion-label class="ion-text-wrap">Module 02 - The Antidote to Codependency
              </ion-label>
            </ion-item>
            <ion-item button routerDirection="forward" detail="false" routerLinkActive="selected"
            [routerLink]="['/workshops/marrying-yourself/module03']">
              <ion-label class="ion-text-wrap">Module 03 - Who I Am
              </ion-label>
            </ion-item>
            <ion-item button routerDirection="forward" detail="false" routerLinkActive="selected"
            [routerLink]="['/workshops/marrying-yourself/module04']">
              <ion-label class="ion-text-wrap">Module 04 - Getting Engaged
              </ion-label>
            </ion-item>
            <ion-item button routerDirection="forward" detail="false" routerLinkActive="selected"
            [routerLink]="['/workshops/marrying-yourself/module05']">
              <ion-label class="ion-text-wrap">Module 05 - Commitment Mudra Flow
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
      <!-- Workshop 2 Menu - Coming Soon -->
      <div *ngIf="isWorkshop02">
        <ion-toolbar color="secondary">
          <ion-icon *ngIf="!showWorkshop2" slot="end" name="arrow-down-circle-outline"></ion-icon>
          <ion-title (click)="toggleMenu('workshop2')">Workshop Two<br>Coming Soon!</ion-title>
        </ion-toolbar>
        <ion-list *ngIf="showWorkshop2">
          <ion-list-header><h2>Table of Contents</h2></ion-list-header>
          <ion-item>
            <ion-label>Module 01</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Module 02</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ion-list id="inbox-list">
        <ion-list-header><h4>Access</h4></ion-list-header>
        <ion-menu-toggle>
          <ion-item *ngIf="!currentUser" lines="none" detail="false">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            <ion-button (click)="presentRegisterModal()">Register</ion-button>
          </ion-item>
          <ion-item *ngIf="!currentUser" lines="none" detail="false">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            <ion-button (click)="presentSignInModal()">Sign In</ion-button>
          </ion-item>
          <ion-item *ngIf="currentUser" lines="none" detail="false">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-button (click)="signOut()">Sign Out</ion-button>
          </ion-item>
          <ion-item *ngIf="isAdmin" lines="none" detail="false" 
          routerDirection="root" [routerLink]="['/admin']" routerLinkActive="selected">
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-button>Admin Dashboard</ion-button>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
  