ion-content {
  --background: url('/assets/bluesky-clouds2.jpg') no-repeat 100% 100%;
}

.newsletter-signup {
  background: rgba(255,255,255, .3);
  font-size: 20px;
  border: solid 10px #ffffff;
  border-radius: 25px;
  padding: 5px 20px;
}