<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 12 - Parenting Yourself Well
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <a href="https://unsplash.com/photos/Y5JVToef_sk" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module12/handsFamily.jpg"
              alt="Photo by Ricardo Moura on Unsplash">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module12/handsFamily.jpg"
                alt="Photo by Ricardo Moura on Unsplash">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">PARENTING YOURSELF WELL</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module12/handsFamily.jpg"
                alt="Photo by Ricardo Moura on Unsplash">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 12<br>Parenting Yourself Well</h1>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>Welcome into a very important module — this module is about upgrading your ability to parent 
          yourself well.
        </p>
        <p>Take your time with this module. Let yourself truly deepen in it, for it can change your life 
          and how you care for yourself in the most profound ways.
        </p>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h2 class="section-title">INTRODUCTION TO PARENTING YOURSELF WELL</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #parentingYourselfWellAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule12%2Faudio%2FIntroParentingYourselfWell.mp3?alt=media&token=f190ecb1-e98a-40c6-84bf-e09f27a42e3d"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1201 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h2 class="section-title">INTRODUCTION TO TRANSACTIONAL ANALYSIS</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #transactionalAnalysisAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule12%2Faudio%2FIntroTransactionalAnalysis.mp3?alt=media&token=9d426e50-0810-411d-9a87-f81b4d7c51da"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1202 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Positive Parent -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <a href="https://unsplash.com/photos/O-RKu3Aqnsw" target="blank">
              <img src="../../../../assets/workshop1/module12/dadThreeKidsField.jpg"
                alt="Photo by Juliane Liebermann on Unsplash">
            </a>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE POSITIVE PARENT</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #positiveParentAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule12%2Faudio%2FIntroPositiveParentingRefelctionExercise.mp3?alt=media&token=6d350c7c-0b54-4ea3-b999-7f37120501f6"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1203 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Loving You (feat. Jacob Hamilton) - Nora Wilke</h2>
            <div class="video-player">
              <div id="youtube-player1201">
              </div>
            </div>
            <p><i>This song is written from a grown child to her father. To me, it speaks of the importance 
              of how meaningful the bonds with our parents are — or impactful if we do not have these bonds.</i></p>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Ten Parent Functions -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment"><!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Nine (or Ten?) Parent Functions</p>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <a href="https://unsplash.com/photos/20YP7NENJzk" target="blank">
                      <img src="../../../../assets/workshop1/module12/dadDaughterSink.jpg"
                        alt="Photo by CDC on Unsplash">
                    </a>
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">SENSE OF PLACE AND NURTURING</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #placeNurturingAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule12%2Faudio%2FSensePlaceNurturingRatingExercise.mp3?alt=media&token=8ddcc282-6ee7-493b-87bd-042e7585fe53" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1204 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1201 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>1.  Sense of Place - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1202 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>2.  Nurturing - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <a href="https://unsplash.com/photos/WvVyudMd1Es" target="blank">
                      <img src="../../../../assets/workshop1/module12/momDadHoldingBaby.jpg"
                        alt="Photo by Kelly Sikkema on Unsplash">
                    </a>
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">SUPPORT AND PROTECTION</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #supportProtectionAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule12%2Faudio%2FSupportProtectionRatingExericse.mp3?alt=media&token=5ee1b557-91d4-485f-ab67-a3ebebb6b118" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1205 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1203 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>3.  Support - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1204 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>4.  Protection - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank">
                      <img src="../../../../assets/workshop1/module12/dadLaughingChild.jpg"
                        alt="Photo by Joice Kelly on Unsplash">
                    </a>
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">SETTING LIMITS, CONTAINMENT, AND STRUCTURING TIME</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #setContainStructureAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule12%2Faudio%2FSettingLimitsContainmentStructuringTimeRatingExercise.mp3?alt=media&token=aac6e36e-3451-405d-8817-b01e49ba111f" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1206 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1205 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>5.  Setting Limits - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1206 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>6.  Containment - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1207 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>7.  Structuring Time - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="img-container ion-padding ion-text-center">
                    <!-- <a href="https://unsplash.com/photos/38MGlMtsZyc" target="blank"> -->
                      <img src="../../../../assets/workshop1/module12/youngHandsHoldingOld.jpg"
                        alt="Photo 159435351 © Fortton | Dreamstime.com">
                    <!-- </a> -->
                  </ion-col>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <h2 class="section-subtitle">RESPECT, BONDING, AND CONSISTENCY</h2>
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #respectBondConsistentAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule12%2Faudio%2FRespectBondingConsistencyRatingExercise.mp3?alt=media&token=9f24b087-c018-4a4c-af3b-61bced957c9e" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration1207 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1208 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>8.  Respect - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1209 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>9.  Bonding - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-checkbox #assignment1210 color="primary"></ion-checkbox>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>10.  Consistency - Rate Mom, Dad, and You</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Ten Parent Functions -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Positive Parent -->



      <!-- BEGINNING OF PRACTICES For Romancing Yourself -->
      <ion-col size="12">
        <ion-row class="practices">
          
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ How does ______ (fill this in with your name) like to be romanced? How do you like to be romanced?
            </p>
            <p>~~ How have you loved others to romance you in the past?  This might give you some clues. 
            </p>
            <p>~~ Today, how do you love to be romanced by someone? Write. Pause recording....
            </p>
            <p>~~ What actions do I want to commit to in order for ________ (your name) to feel wanted, courted, 
              desired, romanced?
            </p>
            <p>~~ What music helps you to feel beautiful and alive? Try on Sade, or Let's Stay Together or anything 
              that does it for you. Just apply your favorite love songs to yourself.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Kiss of Life - Sade</h2>
            <div class="video-player">
              <div id="youtube-player1101">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Let's Stay Together - Al Green</h2>
            <div class="video-player">
              <div id="youtube-player1102">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ What are romantic verbal messages you want to give to yourself that lift you into the feeling 
              states of feeling beautiful, feeling wanted, sexy, titillated. Breathe. Write whatever comes to you...
            </p>
            <p>~~ What actions speak to you that helps you to feel lovely — that helps you to feel beautiful — 
              that helps you to feel wanted?
            </p>
            <p>~~ How have you longed to be courted but maybe didn't quite happen?
            </p>
            <p>~~ What helps you to feel all of your chakras open? Often we are all about the heart. And having 
              good talks. And, its also important to feel an opening.... In your whole being.... To feel beautiful. 
              Desirous. Desired.
            </p>
            <p>~~ What body postures helps you to feel beautiful?
            </p>
            <p>~~ What helps you to experience your whole self opening and happy to be alive?
            </p>
            <p class="ion-text-center">This is what you want to bring to yourself.<br>
              Write some more.
            </p>
            <p>~~ Write yourself a romantic letter to yourself. Be in love with you... What voice is this within you? 
              You have to know the receiver part of yourself really well to write a good love letter. Meaning, what 
              turns on this person? What helps them to feel wanted and loved and desired? And then you speak to her 
              or him in that language.
            </p>
            <p>~~ You can add writing sexy erotica to yourself. Seduce yourself! Enjoy!
            </p>
            <p class="ion-text-center">This is the yummy of romancing yourself!
            </p>
            <p>~~ How do you want to address yourself in the morning to turn on the romantic juices with yourself?
            </p>
            <p>~~ How do you want to say goodnight to yourself in a romantic way?
            </p>
            <p>~~ In the middle of the day, how do you want to surprise yourself with flirtations and romancing 
              of yourself?
            </p>
            <p>Now, go live it. Go put it all into practice. Journal about it here and there but mostly live it. 
              Date you. Court you. Flirt you. Pleasure yourself in all sorts of ways. Sensualize yourself. Make 
              love to yourself.
            </p>
            <p class="ion-text-center">Treat yourself in ways that only a wonderful lover would.
            </p>
            <p class="ion-text-center">For you from you:
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Rosé - Call Me Loop</h2>
            <div class="video-player">
              <div id="youtube-player1103">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Dance and move and be all you are:</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Good As Hell - Lizzo</h2>
            <div class="video-player">
              <div id="youtube-player1104">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Self Love - Call Me Loop</h2>
            <div class="video-player">
              <div id="youtube-player1105">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Now, again, learn the moves and do it! Self-love!</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Self Love by Call Me Loop - Janet Duke & Z Team</h2>
            <div class="video-player">
              <div id="youtube-player1106">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Truly dedicate yourself to this. Truly find out how delicious it is to woo yourself. Truly 
              find out how empowering it is to you. Truly grow in love with yourself by intentionally wooing 
              yourself.
            </p>
            <p>Take your time with this module. Make it a thing. Make it your thing. To be your most amazing 
              beloved by treating yourself as the most exquisite catch in the world.
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF PRACTICES For Romancing Yourself -->
      <!-- BEGINNING OF QUOTES -->
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module11/noteToSelf.jpg">
        <img src="../../../../assets/workshop1/module11/fly.jpg">
        <img src="../../../../assets/workshop1/module11/toFallInLove.jpg">
      </ion-col>
      <!-- END OF QUOTES --> 
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module11']" 
        routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 11
        </ion-button>
        <ion-button 
        routerDirection="forward">Module 13 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>