<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title color="primary">
      Group Psychotherapy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid [@colorChange]="isDone ? 'true' : 'false'" (@colorChange.done)="onAnimationEvent($event)">
    <ion-row>
      <ion-col size-xs="12" size-lg="6">
        <ion-img src="/assets/hhc-logo-deva.png" [routerLink]="['/home']"></ion-img>
      </ion-col>
      <ion-col size-xs="12" size-lg="6" class="ion-align-self-center">
        <p class="quote-font">I wish I could show you when you are lonely or in the darkness the astonishing
          light of your own being.<br>~ Hafiz</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col size="11" size-xl="5" class="trnsp-bkgrnd font-20">
        <h1>Transformational Integrative Group Psychotherapy</h1>
        <p>I see experiential work in a group therapy setting as one of the most effective psychotherapeutic 
          approaches for healing.</p>
        <p>At the very least in a group, people experience not being alone in how they feel. There is an 
          opportunity to receive unconditional acceptance and support as well as a safe container to do deep 
          transformative work.</p>
        <p>Transformational Integrative Group Psychotherapy is rooted in psychomotor therapy. Along with a 
          blend of other body-oriented therapies, the aim is to facilitate fundamental and lasting changes 
          in one's inner blueprint by offering a corrective emotional parenting imprinting. This involves 
          enrollments that antidote the specific dysfunctional "inner wiring" from childhood by imprinting 
          new and more inherently satisfying emotional learning experiences. I see each piece of work as a 
          sacred ritual — placing outside of oneself one's inner struggle, creating and receiving a positive 
          change in it and then internalizing it back inside. In this way, step-by-step, real change happens.</p>
        <p>I love experiential work in group settings because it works! I also love witnessing the beauty and 
          power of the connection between group members that is often profoundly life-changing. Because the 
          connections are authentic and deep, people truly experience being seen, known...  and loved.</p>
        <ion-row (click)="flyAway()">
          <ion-col>

          </ion-col>
          <ion-col>
            <div class="tree-bird">
              <div class="tree-img">
                <img src="../assets/go-back.png">
              </div>
              <div class="bird-img" *ngIf="birdPresent" [@birdState]="flyAwayState">
                <img src="../assets/bird-left.png">
              </div>
            </div>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
