<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Marrying Yourself Journey - by Deva Joy Gouss</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-margin ion-padding ion-text-center">
        <h1>The Marrying Yourself Journeys</h1>
      </ion-col>
      <ion-row>
        <ion-col size-md="8" offset-md="2" class="ion-padding">
          <h2 class="ion-text-center">Outline for Online Course</h2>
          <p class="ion-text-center">Sixteen modules will be presented to help you on your journey!</p>
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap">
              I. Welcoming, Embarking and Introduction (of Myself and the MYJourney.)
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              II. The Antidote to Codependency
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              III. Who I Am💗 (Knowing and Claiming) 
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              IV. Getting Engaged! (Commitment Mudra Flow)
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              V. Taming mind, Embracing Heart, Loving Body, Nourishing Soul
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              VI. Self-Retrieval (from Unresolved Past Relationships)
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              VII. Deepening in Self-compassion and Self- forgiveness  
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              VIII.	Embodying Goddess Wisdom: Seeing the Goddess in Everywoman; 
              Courageous Honesty, Walking the Path of Dharma, Asking for Help, Claim Your 
              Creative Expression, Being Bold, Impeccable and Bad Ass, In and Up, 
              The Practice of Receiving, the Practice of Now Wow
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              IX.	the Dance of the Masculine and Feminine Within You
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              X. Positive Parenting Care for your Inner Kids
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              XI.	Marrying the Divine
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              XII. Deepening in the Commitment Mudra Flow
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              XIII.	Romancing and Wooing
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              XIV. Writing Your Vows and Intentions
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              XV.	The Wedding... and Honeymoon 
            </ion-item>
            <ion-item lines="none" class="ion-text-wrap">
              XVI. Living Your Conscious Marriage With Yourself — the Art of Being Married
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-col size="12" class="ion-text-center">
        <h2>Devi Prayer</h2>
        <h2>Instructions to Buy Journal</h2>
      </ion-col>
      <!-- navigation buttons -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module01']"
        routerDirection="forward">Module 01 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
