<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-margin ion-padding ion-text-center">
        <h1>The Marrying Yourself Journeys</h1>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size-md="8" offset-md="2" class="ion-padding">
            <h2 class="ion-text-center">Outline for Online Course</h2>
            <p class="ion-text-center">Sixteen modules will be presented to help you on your journey!</p>
            <ion-list>
              <ion-item lines="none" button [routerLink]="['/workshops/marrying-yourself/module01']" detail>
                <ion-button slot="start" class="toc-button">
                  I.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  The Welcoming, The Beginning
                </ion-label>
              </ion-item>
              <ion-item lines="none" button [routerLink]="['/workshops/marrying-yourself/module02']" detail>
                <ion-button slot="start" class="toc-button">
                  II.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  The Antidote to Codependency
                </ion-label>
              </ion-item>
              <ion-item lines="none"button [routerLink]="['/workshops/marrying-yourself/module03']" detail>
                <ion-button slot="start" class="toc-button">
                  III.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Who I Am
                </ion-label>
              </ion-item>
              <ion-item lines="none" button [routerLink]="['/workshops/marrying-yourself/module04']" detail>
                <ion-button slot="start" class="toc-button">
                  IV.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Getting Engaged
                </ion-label>
              </ion-item>
              <ion-item lines="none" button [routerLink]="['/workshops/marrying-yourself/module05']" detail>
                <ion-button slot="start" class="toc-button">
                  V.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Commitment Mudra Flow
                </ion-label>
              </ion-item>
              <ion-item lines="none" button [routerLink]="['/workshops/marrying-yourself/module06']" detail>
                <ion-button slot="start" class="toc-button">
                  VI.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Taming Your Mind, Embracing Your Heart, Loving Your Body, Nourishing Your Soul
                </ion-label>
              </ion-item>
              <ion-item lines="none" button [routerLink]="['/workshops/marrying-yourself/module07']" detail>
                <ion-button slot="start" class="toc-button">
                  VII.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Self-Retrieval
                </ion-label>
              </ion-item>
              <ion-item lines="none" button [routerLink]="['/workshops/marrying-yourself/module08']" detail>
                <ion-button slot="start" class="toc-button">
                  VIII.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Embodying Goddess Wisdom
                </ion-label>
              </ion-item>
              <ion-item lines="none"lines="none" button [routerLink]="['/workshops/marrying-yourself/module09']" detail>
                <ion-button slot="start" class="toc-button">
                  IX.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Our Feminine and Masculine Selves
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-button slot="start" class="toc-button">
                  X.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Positive Parenting Care for your Inner Kids
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-button slot="start" class="toc-button">
                  XI.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Marrying the Divine
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-button slot="start" class="toc-button">
                  XII.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Deepening in the Commitment Mudra Flow
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-button slot="start" class="toc-button">
                  XIII.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Romancing and Wooing
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-button slot="start" class="toc-button">
                  XIV.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Writing Your Vows and Intentions
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-button slot="start" class="toc-button">
                  XV.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  The Wedding... and Honeymoon
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-button slot="start" class="toc-button">
                  XVI.
                </ion-button>
                <ion-label class="ion-text-wrap">
                  Living Your Conscious Marriage With Yourself — the Art of Being Married
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <h2>Devi Prayer</h2>
        <h2>Instructions to Buy Journal</h2>
      </ion-col>
      <!-- navigation buttons -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module01']"
        routerDirection="forward">Module 01 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
