<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 02 - Marry Yourself Journey for the Masculine
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module02/manUniverse.jpg">
        <h1>Module 02<br>Marrying Yourself Journey for the Masculine</h1>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Welcoming Men to MYJ -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">WELCOMING MEN TO THE MARRYING YOURSELF JOURNEY</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #welcomeMasculineAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FWelcomingAnyoneThatIdentifiesAsMasculine.mp3?alt=media&token=970c2ca0-522a-4f43-bc95-5480c3ffa312" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0201 * 1000 | date:'mm:ss' }}</p>
            </div>  
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>I want to welcome all men to the marrying yourself journey.</p>
            <p>We changed the Commitment Mudra Flow together in circle. Here is a video of us doing it together. 
              You will hear us invoke, Self-Respect, Self-Kindness, Self-Reliance, Self-Empowerment, Self-love... 
              I myself know, I myself trust, I myself love. I am my Beloved, my Beloved is me. HO!  Ho refers to 
              truth being spoken.</p>
            <p>This is in honor of the masculine within all of us.</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Male Commitment Mudra Flow</h2>
            <div class="video-player">
              <div #maleMudraFlowVimeo>
              </div>
            </div>
            <p><i>
            </i></p>
          </ion-col>
        </ion-row> 
      </ion-col>
      <!-- END OF MODULE SECTION Welcoming Men to MYJ -->
      <!-- BEGINNING OF MODULE SECTION Sharing From a Man in the MYJ -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">A SHARING FROM A MAN IN THE MARRYING YOURSELF JOURNEY</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding ion-text-center">
            <div class="border-quote">
              <blockquote>
                There is a duality in this experience that enables us to collectively feel supported and 
                be vulnerable. This allows us to approach and face our personal experiences in ways that 
                I don't think we otherwise could have. Deeper than at least I've ever done in my 31 
                years of being and existing, knowing that I am sharing it with 10+ other men. Not suffocated 
                by shame and left to journey into atonement, we are able to take bigger breaths and deeper 
                dives to understand the full scope of our being, then our interaction and experiencing of 
                the rest of existence, then perceptions of those realities. We feel connected to ourself 
                through this process because it is just to that...a commitment to always be the connection...
                a feeling of connection to the source regardless of the quality of our experiences, regardless 
                of the outcome. We are vulnerable in our courage, it is courageous to be vulnerable. I am my 
                beloved, my beloved is me!<br><br>
                I love myself and therefore I love each of you men and the bond we have formed!
              </blockquote>
            </div>
          </ion-col>
        </ion-row> 
      </ion-col>
      <!-- END OF MODULE SECTION Welcoming Men to MYJ -->
      <!-- BEGINNING OF PRACTICES Practicing Self Love -->
      <ion-col size="12">
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICING SELF LOVE</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>
              ~~ Write yourself a beautiful love letter. And then go to the mirror and read it to yourself.
            </p>
            <p>
              ~~ Practice the Commitment Mudra Flow created for the Masculine Energy and allow it to 
              re-arrange it.    
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- BEGINNING OF PRACTICES The antidote to codependency -->
      <!-- BEGINNING OF QUOTES -->
	    <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module02/divineMasculine.jpg">
        <img src="../../../../assets/workshop1/module02/awakenedMan.jpg">
      </ion-col>
	    <!-- END OF QUOTES --> 
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- navigation buttons-->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module01']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Module 01</ion-button>
         <ion-button [routerLink]="['/workshops/marrying-yourself/module03']"
        routerDirection="forward">Module 03 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>