<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module02/peopleWavingSun.jpg">
        <h1>Module 02<br>The Antidote to Codependency</h1>
      </ion-col>
      <ion-row class="section-container">
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">Ah, So This is Codependency</h2>
          <div class="audio-player">
            <audio controls controlsList="nodownload">
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FAhSoThisIsCodependency.mp3?alt=media&token=90553de4-b3de-4208-8b36-16023061b552" 
              type="audio/mpeg">
            </audio>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>Ah, so this is codependency!</p>
          <p>Unknowing of even the word, I was immersed in my addiction ~~.<br>Codependency.
            </p>
          <p>I started learning about “codependency” as years of self-neglect and self-betrayal 
            that caught up to me.</p>
          <p><i>Codependency ~~<br>
            An excessive emotional, physical, and psychological reliance on a dysfunctional relationship.
            </i></p>
          <p><i>One’s sense of identity to based on another.</i></p>
          <p><i>The codependent refuses to acknowledge that there is a problem inside of themselves.<br>
            The codependent actively acts out the belief that one’s own needs should be 
            sacrificed in service to others.<br>
            The codependent is driven to help, regardless of the consequences to oneself.<br>
            Because it arises from trying to avoid one’s own feelings and needs. And its an 
            attempt  to try to get one’s own needs met. It just doesn’t work
            </i></p>
            <p><i>“I will try to fix you — I will focus on you so that I don’t have to feel what 
              I am feeling. If I can change you, then I won’t feel this way anymore.”</i></p>
            <p><i>I will give my all to you so that you will get better and then I will feel worthy 
              or significant or safe or like you won’t leave me.</i></p>
            <p><i>Although the codependent might appear to be so giving and thoughtful, one’s own 
              needs for recognition and validation as well as fears of abandonment are perpetuating 
              the behaviors.</i></p>
            <p><i>Underlying the continual efforts to rescue the other are unrelenting desires to 
              be needed, loved and cherished.</i></p>
            <p><i>Also underlying the codependent behaviors is not knowing how to be with one’s 
              own feelings and to self-soothe.</i></p>
            <p>Codependency is a relationship in which one party, usually the individual who uses, 
              has many physical and emotional needs, and the other party, a family member or friend, 
              devotes most of their time and energy trying to fulfill those needs. The second party 
              is referred to as the codependent. Oftentimes, the codependent spends so much time and 
              energy assisting the loved one that the codependent’s own life, activities, and relationships 
              suffer in the process.</p>
            <p>This behavioral condition can be detrimental to both parties involved in the relationship. 
              The codependent’s individual life will suffer and the loved one might have a more difficult 
              time with recovery and maintaining a life away from destructive, unhealthy behaviors. Usually, 
              a codependent individual is overly attentive and can enable the challenges faced by the loved 
              one, making the recovery journey more complicated.</p>
            <p>There are recognizable symptoms of a codependent person. These include:</p>
            <ul>
              <li>Believing they can care for themselves without any help</li>
              <li>Low self-esteem</li>
              <li>Seeking recognition and praise from others</li>
              <li>Difficulty setting or maintaining healthy boundaries</li>
              <li>Feeling a need to be a caretaker for others</li>
              <li>Remaining extremely loyal, even in harmful situations</li>
              <li>Obsession with relationships, even if an emotional connection is lacking</li>
              <li>A need to please others and ensure others have a positive opinion of themselves</li>
              <li>Poor communication</li>
              <li>Difficulty handling change</li>
              <li>Often doing more than their share of work/responsibilities</li>
            </ul>
            <p>Because of the low self-esteem that codependent individuals have, they may look for some 
              kind of activity to keep themselves engaged and make themselves feel better. When a codependent 
              person takes on the role of caretaker for someone going through addiction, the intentions 
              are good. But eventually, the desire to take care of this person becomes a compulsion.</p>
          </ion-col>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>Everyone has their story. What is your story? When and with whom did you live out 
              your codependency? Or, you may presently be involved in a codependent relationship. 
              Either way, bring your pen to paper, set your timer for ten to fifteen minutes and write. 
              Just write and see what comes out.</p>
          </ion-col>
        </ion-row>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>Now read what you wrote. Breathe and notice what stirs in your body. Bring the palms 
              of your hands to your body where you feel the sensations and breathe into your heart, 
              through your hands and into where your body needs to feel the love...</p>
          </ion-col>
        </ion-row>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>Sophie Holohan - Codependent</h2>
          <div class="video-player">
            <div id="youtube-player2-1">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>8 Signs You May Be Codependent</h2>
          <div class="video-player">
            <div id="youtube-player2-2">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>If you would like more information about codependency, look at the 
            <a href="https://coda.org/wp-content/uploads/2018/09/Patterns-Characteristics-2011.pdf" target="_blank">Patterns and Characteristics of Codependence, </a>courtesy of 
            <a href="https://coda.org/" target="_blank">CoDA.org</a>.
          </p>
        </ion-col>
      </ion-row><!-- END OF MODULE SECTION Ah, So This is Codependency -->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2FpeekAroundDarkCorner.jpg?alt=media&token=db5df4b9-4e5b-424e-b654-39cf9d135ace">
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">Self-Betrayal</h2>
          <div class="audio-player">
            <audio controls controlsList="nodownload">
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FSelfBetrayalHurts.mp3?alt=media&token=39ef6dcb-1923-43ba-aa2c-be5ccc790d1c" 
              type="audio/mpeg">
            </audio>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>Self-betrayal. Hurts. So deep. And I felt so angry. An anger I hadn’t allowed myself 
            to feel before.</p>
          <p>Really, at myself, for abandoning myself. I didn’t know it, but by showing up for 
            another so intensely, and trying to avoid being abandoned, I was seriously being abandoned. 
            By my-self. By me!</p>
        </ion-col>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>Have you experienced betraying yourself? Breathe. Are there any areas in your current 
              life where you are not living in alignment with yourself and are in self-betrayal? 
              Set a timer again for fifteen minutes. Bring your pen to paper and just write. 
              You can start with “I know about self-betrayal...”. And just see what comes out 
              on the page....</p>
          </ion-col>
        </ion-row>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>Now read what you wrote. See where you feel this is in your body and again, bring your 
              hands to your body and breathe love into yourself.</p>
          </ion-col>
        </ion-row>
      </ion-row><!-- END OF MODULE SECTION Self-Betrayal -->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Fwoman-hand-on-chest.jpeg?alt=media&token=45847639-604a-46ac-b0cc-0aaf78498550">
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">Retrieving Myself</h2>
          <div class="audio-player">
            <audio controls controlsList="nodownload">
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FEmbarkingOnSelfRetrieval.mp3?alt=media&token=bf07216f-644d-4431-ab63-8ec63c5e0ffe" 
              type="audio/mpeg">
            </audio>
          </div>
          <h2 class="section-title">...more retrieving myself</h2>
          <div class="audio-player">
            <audio controls controlsList="nodownload">
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FMoreOnSelfRetrieval.mp3?alt=media&token=2dadd704-5621-4fc6-ab91-6bfb975ef345" 
              type="audio/mpeg">
            </audio>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>This woke me to the knowingness that I had no choice ~~
            <br>but to retrieve myself.</p>
          <p>The earth plates in my life were shifting - from the focus on “The Other” to myself.</p>
          <p>It became clear that no one but myself could fill the aching hole and this ultimately 
            was so empowering and transformational.</p>
          <p>I had to find the courage to actually face who I had become, how my sense of self had 
            deteriorated and how I was devastated by all the ways I betrayed myself, big and small, 
            loud and hidden.</p>
          <p>The necessity to retrieve myself became my number one mission - to listen to myself, 
            to feel my feelings, to become aware of my needs, to learn how to advocate for myself, 
            to voice what I need, value and believe in, to stand up for myself and say “no” when I 
            mean “no” and “yes” when I mean “yes,” to have boundaries and to protect my energy and 
            the younger parts of myself, and... to practice self-care as a necessity.... all of this 
            became internal parts of this enlivening, deepening journey that led me to marry myself.</p>
          <p>Retrieving.... <br>
            Me, myself and I. <br>
            A foundation with myself that no one and no-thing could ever diminish...
            </p>
          <p>Committing to the recovery of codependency is the process of retrieving myself.</p>
          <p>Recovery is releasing trying to change someone and instead being willing to be with how I feel in the 
            presence of how someone actually is with themselves and me — and then deciding if that works 
            for me or not, if I am not going to change them.</p>
          <p>Recovery is having boundaries and attending to what is arising inside of myself as priority — my 
            own feelings and needs — and learning how to advocate for what I need.</p>
          <p>Recovery is not looking for someone else to need and want me in order for me to feel okay.</p>
          <p>Recovery is the willingness to be uncomfortable if I am not trying to fill the empty spaces.</p>
          <p>Recovery is getting real with who others are versus who I want them to be.</p>
          <p>Recovery is no longer giving to someone else based on their “potential” but rather accepting what 
            is so and getting clear on what I need and want — and to be willing to walk away if necessary.</p>
          <p>Recovery is shifting my attention away from rescuing another to attending to myself — and learning 
            how to receive how much I can give!</p>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>How to STOP Betraying Yourself and Start Loving You</h2>
          <div class="video-player">
            <div id="youtube-player2-3">
            </div>
          </div>
        </ion-col>
      </ion-row><!-- END OF MODULE SECTION Retrieving Myself -->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">What is a Marriage Where There is no Option for Divorce?</h2>
          <div class="audio-player">
            <audio controls controlsList="nodownload">
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FAhSoThisIsCodependency.mp3?alt=media&token=90553de4-b3de-4208-8b36-16023061b552" 
              type="audio/mpeg">
            </audio>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>I began to contemplate, <br>
            What would be a marriage in which there was no divorce.</p>
          <p>I knew immediately that the only true answer was that the only marriage where there 
            is no option for divorce is a marriage to myself. I knew that moment that the remedy 
            to this painful, painful experience of divorce was to ultimately marry myself.</p>
          <p>Yup, I needed to marry me!</p>
          <p>At first there I felt terrified to be alone ~~ and to not play out my old patterns 
            of focusing on others, helping others, being there for others.</p>
          <p>I chose to spend time with me and not others, even if it meant I was crying, journaling, 
            wailing and feeling lonely. It was time to burn through all that by feeling it and communing 
            with my—self.</p>
          <p>As I allowed myself to feel it all, I sourced a strength and comfort within me.</p>
          <p>In time, I grew to love and enjoy and even crave time with myself. I got the knack 
            and the must for self-care. It became a necessity.</p>
        </ion-col>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>Time for your own self-exploration. Write the words, "Self-retrieval". And then just write.... 
              Perhaps you have experienced something similar to me or perhaps there are parts of you that 
              are calling out to be retrieved now. Just write for ten to fifteen minutes. Don’t think about it. 
              Just bring pen to paper and see what comes out on the page.</p>
          </ion-col>
        </ion-row>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>Now read what you wrote. See where this is in your body and bring your hands to your body 
              and again, breathe into your heart, into the palms of your hands, having contact with your 
              body, and breathe in the love, receive, and breathe the love out... let it be a circular 
              movement of inhaling and exhaling, a channel of love.</p>
          </ion-col>
        </ion-row>
      </ion-row><!-- END OF MODULE SECTION What is a Marriage Where There is no Option for Divorce? -->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2FyogaPoseFacingSun.jpg?alt=media&token=f9e5eb6d-392a-4276-86fa-1191dad9b98a">
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">Blossoming Into Myself</h2>
          <div class="audio-player">
            <audio controls controlsList="nodownload">
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FBlossoming.mp3?alt=media&token=47ce3355-8f43-448b-b99a-d2b1ddc9a127" 
              type="audio/mpeg">
            </audio>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>This relationship with myself began to truly root so deep inside my core and became so 
            alive - so dynamic, so core, so key - and still is.</p>
          <p>And what I love so much is that no one and no thing can take it away! I have said this 
            before and I will say it again.</p>
          <p>Because it is so great. So freeing. So empowering. So true.</p>
          <p>No one can diminish it!</p>
          <p>It is in my bones.</p>
          <p>I got engaged. I wooed and romanced myself the way I longed for.  I brought me flowers 
            and an engagement ring. I gave myself kindness — appreciations, acknowledgements, sensual time, 
            fun time, gifts, love notes, protection and boundaries. I looked myself in the mirror and 
            I asked myself if I would one day marry me? I told myself - in the mirror - eye to eye - that 
            we still had a lot of healing and growing to do before we could actually take vows, but I was 
            committing to learning how to be number one priority for myself. I was committed to doing this 
            healing work within myself so that when the time came for my wedding vows, I could truly say 
            and feel that I am my beloved and my beloved is me.</p>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>Rachel West - Reach</h2>
          <div class="video-player">
            <div id="youtube-player2-4">
            </div>
          </div>
          <p class="ion-padding ion-text-left">This song is very special to me because it was my theme song 
            during when I was making my way back to myself and from the throws of codependency. It helped me 
            to experience an intensity of deep, passionate conviction, one-pointed on retrieving and ultimately 
            re-claiming myself.</p>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>Vertical Alignment</h2>
          <div class="video-player">
            <div id="youtube-player2-5">
            </div>
          </div>
          <p class="ion-padding ion-text-left">The practice of Vertical Alignment came to me during my engagement 
            time and remains an antidote to “horizontal relating.” Horizontal relating is based in codependent behaviors. 
            It’s all about caring about how you see me, if you like me, how you respond to me as defining and impacting 
            my own self-esteem. Vertical alignment is the opposite. It is the rooting in the earth and the rising into 
            the sky. It is the act of stepping into the portal of energy, of light, that is above, moves through you and 
            roots deep into the earth. The practice of Vertical Alignment has the power to transform you energetically, 
            saving you from draining mental gymnastics that try to shift you out of the codependent undertow.</p>
          <p class="ion-text-center">Try it on. Step into it. Let it re-arrange you.</p>
        </ion-col>
      </ion-row><!-- END OF MODULE SECTION Blossoming Into Myself -->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src=" ">
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">Marrying Myself</h2>
          <div class="audio-player">
            <audio controls controlsList="nodownload">
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule02%2Faudio%2FMarryingMyself.mp3?alt=media&token=9e359bc6-d9c8-495b-8000-cf69de10b633" 
              type="audio/mpeg">
            </audio>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>After a year of separation and right after my divorce was finalized, actually, the very same day, 
            I flew to India. I married myself in my last week of my stay at the ashram. I was ready. I remember. 
            I stood tall, by the Goddess Durga statue, draped in a lovely soft flowing dress, with my vows in hand. 
            I remember — I tuned into sacred vertical energies and mindfully spoke each vow to myself out loud... 
            before the ancient ones, the invisible ones, and the presence of the sacred.</p>
          <p>I committed to myself as I received each vow and each vow landed profoundly in my soul.</p>
          <p>I knew then... and I have known every day since then (for thirty plus years) that there is no divorce 
            and I am in a sacred beloved primary relationship with myself. At all times.</p>
          <p>Marrying myself was the antidote to my codependency patterns that had contributed to ending my 
            marriage with my husband and it was the beginning of the rest of my life. It was my turning point. 
            I became my true beloved — and I was never to be the same again... and it is wonderful. Solid. 
            Empowering. Truly, like nothing else.</p>
          <p>I love being married to myself. I have never regretted it. I have never doubted it. It is one of the 
            best things I have ever done for myself.</p>
          <p>So I brought it home from India with me. I lived it. My marriage. To myself. Ahhhhh.... No divorce. 
            Being married to myself made everything different ~~ Dating, actually all relationships, my self-regard, 
            my internal experience every day and night.</p>
          <p>I had to share it. Because whatever I find good in life I want to share with others. I offered the 
            Marrying Yourself experience as a weekend retreat. We did a deep dive but a quick one. The twenty women 
            married themselves at the close of the weekend. They loved it. I knew it fell short. I knew it wasn’t it. 
            I knew how much richer it could be. How my experience of being engaged for nearly a year covered so much 
            more ground, lets put it that way. I came to terms with that there really is a reason for long engagement 
            periods and that for now on, the Marrying Yourself Journey would include an engagement period lasting for 
            nearly a year or more. To allow for the work. Because I knew how much focus, how much work, how much sweat, 
            how much burning, how much discovery, how much nurturing and persisting it took. Since I realized that 
            others also needed this time for growing into being ready to marry — And that’s how its been since and 
            its been amazing....</p>
          <p>It is a privilege to be present and witness others look deep into their own eyes in a mirror, making vows 
            to themselves and putting a ring on their own fingers. Likewise, its powerful to be witnessed making vows 
            to yourself and feeling the support surround you as you make vows to yourself in the mirror. Although this 
            is an online course, we will orchestrate it so that you will have the opportunity if you want to be witnessed 
            when it is time for you to marry yourself.</p>
          <p>It is also a privilege to be in this journey with you because every step of it matters. The journey is even 
            more important than the arrival because the arrival is just the natural outcome of how you do this journey with 
            yourself. The magic is in how you show up to yourself during this journey.</p>
          <p>Each of us has our own story. The story that leads us to discovering the cracks in our foundations and then the 
            necessity for healing and filling in these cracks. With self-love cement.</p>
        </ion-col>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>So, close your eyes and bring honor to yourself for doing this. For taking time to listen to this and to reflect 
              on yourself.</p>
          </ion-col>
        </ion-row>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>In a moment, I invite you to open your eyes and bring your pen to paper and write... I am embarking on this journey 
              toward marrying myself. I want to marry myself.... And just start writing... Ten minutes.</p>
          </ion-col>
        </ion-row>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon> 
          </ion-col>
          <ion-col size="10" class="ion-margin-right ion-padding">
            <p>Now read what you wrote.  See where this is in your body and bring your hands to your 
              body and breathe love into yourself.</p>
          </ion-col>
        </ion-row>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>Whitney Houston - Greatest Love Of All</h2>
          <div class="video-player">
            <div id="youtube-player2-6">
            </div>
          </div>
          <p class="ion-padding ion-text-left">This song, Greatest Love Of All, became my theme song during 
            my engagement time. I loved singing it boldly, my passionate self-retrieval calling. I will always 
            be grateful for it. I hope it can serve you as well! Enjoy it, throw yourself into it and make it 
            yours too!</p>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>Olivia O'Brien - Love Myself </h2>
          <div class="video-player">
            <div id="youtube-player2-7">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>Lizzo - Good As Hell</h2>
          <div class="video-player">
            <div id="youtube-player2-8">
            </div>
          </div>
          <p class="ion-padding ion-text-center">Stand, move, dance, let it go, let it fly!</p>
        </ion-col>
      </ion-row><!-- END OF MODULE SECTION Marrying Myself-->
      <ion-row class="practices">
        <ion-col size="12" class="ion-padding ion-text-center">
          <h2 class="section-title">The Antidote to Codependency Practices</h2>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>
            ~~ Commitment Mudra Flow.
          </p>
          <p>
            ~~ Continue with writing love notes, letters and giving yourself love messages 
            every day.            
          </p>
          <p>
            ~~ In your journal, start a list of how you would want a partner to show up for you. This can 
            call upon ways you really missed being met in past or current relationships. Allowing your
             heart desires, keep adding to this list. Include the qualities you want to attract in a partner 
             or that you value in your current partner. As this list fills out, choose one of the items on 
             your list daily and enact it in your own life, with yourself! Embody these qualities, bring it, 
             and practice showing up the ways you want to be met.
          </p>
        </ion-col>
      </ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- navigation buttons-->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module01']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Module 01</ion-button>
         <ion-button [routerLink]="['/workshops/marrying-yourself/module03']"
        routerDirection="forward">Module 03 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <!-- template -->
    <!-- <ion-row class="section-container">
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src=" ">
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <h2 class="section-title">section title</h2>
        <div class="audio-player">
          <audio controls controlsList="nodownload">
            <source src=" " 
            type="audio/mpeg">
          </audio>
        </div>  
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </ion-col>
      <ion-row class="assignment">
        <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
          <ion-icon name="heart-circle"></ion-icon> 
        </ion-col>
        <ion-col size="10" class="ion-margin-right ion-padding">
          <p></p>
        </ion-col>
      </ion-row>
      <ion-row class="assignment">
        <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
          <ion-icon name="heart-circle"></ion-icon> 
        </ion-col>
        <ion-col size="10" class="ion-margin-right ion-padding">
          <p></p>
        </ion-col>
      </ion-row>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>Video Title</h2>
        <div class="video-player">
          <div id="youtube-player#">
          </div>
        </div>
      </ion-col>
    </ion-row> -->
    <!-- END OF MODULE SECTION -->
    <!-- end of template -->
  </ion-grid>
</ion-content>