<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module02/peopleWavingSun.jpg">
        <h1>Module 03<br>Who I Am</h1>
      </ion-col>
      <ion-row class="section-container">
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src=" ">
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <h2 class="section-title">On Being</h2>
        <div class="audio-player">
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" 
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/166566354&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
          </iframe>
          <div style="font-size: 10px; color: #423e3e;line-break: anywhere;word-break: normal;
            overflow: hidden;white-space: nowrap;text-overflow: ellipsis; 
            font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
            font-weight: 100;">
            <a href="https://soundcloud.com/vulturedotcom" title="VultureDotCom" target="_blank" 
            style="color: #423e3e; text-decoration: none;">VultureDotCom</a> · 
            <a href="https://soundcloud.com/vulturedotcom/bill-murray-on-what-its-like-to-be-bill-murray" 
            title="Bill Murray On Being Bill Murray" target="_blank" style="color: #423e3e; text-decoration: none;">
            Bill Murray On Being Bill Murray</a>
          </div>
        </div>  
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </ion-col>
      <ion-row class="assignment">
        <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
          <ion-icon name="heart-circle"></ion-icon> 
        </ion-col>
        <ion-col size="10" class="ion-margin-right ion-padding">
          <p></p>
        </ion-col>
      </ion-row>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>Video Title</h2>
        <div class="video-player">
          <div id="youtube-player#">
          </div>
        </div>
        <p><i></i></p>
      </ion-col>
    </ion-row><!-- END OF MODULE SECTION On Being -->

    </ion-row>
    <!-- template -->
    <!-- <ion-row class="section-container">
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src=" ">
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <h2 class="section-title">section title</h2>
        <div class="audio-player">
          <audio controls controlsList="nodownload">
            <source src=" " 
            type="audio/mpeg">
          </audio>
        </div>  
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </ion-col>
      <ion-row class="assignment">
        <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
          <ion-icon name="heart-circle"></ion-icon> 
        </ion-col>
        <ion-col size="10" class="ion-margin-right ion-padding">
          <p></p>
        </ion-col>
      </ion-row>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>Video Title</h2>
        <div class="video-player">
          <div id="youtube-player#">
          </div>
        </div>
        <p><i></i></p>
      </ion-col>
    </ion-row> -->
    <!-- END OF MODULE SECTION -->
    <!-- end of template -->


  </ion-grid>
</ion-content>
