<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 01 - The Welcoming, The Beginning
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module01/woman1.jpg">
        <h1>Module 01<br>The Welcoming, The Beginning</h1>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>Welcome as you embark on this powerful and transformative journey that is all 
          about <span class="balthazar">MARRYING YOURSELF</span>.</p>
        <p>Make sure you have a journal and pen as you engage in each modular. Pick out a 
          journal that truly calls to you that will be dedicated to this journey into 
          loving — and choosing — yourself.</p>
        <p>This IS a sacred journey....Truly pause for a moment and honor yourself for 
          listening to the inner calling that has led you to this very moment ~~ committing 
          to your relationship with yourself ~~ as number one beloved primary 
          relationship ~~ you with you.</p>
        <p class="ion-text-center film-cryptic">Here we Grow!</p>
      </ion-col>
      <ion-row class="section-container">
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">An Intro to Deva Joy Gouss and the Course</h2>
          <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #welcomingAudio>
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Faudio%2FWelcoming4.mp3?alt=media&token=cc687a5d-6e33-4de8-b929-d47c14e0f643" 
              type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration01 * 1000 | date:'mm:ss' }}</p>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">Welcoming Everyone</h2>
          <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #everyoneAudio>
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule01%2Faudio%2FWelcomingEveryone.mp3?alt=media&token=fc98bdf0-4ffc-48af-97d1-53628db5e26f" 
              type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration02 * 1000 | date:'mm:ss' }}</p>
          </div>  
        </ion-col>
        <ion-col class="ion-margin-right ion-padding">
          <p>
            Welcome, welcome, welcome  as you embark on this wonderful, transformative 
            experience with yourself.
          </p>
          <p>
            This journey begins with getting engaged to yourself. This commitment is the 
            alignment of your heart, mind and soul that has arrived at this time to say, 
            “Yes, I am committed to growing to be able to truly know and claim that I am worthy 
            of my love. I am worthy of the best inside of me — I am worthy of receiving the 
            love that I usually bring to others. I now choose to direct this love to myself. 
            I commit to loving myself as the number one beloved relationship in my life.”
          </p>
          <p>
            <i>The Marrying Yourself Journey</i> is truly a sacred journey that you are taking with yourself.
          </p>
          <p>
            Take a deep breath and pause long enough to truly honor and thank yourself for all 
            the inner work and growth you have already experienced that allows for you to 
            arrive ~~ here ~~ embarking on this marrying yourself journey.
          </p>
          <p>
            “Yes, I want to marry myself!” (Try on these words or something like them! Try on 
            saying them out loud.)<br>How does it feel? How do you feel as you say this? And, 
            do you also allow yourself to receive it?
          </p>
          <p>
            Can you amplify these words with your aliveness so that your intention to be in the 
            most loving relationship with yourself as possible bears fruits for you right now, 
            in this very moment, as you hit the gas pedal and bring your heart juice to, “Yes, 
            I want to marry myself!”<br>(Go for it, give yourself to loving…. Yourself!) 
          </p>
        </ion-col>
      </ion-row><!-- END OF SECTION CONTAINER An Intro to Deva Joy Gouss and the Course -->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule01%2FhandsOnTree.jpeg?alt=media&token=5878031b-a29a-49e2-b323-218f8d396693">
          <h2 class="section-title">WE ARE ALL CONNECTED!</h2>
          <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #connectedAudio>
              <source src="../../../../assets/audio/module01/WeAreConnected.mp3" type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration03 * 1000 | date:'mm:ss' }}</p>
          </div>  
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>
            Truly, there are other fellow travelers who are also participating in the <i>Marrying 
            Yourself Journey</i> along side of you, right now. You are not alone doing this.
          </p>
          <p>
            And, there are also many past journeyers who have committed to and experienced 
            sacred matrimony with themselves through this process.
          </p>
          <p>
            You are part of a larger community. I invite you to embrace this and to allow 
            yourself to feel embraced.
          </p>
        </ion-col>
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule01%2FsandILoveMe.jpeg?alt=media&token=e3fcc77f-4a06-4ef5-b0b3-ba57dae09b2c">
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>
            We are all connected.
          </p>
          <p>
            Truly. Isn’t that a beautiful and nurturing awareness?
          </p>
          <p>
            Energize it with me by sharing on the MYJ chat room, our MYJ Facebook page and 
            Instragram feed. Shamelessly and creatively connect on social media so that we can 
            grow together!
          </p>
          <p>
            Post about your journey, take selfies at significant moments, share insights, fears, 
            joys, vulnerabilities, new “Ah-ha's” and just sweet moments with yourself in the journey. 
          </p>
          <p>
            As you do a deep dive into each modular, you will find quotes, Ted talks, 
            performance art, songs, guided exercises, sharings from other women who have 
            experienced the <i>Marrying Yourself Journey</i>.
          </p>
          <p>
            Each modular will offer practices that are tools and exercises to help you deepen 
            with yourself. Let each one be like a morsel of chocolate melting in your mouth, 
            into your heart and tummy.
          </p>
          <p>
            Landing deep in you.
          </p>
          <p>
            <i>Let’s put a cosmic seat belt on you. Here you grow!</i>
          </p>
        </ion-col>
      </ion-row><!-- END OF SECTION CONTAINER  We Are All Connected -->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <h2 class="section-title">Hey, bride to be, let’s revel!</h2>
          <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #revelAudio>
              <source src="../../../../assets/audio/module01/HeyBrideToBe.mp3" type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration04 * 1000 | date:'mm:ss' }}</p>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center">
          <h2>Goddess Code · LIZZY JEFF</h2>
          <div class="video-player">
            <div id="youtube-player1"></div>
          </div>
          <p><i>As you listen to this song, stand and close your eyes — and allow the music to 
            take you inward and allow your body to move and breathe and be...</i></p>
        </ion-col>
      </ion-row><!-- END OF SECTION CONTAINER  Hey, bride to be, let's revel-->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <h2 class="section-title">The Beginning</h2>
          <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #beginningAudio>
              <source src="../../../../assets/audio/module01/TheBeginning.mp3" type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration05 * 1000 | date:'mm:ss' }}</p>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>
            Imagine, what if we were raised to listen and honor our inner selves, and to trust 
            that we have what we need within ourselves?
          </p>
          <p>
            What if we were taught that we are whole onto ourselves? 
          </p>
          <p>
            What would it be like if we were raised to know that our primary relationship, our 
            first commitment, is with ourselves and that one day we will actually marry ourselves!
          </p>
          <p>
            And in this marriage, there is no option for divorce.
          </p>
          <p>
            Imagine into this with me.
          </p>
        </ion-col>
        <ion-row class="assignment">
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-checkbox #assignment0101 color="primary"></ion-checkbox>
          </ion-col>
          <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
            <ion-icon name="heart-circle"></ion-icon>
          </ion-col>
          <ion-col size="9" class="ion-margin-right ion-padding">
            <p>
              Write for ten minutes about what you imagine you would be like today if you were 
              raised with the notion that one day, you would be here, embarking on getting engaged 
              to yourself and ultimately marrying yourself....
            </p>
            <p>
              Write.
            </p>
            <p>
              Now, read what you wrote.
            </p>
          </ion-col>
        </ion-row>
  
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center">
          <h2>Aykanna Sings "Beautiful Am I" at Sat Nam Fest</h2>
          <div class="video-player">
            <div id="youtube-player2"></div>
          </div>
          <p><i>This journey is about claiming — celebrating our worthiness, our beauty, our 
            amazing selves! Again, stand and move and chant and sing...enjoy yourself!!!
          </i></p>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center">
          <h2>"I LOVE ME" by Meghan Trainor - Choreography by Matt Pumanes</h2>
          <div class="video-player">
            <div id="youtube-player3"></div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center">
          <h2>Ted Talk - The Person You Really Need to Marry - Tracy McMillian</h2>
          <div class="video-player">
            <div id="youtube-player4"></div>
          </div>
        </ion-col>
  
        <!-- <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center">
          <h2>Three Videos to Watch</h2>
          <swiper [config]="config">
            <ng-template swiperSlide>
              <h2>Aykanna Sings "Beautiful Am I" at Sat Nam Fest</h2>
              <div class="video-player">
                <div id="youtube-player2"></div>
              </div>
              <p><i>This journey is about claiming — celebrating our worthiness, our beauty, our 
                amazing selves! Again, stand and move and chant and sing...enjoy yourself!!!
              </i></p>
            </ng-template>
            <ng-template swiperSlide>
              <h2>"I LOVE ME" by Meghan Trainor - Choreography by Matt Pumanes</h2>
              <div class="video-player">
                <div id="youtube-player3"></div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <h2>Ted Talk - The Person You Really Need to Marry - Tracy McMillian</h2>
              <div class="video-player">
                <div id="youtube-player4"></div>
              </div>
            </ng-template>
          </swiper>
        </ion-col> -->
      </ion-row><!-- END OF SECTION CONTAINER  The Beginning-->
      <ion-row class="section-container">
        <ion-col size="12" class="ion-padding ion-text-center">
          <h2 class="section-title">Commitment to Mudra Flow</h2>
          <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #mudraAudio>
              <source src="../../../../assets/audio/module01/CommitmentMudraFlowNew.mp3" type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration06 * 1000 | date:'mm:ss' }}</p>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>
            <i>Commitment</i> because this is a commitment. A Commitment that nurtures your core, 
            your body, your heart, your mind.
          </p>
          <p>
            <i>Mudra</i> because you are participating in a non-verbal flow of expression of 
            hand gestures that invoke an inner posture, a positive vibration and expanded state 
            of consciousnesses.
          </p>
          <p>
            <i>Flow</i> because as you engage in the <i>Commitment Mudra Flow</i>, you are 
            allowing flow. You are participating in flow. You are letting yourself shift and 
            commune deeper with yourself in the process of flow. 
          </p>
          <p>
            <i>Practice it daily. Enter into it as a sacred way of communing with yourself. 
              A spiritual practice. An invocation.</i>
          </p>
          <p>
            <i>Steep in it and allow it to re-arrange you.</i>
          </p>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center">
          <h2>Explaining the Mudra Flow</h2>
          <div class="video-player">
            <div id="youtube-player5"></div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center">
          <h2>Commitment to Mudra Flow</h2>
          <div class="video-player">
            <div id="youtube-player6"></div>
          </div>
        </ion-col>
      </ion-row><!-- END OF SECTION CONTAINER Commitment to Mudra Flow -->
      <ion-row class="practices">
        <ion-col size="12" class="ion-padding ion-text-center">
          <h2 class="section-title">Welcoming Practices</h2>
          <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #practices01Audio>
              <source src="../../../../assets/audio/module01/WelcomingPracticesNew.mp3" type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration07 * 1000 | date:'mm:ss' }}</p>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>
            ~~ Make sure you have a journal that you love dedicated completely to your 
            <i>Marrying Yourself Journey</i>.
          </p>
          <p>
            ~~ Write love notes (or letters) to yourself every day, even just a sentence. And 
            that one sentence may lead to more....Go with the flow and address yourself with a 
            message whether you feel like it or not. A loving relationship does not depend on 
            how you feel but rather the “spiritual practice" of showing up with love, no matter 
            what you are feeling.
          </p>
          <p>
            ~~ Practice the Commitment Mudra Flow daily. Experiment and practice it in front of 
            a mirror, in nature, when you wake up, before bed, when you feel low, when you feel 
            good, before you spend time with someone else, (especially someone you feel romantic 
            with.)  Make it part of your daily routine, as you do with brushing your teeth.
          </p>
        </ion-col>
      </ion-row>
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module01/responsibility.jpg">
        <img src="../../../../assets/workshop1/module01/PromiseWTP.jpg">
        <img src="../../../../assets/workshop1/module01/HowYouLove.jpg">
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- navigation buttons-->
  <ion-footer>
    <ion-toolbar>
      <div class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Introduction</ion-button>
          <ion-button [routerLink]="['/workshops/marrying-yourself/module02']"
        routerDirection="forward">Module 02 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
