<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 14 - Boundaries and Empowerment
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding">
        <a href="https://unsplash.com/photos/zK049OFP4uI" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module14/womanCanoe.jpg"
            alt="Photo by Filip Mroz on Unsplash">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module14/womanCanoe.jpg"
              alt="Photo by Filip Mroz on Unsplash">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">BOUNDARIES AND EMPOWERMENT</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module14/womanCanoe.jpg"
              alt="Photo by Filip Mroz on Unsplash">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 14<br>Boundaries and Empowerment</h1>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <h2 class="section-title">Deeper Into Boundaries and Empowerment</h2>
        <div class="audio-player">
            <audio preload="auto" controls controlsList="nodownload" #boundariesAudio>
              <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule14%2Faudio%2FBoundariesEmpowerment.mp3?alt=media&token=122a09f1-f8a9-4272-85f0-a070e78751c2" 
              type="audio/mpeg">
            </audio>
            <p class="audio-duration">Duration: {{ audioDuration1401 * 1000 | date:'mm:ss' }}</p>
          </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>Boundaries define where we start and where we end.</p>
        <p>Boundaries delineate our borders or our limits within our relating with others.</p>
        <p>Boundaries serve to invite in who is good for us to keep company with and discern who is not.</p>
        <p>Boundaries help us to identify how we like to spend time and how we don't.</p>
        <p>Boundaries distinguish what we are willing to engage in and what we aren't.</p>
        <p>Simply said, having a healthy boundary is the clarification of what is not okay and being able 
          to say it.
        </p>
        <p>Healthy boundaries allow us to have good relationships in our lives. It is important to set our 
          boundaries and also respect the boundaries of others.
        </p>
      </ion-col>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>Set Your Boundaries and Stand</h2>
        <div class="video-player">
          <div id="youtube-player1401">
          </div>
        </div>
        <p><i></i></p>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>Having healthy boundaries and a sense of empowerment are interwoven.</p>
      </ion-col>
      <!-- BEGINNING OF PRACTICES For Self-Retrieval -->
      <ion-col size="12">
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES FOR HEALTHY PERSONAL BOUNDARIES</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Let's start with journaling to help explore where you are now with your boundaries. 
              Self-inquiry questions: We already did some journaling. So, let's start fresh like we have not 
              written about boundaries before. Start anew. Then, afterwards, I am going to invite you to 
              read what you wrote in the Goddess Wisdom module and what you wrote now and notice how you 
              have grown.
            </p>
            <ol>
              <li>
                Let's explore your relationship with the word “no”. Are you comfortable saying "no" to others? 
                Is it hard for you to say "no"? Are you afraid to disappoint others by saying "no"? Do you feel 
                guilty when you say "no"? Or, do you love the word and see it as a way of taking care of yourself, 
                being self-respectful and truly empowering?
              </li>
              <li>
                What do you take responsibility for that really isn't yours?
              </li>
              <li>
                Where in your life do you feel like you take on too much?
              </li>
              <li>
                How in your life do you feel like a Marty or a Victim?
              </li>
              <li>
                How are you with taking space from people who are close to you? How do you go about doing that?
              </li>
              <li>
                What is currently in your life that you want to release? This refers to externally and internally. 
                For example, you may not want the company of certain people who are occupying your time, you may 
                not want clutter and disorganization in your life, you may not want an overactive critical internal 
                voice. What don't you want in your life that is still hanging on?
              </li>
              <li>
                Is there any places in your life that you have not expressed what you need from others sexually, 
                physically, emotionally, mentally, spiritually. Take your time in answering this.
              </li>
              <li>
                Is there anything that you want to keep to yourself right now? If so, write down a supportive message 
                to yourself around this, letting yourself know that you have a right to privacy.
              </li>
              <li>
                What would you do if you agreed to something and then you felt contracted, signaling you that you made 
                a mistake, that you failed to listen to yourself and be true to yourself. How would you deal with this?
              </li>
              <li>
                What is something you really want yourself to hear right now?
              </li>
            </ol>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Now, go back in your journal to the Goddess Wisdom module and find what you wrote then 
              about your relationship with boundaries. Read it and compare the two, just to notice ways 
              you have grown even since then and what stands out to you about reading both. Write about 
              this in your journal.
            </p>
            <p>Say the word “no” out loud. That's right, right now. What is it like for you to say the word 
              out loud? What is your relationship with the word "No"? Is it a friend to you or are you afraid 
              of using it? What is it like for you when the word "no" comes out of your mouth? Try it on. Say 
              it out loud. As you do, are you finding yourself more comfortable with it or does it still feel 
              awkward and a little uneasy.
            </p>
            <p>Challenge yourself to use the word "NO" in your life daily. I promise you that once you see it 
              as a tool to help protect your life energy and shape your life true to yourself, you will fall 
              in love with the word and find plenty of uses for it.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">Practice Boundaries with "No" and "Yes"</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #practiceBoundariesAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule14%2Faudio%2FMorePracticesBoundariesEmpowerment.mp3?alt=media&token=90250dad-72a2-4413-b193-077c77812684" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration1402 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF PRACTICES For Self-Retrieval -->
      <!-- BEGINNING OF QUOTES -->
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module14/daringToSetBoundaries.jpg">
        <img src="../../../../assets/workshop1/module14/signsHealthyBoundaries.jpg">
        <img src="../../../../assets/workshop1/module14/DontAskWhat.jpg">
        <img src="../../../../assets/workshop1/module14/yourPersonalBoundaries.jpg">
        <img src="../../../../assets/workshop1/module14/onlyICanChangeMyLife.jpg">
        <img src="../../../../assets/workshop1/module14/10Signs.jpg">
      </ion-col>
      <!-- END OF QUOTES --> 
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module13']"
        routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
        &nbsp; Module 13</ion-button>
        <ion-button
        routerDirection="forward">Module 15 &nbsp;
        <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>