// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: "Tempus Sans ITC";
  src: url(/assets/fonts/TEMPSITC.ttf) format("truetype");
}

/* custom background color change animation */

/* The animation code */
@keyframes changecolor {
  0%  {--background: #ce76e4;} /* purple */
  17% {--background: #4fe0ed;} /* blue-aqua */
  33% {--background: #42e317;} /* lime-green */
  49% {--background: #9e48b3;} /* dk-purple */
  65% {--background: #e890ee;} /* pink */
  81% {--background: #68bad8;} /* lt-blue */
  100% {--background: #ce76e4;} /* purple */
}

ion-toolbar {
  --background: transparent;
  --min-height: 1em;
}

.quote-font {
  text-align: center;
  margin: 20px 0px 0px 0px;
  font-family: 'Tempus Sans ITC', sans-serif;
  font-size: 2em;
  color: #000000;
}

.trnsp-bkgrnd {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 5px rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 5px 20px;
}

.trnsp-white-bkgrnd {
  background-color: #ffffff;
  border: solid 10px #ffffff;
  border-radius: 25px;
  opacity: 0.5;
  padding: 5px 20px;
}

.adjust-height {
  height: 100vh;
}

.font-20 {
  font-size: 20px;
}

.white-font {
  color: #ffffff;
  text-shadow: 3px 3px 8px #000000;
}

.left-column {
  margin-bottom: 20px;
}

.right-column {

}

.right-column .top-section {
  height: 43vh;
  margin: 0px 5px 10px 0px;
}

.right-column .bottom-section {
  height: 47vh;
  margin: 0px 5px 12px 0px;
}

.image-cropper {
  position: relative;
  overflow: hidden;
  border: solid 5px rgba(255, 255, 255, .5);
  border-radius: 25px;
}

.image-cropper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* flying bird formatting */
.tree-bird {
  cursor: pointer;
  position: relative;
  margin: 0px auto;
  //height: 15vh;
}

.tree-img {
  postion: absolute;
  left: 50%;
  transform: translateY(20%);
  z-index: 9;
}

.bird-img {
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 10;
}

.cursor-pointer {
  cursor: pointer;
}
