// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~swiper/swiper-bundle.css';

@font-face {
  font-family: "Tempus Sans ITC";
  src: url(/assets/fonts/TEMPSITC.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url(/assets/fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url(/assets/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Film Cryptic";
  src: url(/assets/fonts/Filmcryptic.ttf) format("truetype");
}

@font-face {
  font-family: "Balthazar Regular";
  src: url(/assets/fonts/Balthazar-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Calibri Regular";
  src: url(/assets/fonts/calibri-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url(/assets/fonts/HelveticaNeue-Light.ttf) format("truetype");
}


/* custom background color change animation */

/* The animation code */
@keyframes changecolor {
  0%  {--background: #ce76e4;} /* purple */
  17% {--background: #4fe0ed;} /* blue-aqua */
  33% {--background: #42e317;} /* lime-green */
  49% {--background: #9e48b3;} /* dk-purple */
  65% {--background: #e890ee;} /* pink */
  81% {--background: #68bad8;} /* lt-blue */
  100% {--background: #ce76e4;} /* purple */
}

ion-toolbar {
  --background: var(--ion-color-tertiary);
  --min-height: 1em;
}

.quote-font {
  text-align: center;
  margin: 20px 0px 0px 0px;
  font-family: 'Tempus Sans ITC', sans-serif;
  font-size: 2em;
  color: #000000;
}

.trnsp-bkgrnd {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 5px rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 5px 20px;
}

.trnsp-white-bkgrnd {
  background-color: #ffffff;
  border: solid 10px #ffffff;
  border-radius: 25px;
  opacity: 0.5;
  padding: 5px 20px;
}

.adjust-height {
  height: 100vh;
}

.font-20 {
  font-size: 20px;
}

.white-font {
  color: #ffffff;
  text-shadow: 3px 3px 8px #000000;
}

.left-column {
  margin-bottom: 20px;
}

.right-column {

}

.right-column .top-section {
  height: 43vh;
  margin: 0px 5px 10px 0px;
}

.right-column .bottom-section {
  height: 47vh;
  margin: 0px 5px 12px 0px;
}

.image-cropper {
  position: relative;
  overflow: hidden;
  border: solid 5px rgba(255, 255, 255, .5);
  border-radius: 25px;
  z-index: 1;
}

.image-cropper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* flying bird formatting */
.tree-bird {
  cursor: pointer;
  position: relative;
  margin: 0px auto;
  //height: 15vh;
}

.tree-img {
  position: absolute;
  left: 50%;
  transform: translateY(20%);
  z-index: 9;
}

.bird-img {
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 10;
}

.cursor-pointer {
  cursor: pointer;
}

/* BEGIN WORKSHOP MODULE FOMATTING */

audio { 
	text-align: center;
  width: 80vw;
  box-shadow: 5px 5px 15px 2px var(--ion-color-secondary);
  border-radius: 90px;
  transform: scale(1.05);
}

.balthazar {
	font-family: 'Balthazar Regular', serif;
	font-weight: bold;
	font-size: 1.4em;
}

.film-cryptic {
	font-family: 'Film Cryptic', serif;
	font-size: 2em;
}

.large-font {
	font-size: 2em;
}

.blue-highlight {
  color: var(--ion-color-secondary);
	text-shadow: 2px 2px 2px #3b343b;
}

.purple-highlight {
  color: var(--ion-color-primary);
	text-shadow: 2px 2px 2px #3b343b;
}

.heading-shadow {
  box-shadow: 0px 0px 5px var(--ion-color-tertiary);
}

.workshop-header {
	--min-height: 4em;
}

.module-content {
	font-family: 'Helvetica Neue Light', sans-serif;
	// font-family: 'Roboto Medium', sans-serif;
	font-size: 1.5em;
	color: var(--ion-color-medium);
}

.module-content h1 {
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 2px 3px 1px rgba(var(--ion-color-primary-rgb),0.7);
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
	text-shadow: 2px 2px 4px var(--ion-color-secondary);
}

.section-subtitle {
  font-weight: bold;
  color: var(--ion-color-secondary);
	text-shadow: 2px 2px 2px #3b343b;
}

.section-container {
  width: 100%;
	margin-bottom: 1em;
	border-top: 1px solid var(--ion-color-tertiary);
	border-bottom: 5px solid var(--ion-color-secondary);
	border-radius: 10px;
	box-shadow: 0px 2px 3px 1px var(--ion-color-tertiary);
}

.img-container {
  a {
    cursor: default;
  }
}

.video-player {
	margin: 0px auto;
	width: 85vw;
	overflow: scroll;
}

.audio-player {
	margin: 0 auto;
	padding: 10px 0px;
	text-align: center;
	width: 100%;
}

.audio-duration {
	font-size: 0.8em;
	color: var(--ion-color-primary);
}

.assignment {
  width: 95%;
	background-color: rgb(251, 238, 249);
	border: 2mm ridge rgba(var(--ion-color-tertiary-rgb, 0.6));
	border-radius: 10px;
	margin: 1em auto;
	padding: 0px 10px;
	color: var(--ion-color-primary);
	font-weight: bold;
}

.assignment-title{
	text-align: center;
	text-shadow: 2px 2px 4px var(--ion-color-tertiary);
}

.practices {
	background-color: rgb(209, 234, 243);
	border: 2mm ridge rgba(var(--ion-color-tertiary-rgb, 0.6));
	border-radius: 10px;
	padding: 0px 10px;
  margin-bottom: 1em;
	color: var(--ion-color-primary);
	font-family: 'Calibri Regular', sans-serif;
	font-weight: bold;
}

.quote {
	margin: 0px auto;
}

.quote h2 {
	font-size: 1.3em;
	font-weight: bold;
}

.quote h3 {
	font-size: 1em;
	font-weight: bold;
}

.number-list li{
  padding-bottom: 1rem;
}

/* END WORKSHOP MODULE FOMATTING */
