ion-list {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-card {
  position: relative;
  text-align: center;
}

ion-card ion-card-title {
  position: absolute;
  top: 40%;
  font-size: 5vw;
  text-shadow: 2px 2px 3px #000000;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
}

ion-card ion-card-content {
  position: absolute;
  top: 50%;
  font-size: 5vw;
  text-shadow: 2px 2px 3px #000000;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
}

ion-card ion-item {
  --background: transparent;
  position: absolute;
  top: 75%;
  font-size: 3vw;
  width: 100%;
  text-align: center;

}

.welcome-card .card-img {

  max-height: 100vh;

}

.rotating-logo {
  box-shadow: #2e0443;
  position: absolute;
  top: 5%;
  text-align: center;
  width: 100%;
}

.home-section {
  margin: 30px 0px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border: solid 5px rgba(255, 255, 255, .5);
  border-radius: 25px;
}

.home-section h2 {
  text-shadow: 2px 2px 5px #000000;
}

.home-section a {
  color: var(--ion-color-dark-tint);
  text-decoration: none;
  text-shadow: none;
}

.home-section ion-item {
  --background: transparent;
  color: var(--ion-color-dark-tint);
}

.home-section ion-item h2 {
  text-shadow: none;
}

/* Bubble Animation */
.bubble-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
}

.bubble-am {
  position: absolute;
  top: 0px;
  left: -250px;
  z-index: 2;
}

.bubble-psy {
  position: absolute;
  top: 50%;
  left: 110%;
  z-index: 2;
}

.bubble-ws {
  position: absolute;
  top: -25vh;
  left: 45vw;
  z-index: 2;
}

.bubble-book-vid {
  position: absolute;
  top: 110vh;
  left: 0%;
  z-index: 2;
}

/* End Bubble Animation */
