<!--<ion-header translucent="true" no-border>-->
  <!--<ion-toolbar>-->
    <!--<ion-menu-button slot="start" color="primary"></ion-menu-button>-->
    <!--<ion-title color="primary">-->
      <!--Home-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->
<ion-content fullscreen>
  <div class="bubble-container" [@bubbleState]="bubbleIsDone ? 'true' : 'false'"
    (@bubbleState.done)="onBubbleEvent($event)">
    <a (click)="bubblePopAM()">
      <img src="/assets/am-bubble.png" alt="About Me" class="bubble-am">
    </a>
    <a (click)="bubblePopP()">
      <img src="/assets/pt-bubble.png" alt="Psychotherapy" class="bubble-psy">
    </a>
    <a (click)="bubblePopWS()">
      <img src="/assets/ws-bubble.png" alt="Workshops" class="bubble-ws">
    </a>
    <a (click)="bubblePopBV()">
      <img src="/assets/bv-bubble.png" alt="Publications and Videos" class="bubble-book-vid">
    </a>
  </div> 
  <ion-grid [@colorChange]="isDone ? 'true' : 'false'" (@colorChange.done)="onAnimationEvent($event)">
    <ion-row>
      <ion-col size="12">
        <ion-toolbar>
          <ion-menu-button slot="start" color="primary"></ion-menu-button>
          <ion-img src="/assets/devajoy-lcsw.png"></ion-img>
        </ion-toolbar>
      </ion-col>
      <!--<ion-col size="12">-->
        <!--<ion-img src="/assets/hhc-words-only.png"></ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col size-xs="12" size-lg="6" class="ion-align-self-center">-->
        <!--<p class="quote-font">I wish I could show you when you are lonely or in the darkness the astonishing-->
          <!--light of your own being.<br>~ Hafiz</p>-->
      <!--</ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">
          <img class="card-img" src="/assets/new-forest-path-2019.jpg">
          <ion-row class="rotating-logo" justify-content-center>
            <ion-col>
              <img @slideTitleRight src="/assets/hhcc-logo-purple.png">
            </ion-col>
          </ion-row>
          <ion-card-title @growImg>
              <p class="quote-font-card">I wish I could show you when you are lonely or in the
                darkness the astonishing
                light of your own being.<br>~ Hafiz</p>
          </ion-card-title>
          <ion-button expand="block" color="light" href="http://eepurl.com/lYJ1v">
            <ion-icon slot="start" name="open"></ion-icon>
            Receive Deva Joy's Newsletter</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="snowfall-container">
          <app-my-snowfall></app-my-snowfall>
        </div>
        <ion-row>
          <ion-col>
            <div class="home-section">
              <h2>Books and Publications by Deva Joy Gouss</h2>
              <ion-row>
                <ion-col text-center>
                  <a href="https://www.amazon.com/gp/product/1530067499/ref=dbs_a_def_rwt_bibl_vppi_i0"
                     target="_blank">
                    <img src="/assets/re-arranged-cover-website.png">
                    <p>Buy Now</p></a>
                </ion-col>
                <ion-col text-center>
                  <a href="https://www.amazon.com/gp/product/1545164096/ref=dbs_a_def_rwt_hsch_vapi_taft_p1_i1"
                     target="_blank">
                    <img src="/assets/toolbox-cover-website.png">
                    <p>Buy Now</p></a>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="home-section">
              <h2>Videos by Deva Joy Gouss</h2>
              <ion-row>
                <ion-col>
                  <p><a href="https://vimeo.com/128218524" target="_blank">Living with
                    Arthur: My Life with<br>Chronic Illness</a></p>
                  <div class="embed-responsive embed-responsive-4by3" >
                    <iframe src="https://player.vimeo.com/video/128218524" class="embed-responsive-image" frameborder="0" allowfullscreen></iframe>
                  </div>
                </ion-col>
                <ion-col>
                  <p class="text-center"><a href="https://vimeo.com/31941044" target="_blank">Path of
                    Psychotherapy with<br>Deva Joy</a></p>
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://player.vimeo.com/video/31941044?autoplay=0" class="embed-responsive-image" frameborder="0" allowfullscreen></iframe>
                  </div>
                </ion-col>
                <ion-col>
                  <p class="text-center">Taking Care of the Heart in Time of Grief &amp; Chaos</p>
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FBurrellCenter%2Fvideos%2F1151144735330942%2F&show_text=false&width=560" 
                     class="embed-responsive-image" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="home-section">
              <ion-row>
                <ion-col size="12">
                  <h2>Deva Joy's Newsletters</h2>
                </ion-col>
                <ion-col>
                  <div class="newsletter-archive">
                    <ion-button (click)="toggleNewsletters()">
                      <span *ngIf="!showNewsletters">Show All Newsletters</span>
                      <span *ngIf="showNewsletters">Hide All Newsletters</span>
                    </ion-button>
                    <ion-row *ngIf="showNewsletters">
                      <ion-col size="12" *ngFor="let data of allCampaigns">
                        <a href="{{ data.long_archive_url }}" target="_blank">
                          <ion-row class="border-bottom">
                            <ion-col size-xs="12" size-sm="6">
                              <ion-item lines="none" detail="false">
                                <ion-button slot="start">
                                  <ion-icon slot="icon-only" name="book"></ion-icon>
                                </ion-button>
                                <p>{{ data.settings.title }}</p>
                                </ion-item>
                            </ion-col>
                            <ion-col size-xs="12" size-sm="6" class="date-format">
                              <p>{{ data.send_time |  date:'fullDate' }}</p>
                            </ion-col>
                          </ion-row>
                        </a>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <h2>Articles by Deva Joy Gouss</h2>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleFourteen()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/eco-anxiety.jpg"
                           alt="kangaroos in forest fire">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>Eco-Anxiety and Grief - How to Live as we Die?</h2>
                      <h3>Blogger.com</h3>
                      <p>September 6, 2021</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleThirteen()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/man-looking-horizon.jpg"
                           alt="tim-marshall-173957-unsplash">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>2020 Vision</h2>
                      <h3>Thrive Global</h3>
                      <p>January 6, 2020</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleTwelve()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/podcast-friends-with-illness.jpg"
                           alt="Deva Joy with her dog">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>Being Friends With Your Illness</h2>
                      <h3>Apple Podcast</h3>
                      <p>December 22, 2019</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="mic"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleEleven()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/abundance.jpg"
                           alt="abundance with pink/purple sunset over ocean">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>Love Your Life As It Is</h2>
                      <h3>ThriveGlobal.com</h3>
                      <p>August 26, 2019</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleTen()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/WomanOnPorch.jpg" alt="woman meditating on porch">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>Channel Your Goodness as a Spiritual Practice</h2>
                      <h3>ThriveGlobal.com</h3>
                      <p>June 3, 2019</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleNine()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/UnderWaterView.jpg" alt="marek-okon-1398447-unsplash">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>The Invitation to Practice Awareness of Our Oneness</h2>
                      <h3>ThriveGlobal.com</h3>
                      <p>April 10, 2019</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleSeven()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/GBP.jpg">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>Energy Hygiene Practice for Maintaining Your Vibrance</h2>
                      <h3>ThriveGlobal.com</h3>
                      <p>March 22, 2019</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleThree()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/WomanHidingEyes.jpg">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>How to Fight Online Dating Fatigue</h2>
                      <h3>Zoosk.com</h3>
                      <p>June 18, 2018</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleTwo()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/SmilingWoman.jpg">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>Inner Steps to Take Before Approaching Effective Conflict</h2>
                      <h3>ProfessorsHouse.com</h3>
                      <p>May 11, 2018</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                  <ion-item (click)="articleOne()" button>
                    <ion-thumbnail slot="start">
                      <img src="/assets/WomanOnPorch.jpg">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h2>What to Keep in Mind and Close to Your Heart as You Grieve</h2>
                      <h3>Wellness.com</h3>
                      <p>May 2, 2018</p>
                    </ion-label>
                    <ion-button slot="end">
                      <ion-icon slot="icon-only" name="book"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <!-- BEGIN PSYCHOTHERAPY ROW -->
        <ion-row>
          <ion-col>
            <div class="home-section">
              <h2>Psychotherapy Quick Links</h2>
              <ion-row>
                <ion-col class="ion-text-center" size="12" size-sm
                routerLink="/psychotherapy/individual">
                  <ion-avatar class="center-img">
                    <img src="/assets/red-tulip-among-yellow.jpg">
                  </ion-avatar>
                  <p>Individual</p>
                </ion-col>
                <ion-col class="ion-text-center" size="12" size-sm
                routerLink="/psychotherapy/couples">
                  <ion-avatar class="center-img">
                    <img src="/assets/two-red-scarlet-macaws.jpg">
                  </ion-avatar>
                  <p>Couples</p>
                </ion-col>
                <ion-col class="ion-text-center" size="12" size-sm
                routerLink="/psychotherapy/healing-exercises">
                  <ion-avatar class="center-img">
                    <img src="/assets/healing-exercises.jpg">
                  </ion-avatar>
                  <p>Healing Exercises</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <!-- BEGIN WORKSHOPS AND MORE -->
        <ion-row>
          <ion-col>
            <div class="home-section">
              <h2>Workshops &amp; More</h2>
              <ion-row>
                <ion-col class="ion-text-center" size="12" size-sm
                routerLink="/workshops">
                  <ion-avatar class="center-img">
                    <img src="/assets/waiting-room-3.jpg">
                  </ion-avatar>
                  <p>Workshops</p>
                </ion-col>
                <ion-col class="ion-text-center" size="12" size-sm
                routerLink="/about-me">
                  <ion-avatar class="center-img">
                    <img src="/assets/devajoy-3.jpg">
                  </ion-avatar>
                  <p>About Deva Joy</p>
                </ion-col>
                <ion-col class="ion-text-center" size="12" size-sm
                routerLink="/blog">
                  <ion-avatar class="center-img">
                    <img src="/assets/blogger-logo.png">
                  </ion-avatar>
                  <p>Blog</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
