<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 16 - Intentions and Vows
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
  <ion-grid>
    <ion-row class="ion-margin-right">
      <ion-col size="12" class="ion-text-center ion-padding img-container">
        <a href="https://unsplash.com/photos/gsQ4uk6cnyw" target="_blank">
          <div class="effect">
            <img class="hide-img" src="../../../../assets/workshop1/module16/loveIsPatient.jpg"
              alt="Photo by Leighann Blackwood on Unsplash">
            <div class="fullscreen">
              <img class="bg" src="../../../../assets/workshop1/module16/loveIsPatient.jpg"
                alt="Photo by Leighann Blackwood on Unsplash">
            </div>
            <div class="fullscreen dark">
              <h1 class="title">INTENTIONS AND VOWS</h1>
              <img class="blendImage" src="../../../../assets/workshop1/module16/loveIsPatient.jpg"
                alt="Photo by Leighann Blackwood on Unsplash">
            </div>
          </div>
        </a>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h1>Module 16<br>Intentions and Vows</h1>
      </ion-col>
      <ion-col size="12" class="ion-padding ion-text-center">
        <h2 class="section-title">INTENTIONS, COMMITMENTS, AND VOWS</h2>
        <div class="audio-player">
          <audio preload="auto" controls controlsList="nodownload" #intentionsVowsAudio>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule16%2Faudio%2FIntroWritingIntentionsCommitmentsVows.mp3?alt=media&token=ca6ef93f-9cf2-4faa-b52a-1c51cb36e563"
              type="audio/mpeg">
          </audio>
          <p class="audio-duration">Duration: {{ audioDuration1601 * 1000 | date:'mm:ss' }}</p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-right ion-padding">
        <p>Intention is a wish or idea that you sincerely mean to carry out, whether you pull it 
          off or not. 
        </p>
        <p>Intention can be subject to fluctuation and change according to what is happening...</p>
        <p>Intention gives guidance and form to where and how you channel your energy.</p>
        <p>Intention gives the power of presence to what you want to actualize.  
          <br>It is empowering to state your intentions.
        </p>
        <p>Commitment is the state or quality of being dedicated to a cause, activity or goal. 
          (As you commit to marrying yourself, YOU are the cause, activity and goal!) </p>
        <p>Commitment is a pledge, a dedication, held as obligation, a must, no matter what.
          <br>Commitment remains steady, no matter what you feel in a given moment.
        </p>
        <p>Commitment calls upon the warrior and is infused with conviction — conviction to keep 
          one's promise, one's pledge.</p>
        <p>Commitment often goes hand-in-hand with action.<br>
          Commitment brings intention into action. Into manifestation. Into actualization.  
        </p>
        <p>Making a commitment to yourself and to another involves <b>dedicating yourself</b>.</p>
        <p>A commitment obligates you to stand by the words you pledged.</p>
        <p>A vow is a solemn promise, usually invoking a divine witness, regarding your future 
          acts or behavior.<br>
          A vow is an oath, a dedication to a specific person, activity or cause. And that is the 
          “I, myself, know. I, myself, trust. I, myself, love. I am my beloved, my beloved is me.”
        </p>
        <p>This writing module is all about you preparing to pledge to yourself a binding commitment 
          to make yourself your own home — your primary beloved relationship for the rest of your life.
        </p>
        <p></p>
      </ion-col>
      <!-- BEGINNING OF MODULE SECTION Guidance How to Write Vows -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">GUIDANCE HOW TO WRITE VOWS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #guidanceVowsAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule16%2Faudio%2FGuidanceHowToWriteVows.mp3?alt=media&token=6884f95a-52f4-458f-9473-b5780b8531bc"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1602 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Your ability to follow through and live into each and every one of your commitments, vows 
              and intentions will ultimately either powerfully build your trust in yourself or brutally 
              hurt your relationship with yourself.
            </p>
          </ion-col>
          <!-- BEGINNING OF ASSIGNMENT Begin Writing Your Vows -->
          <ion-col size="12">
            <ion-row>
              <ion-col class="assignment"><!-- Nesting in another row creates space for the border -->
                <p class="assignment-title">Assignment: Begin Writing Your Vows</p>
                <!-- <ion-row>
                  <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
                    <div class="audio-player">
                      <audio preload="auto" controls controlsList="nodownload" #selfInquiryAudio>
                        <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule05%2Faudio%2FSelfInquiryQuestions.mp3?alt=media&token=014ee807-5941-4338-81a8-3239a5eb7614" 
                        type="audio/mpeg">
                      </audio>
                      <p class="audio-duration">Duration: {{ audioDuration0503 * 1000 | date:'mm:ss' }}</p>
                    </div>
                  </ion-col>
                </ion-row> -->
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>Beloved ________, (your name), I commit to you....</p>
                    <p>I vow to you...</p>
                    <p>My intention is...</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="button-pointer ion-padding ion-text-center ion-align-self-center">
                    <ion-icon *ngIf="assignment0301" name="checkbox" color="primary"
                    (click)="assignmentUncheck('assignment1601')"></ion-icon>
                    <ion-icon *ngIf="!assignment0301" name="square-outline" color="primary"
                    (click)="assignmentCheck('assignment1601')"></ion-icon>
                  </ion-col>
                  <ion-col size="1" class="ion-padding ion-text-center ion-align-self-center">
                    <ion-icon name="heart-circle"></ion-icon> 
                  </ion-col>
                  <ion-col size="9" class="ion-margin-right ion-padding">
                    <p>Don't think about it, just write, and write.... And breathe...<br>
                      Then, read out loud what you wrote and see how it lands.<br>
                      Ask yourself if what you wrote is true and if you could make it more honest in some 
                      way — to make sure you can and will live true to what you declare to yourself in your 
                      wedding ceremony.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-margin-right ion-padding">
                    <p>This is a deeply profound and important time...</p>
                    <p>How you show up in this matters.</p>
                    <p>Go deep. And write...</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- END OF ASSIGNMENT Begin Writing Your Vows -->
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Guidance How to Write Vows -->
      <!-- BEGINNING OF MODULE SECTION Naming Yourself as Divine -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/carpeDiemSand.jpg"
                alt="Carpe Diem written in sand - Photo 53068897 © Benhammad | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">NAMING YOURSELF AS DIVINE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #namingYourselfAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FNamingYourselfAsDivine.mp3?alt=media&token=1f497ed8-8d9b-4d6f-ad1f-6b8aa6f1f195"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1503 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>I Am The Light of My Soul - Snatam Kaur</h2>
            <div class="video-player">
              <div id="youtube-player1504">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-subtitle">BREATHING EXERCISE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #breathingExerciseAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FBreathingExercise.mp3?alt=media&token=3b8d9c39-a7c0-4d61-ad11-62b86030a8f4"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1504 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Breathe deep and long. Move through your day with awe as you practice seeing the divine in everyone 
              and everywhere. No separation. One energy. All as divine. Divine.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>The Face of God - Karen Drucker</h2>
            <div class="video-player">
              <div id="youtube-player1505">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Naming Yourself as Divine -->
      <!-- BEGINNING OF MODULE SECTION Naming yourself as a Manifestation of the Goddess -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/womanFlowerCrown.jpg"
                alt="Woman with crown of flowers - Photo 34510188 © Foreverbluebird | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">FOR WOMEN: NAMING YOURSELF AS A MANIFESTATION OF THE GODDESS</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #namingGoddessAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FForWomenClaimGoddess.mp3?alt=media&token=396dd217-d019-4b1b-b305-0af1b1f382f2"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1505 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Naming yourself as a Manifestation of the Goddess -->
      <!-- BEGINNING OF MODULE SECTION Experiencing Your Life as Divine -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/zenStonesWater.jpg"
                alt="Stepping Stones - Photo 74049397 © Dmitry Rukhlenko | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">EXPERIENCING YOUR LIFE AS DIVINE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #experiencingDivineAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FReflectionsRelationshipWithDivine.mp3?alt=media&token=ecc4e80b-f973-4f6c-a495-4ba2306417d9"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1506 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-subtitle">SIDDHARTHA SHARING</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #siddharthaAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FReadingSiddharthaHermannHesse.mp3?alt=media&token=9a082fd8-2ab8-4dc1-bd5c-d20d789b1d0f"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1507 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Om Chanting @432 Hertz</h2>
            <div class="video-player">
              <div id="youtube-player1506">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Tina Turner - Spiritual Message - 'Beyond'</h2>
            <div class="video-player">
              <div id="youtube-player1507">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Experiencing Your Life as Divine -->
      <!-- BEGINNING OF MODULE SECTION Guided Imagery About Love -->
      <ion-col size="12">
        <ion-row class="section-container">
          <ion-col size="12" class="img-container ion-padding ion-text-center">
            <!-- <a href="" target="blank"> -->
              <img src="../../../../assets/workshop1/module15/womanTouchChest.jpg"
                alt="Woman touching her chest - Photo 187777572 © Fizkes | Dreamstime.com">
            <!-- </a> -->
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">GUIDED IMAGERY ABOUT LOVE</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #guidedLoveAudio>
                <source
                  src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule15%2Faudio%2FTheDivineistheExperienceOfLove.mp3?alt=media&token=635a8320-8b12-4265-8174-0ff780269c59"
                  type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration1508 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>The light within us propels us forward in life to open deeper and deeper into love. This is 
              the divine showing itself in our lives. The inspiration to show up wholeheartedly is the experience 
              of divine spirit. This is the divine-in-action. It is the experience of something bigger than 
              our individual lives because it is a force, a force that moves through all of our lives, like breath, 
              but it never stops, and it is this force manifesting as the love within us and between us that 
              permeates our day-to-day lives.<br>This love is the divine pulsation.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Thank U by Alanis Morissette</h2>
            <div class="video-player">
              <div id="youtube-player1508">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF MODULE SECTION Guided Imagery About Love -->
      <!-- BEGINNING OF PRACTICES of Experiencing Yourself as Divine Manifestation -->
      <ion-col size="12">
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES OF EXPERIENCING YOURSELF AS DIVINE MANIFESTATION</h2>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Rise Up by Andra Day</h2>
            <div class="video-player">
              <div id="youtube-player1509">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Practice noticing the divine expressing itself as all of this, everywhere, including you...  
              journal often about this!
            </p>
            <p>~~ Practice the Looking Meditation in the mirror, seeing the divine looking back into you.
            </p>
            <p>~~ Practice the Looking Meditation with another, seeing the divine in their eyes, looking 
              into the divine within you, as one and the same.
            </p>
            <p>~~ Take a slow fifteen minute stroll and mindfully name everything your eyes gaze upon as 
              “Divine” or “Sacred” or “Love.”
            </p>
            <p>~~ Stand outside in Nature, in your backyard or a park or woods and be still. Breathe. 
              Mindfully name everything your eyes gaze upon as “Divine” or “Sacred” or “Love.” Notice how 
              you deepen as you sit and recognize the divine in all of life.
            </p>
            <p>~~ Practice standing tall and breathing powerfully, come into vertical alignment, and then 
              use your voice to invoke and invite what you want in your life and on the planet:<br> 
              “I invoke _______________ for myself, for others, for earth.” (E.g. love, pervasive light, 
              reverence for all beings, awakening, open heart, compassion, etc).<br>
              “I invite into my life ______________ (E.g beauty, forgiveness, patience, kindness, etc).<br>
              Just see what comes naturally arises.
            </p>
            <p>~~ Every day, in some way, devote some time and energy to honor the divine. Create a ritual. 
              Allow a prayer. Invoke. Praise. Dance with the divine. Chant with the divine. Be in silence 
              with the divine. Listen to the divine. Light a candle for the divine. Something. Honor your 
              relationship daily with the divine.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Beautiful Chorus - I Am feat. India.Arie</h2>
            <div class="video-player">
              <div id="youtube-player1510">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- END OF PRACTICES of Experiencing Yourself as Divine Manifestation -->
      <!-- BEGINNING OF QUOTES -->
      <ion-col size="12" class="ion-padding ion-text-center">
        <img src="../../../../assets/workshop1/module15/quoteDoNotFeelLonely.jpg">
        <img src="../../../../assets/workshop1/module15/quoteNotADrop.jpg">
        <img src="../../../../assets/workshop1/module15/quoteAwakeMyDear.jpg">
      </ion-col>
      <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
        <h2>Sea of Oms</h2>
        <div class="video-player">
          <div id="youtube-player1511">
          </div>
        </div>
      </ion-col>
      <!-- END OF QUOTES --> 
      <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
          <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
        </ion-button>
        <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
          <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
        </ion-button>
      </ion-col>
      <!-- END OF COMPLETE MODULE BUTTONS -->
      <!-- BEGINNING OF NAVIGATION BUTTONS -->
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="['/workshops/marrying-yourself/module14']" 
        routerDirection="back">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 14
        </ion-button>
        <ion-button 
        routerDirection="forward">Module 16 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
