<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 07 - Self-Retrieval
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
    <ion-grid>
      <ion-row class="ion-margin-right">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module07/WomanHandOnHerShoulder.jpg">
          <h1>Module 06<br>Self-Retrieval</h1>
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">INTRODUCTION TO SELF-RETRIEVAL</h2>
          <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #introModule07Audio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2FIntroToSelfRetreivalModule.mp3?alt=media&token=89f196e8-1313-4acb-8a71-fe1a3c210788" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration701 * 1000 | date:'mm:ss' }}</p>
            </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>To be in this relationship with ourselves in this way, it is essential to know our sense of wholeness and ownership 
            of  ourselves. To do this, we must reflect on and learn from our past relationships and retrieve parts 
            of ourselves that we left behind.
          </p>
          <p>Whatever is needed, this module is dedicated to doing what is necessary so you can go forth in your engagement time 
            with a greater sense of wholeness.</p>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2>Stronger by Kelly Clarkson</h2>
          <div class="video-player">
            <div id="youtube-player0701">
            </div>
          </div>
          <p><i></i></p>
        </ion-col>
        <!-- BEGINNING OF MODULE SECTION The Inner Work -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">The Inner Work</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #innerWorkAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2FInnerWorkInnerInquiry.mp3?alt=media&token=d2c9e270-71cc-4f3e-a04c-7efb4b3673b8" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration702 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>In reviewing my relationships, a pattern that I have played out with partners is ___________.
            </p>
            <p>In reviewing my relationships, I notice a script in which I play the role of ___________. 
              (Victim, martyr, rescuer, over-functioning, the loner, the shut down one, the too needy one)
            </p>
            <p>Something inside of me that gets triggered in relationships again and again is ___________.
            </p>
            <p>From my relationships, I am aware of behaviors, attitudes, and patterns that the other person 
              played out that I now refuse to have in my life. Some of these deal breakers are: ___________
              e.g. no smokers, a person who needs to be rescued.
            </p>
            <p>One way that I am committed to showing up differently with myself in a primary relationship 
              than I have in the past is ___________.
            </p>
            <p>By experiencing my past relationships, I now have a list of what my MUSTS. ESSENTIALS that are 
              in a primary relationship with another.  Some of my MUSTS are ___________:
            </p>
            <p>Following is a list of my main primary romantic relationships in my life from my past to 
              current: ___________.
            </p>
            <p>Now, as I go through each one, I am going to star the ones that I feel most unresolved with, 
              most unfinished. And then, I will double star the one that I feel called to address.
            </p>
            <p>Next to each relationship, I am going to write down one sentence, one bottom line sentence, 
              that summarizes how I grew in that relationship — the thing that comes to me first about what I learned.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Sara Bareilles - Brave</h2>
            <div class="video-player">
              <div id="youtube-player0702">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-subtitle">SELF-INQUIRY QUESTIONS PREPARING FOR SELF RETRIEVAL</h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <ol class="number-list">
              <li>
                What is the baseline feeling that arises within you as you think of this relationship?
              </li>
              <li>
                What got played out that really hurts, still hurts? E.g were you betrayed? Were you ignored? 
                Were you treated poorly? Were you the rescuer? Were you lonely?
              </li>
              <li>
                What did you put up with that you never want to deal with again? What are your new deal breakers 
                that you learned from this relationship?
              </li>
              <li>
                How did you contribute to what didn't work in this relationship, besides putting up with stuff?
              </li>
              <li>
                What are the obvious lessons you have learned from this relationship?
              </li>
              <li>
                How specifically did you betray yourself in this relationship?
              </li>
              <li>
                Try on these statements in regards to this relationship:<br>
                Acting out the victim posture "You made me feel ________".<br>
                Acting out the rescuer posture into consciousness "I tried my best to help you by ________".<br>
                Acting out the persecutor posture:  "One way I punished you and wanted you to hurt is ________.<br>
                Or "One way that I want to punish you and make you hurt is ________."
              </li>
              <li>
                What parts of you are stuck in this relationship? What parts of you need to be retrieved? 
                (E.g. the romantic, my sexual aspect, my self-respect, my little girl, my dreamer, my integrity, 
                my sense of what is right and wrong.)
              </li>
              <li>
                What do you need to forgive yourself for?
              </li>
              <li>
                If you knew that this soul is one of your soul-kin and signed up on a soul level to play this out with 
                you, what would you be thanking them for? Think of how you have changed and will never be the same 
                because of your relationship with this person. Be specific.
              </li>
            </ol>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Clear Out Your Energy Field</h2>
            <div class="video-player">
              <div id="youtube-player0703">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Chopping The Karmic Logs</h2>
            <div class="video-player">
              <div id="youtube-player0704">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Shake It Out!</h2>
            <div class="video-player">
              <div id="youtube-player0705">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>The Zip Up</h2>
            <div class="video-player">
              <div id="youtube-player0706">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
        </ion-row>
        <!-- END OF MODULE SECTION The Inner Work -->
        <!-- BEGINNING OF MODULE SECTION Horizontal Relating and Vertical Alignment -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">THE DIFFERENCE BETWEEN HORIZONTAL RELATING AND VERTICAL ALIGNMENT</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #horizontalVerticalAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2FHorizontalvsVerticalRelating.mp3?alt=media&token=dad00c00-b6af-4a09-a929-27790b6f9052" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration703 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Horizontal relating is who I am is defined by how you see me.</p>
            <p>Vertical alignment is the opposite. It is the inner posture that the source of love is within me.</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Vertical Alignment</h2>
            <div class="video-player">
              <div id="youtube-player0707">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-margin-right ion-padding">
            <p>“Be the seer, not the seen.”</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Self-Retrieval by Sonata</h2>
            <div class="video-player">
              <div #sonataVimeo>
              </div>
            </div>
            <p><i>
            </i></p>
          </ion-col>
        </ion-row>
        <!-- END OF MODULE SECTION Horizontal Relating and Vertical Alignment -->


        <!-- BEGINNING OF PRACTICES Embracing The Heart -->
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES FOR EMBRACING YOUR HEART</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceEmbracingHeartAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FPracticesForEmbracingYourHeart.mp3?alt=media&token=b7c7bead-84eb-40d7-b438-f31010169277" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration609 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Intentionally take time to intentionally breathe into your heart, a deep inhale 
              expanding your chest and with the exhale, you are letting go and watching all the air 
              leave your body and then the inhale comes in like a wave onto shore, and with the exhale 
              the tide goes back out. In and out. Through the heart chambers, as the chest rises with the 
              inhale and releases with the exhale. Your focus is on embracing your heart. As you do this, also 
              practice hearting the sound of your breath as you breathe the deepest longest inhale you can, and 
              then slowly and gently allow the sound of the exhale as it drops you deeper into yourself and 
              communing with your heart. Follow the breath.</p>
            <p>~~ Practice daily bringing your hands to your heart, palming your heart chakra in the middle of 
              your chest and send loving energy and gratitude to your heart.
            </p>
            <p>~~ Practice the Heart Balancing Energy Movement.</p>
            <p>~~ Write to your heart. This can be letters, notes, one liners or lots of journaling...</p>
            <ion-row>
              <!-- BEGINNING OF QUOTES Embracing The Heart -->
              <ion-col size="12" class="ion-padding ion-text-center">
                <img src="../../../../assets/workshop1/module06/quote-onlyWithHeart.jpg">
                <img src="../../../../assets/workshop1/module06/quote-heartSoftest.jpg">
              </ion-col>
      	      <!-- END OF QUOTES Embracing The Heart --> 
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- END OF PRACTICES Embracing The Heart -->
        <!-- BEGINNING OF MODULE SECTION Loving Your Body -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">LOVING YOUR BODY</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #lovingYourBodyAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FLovingYourBody.mp3?alt=media&token=3184f161-f233-4384-819b-a0e16e4f4b44" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration610 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>Society breeds a lot of self-consciousness and impacts how we feel in our own bodies. 
              Sometimes we feel insecure with our bodies, afraid of being judged by others, and other 
              times we are wild and dancing and shameless and loving our whole selves and our bodies 
              feel like a great place to be.
            </p>
            <p>It is time to take back our own relationships with our bodies. To claim them as home! 
              Our own.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Grounding Techniques | Get Back Into Your Body | Brooke Bridges</h2>
            <div class="video-player">
              <div id="youtube-player0611">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module06/dancingWoman.jpg">
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-margin-right ion-padding">
            <p>The body is a marvel. Be in awe everyday. Gratitude.</p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Christina Aguilera - Beautiful</h2>
            <div class="video-player">
              <div id="youtube-player0612">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Sacral Chakra Trance Dance Meditaition</h2>
            <div class="video-player">
              <div id="youtube-player0613">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Alessia Cara - Scars To Your Beautiful</h2>
            <div class="video-player">
              <div id="youtube-player0614">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>India.Arie - Video</h2>
            <div class="video-player">
              <div id="youtube-player0615">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Lizzo - My Skin</h2>
            <div class="video-player">
              <div id="youtube-player0616">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>A Lesson in Therapeutic Dance Movement</h2>
            <div class="video-player">
              <div id="youtube-player0617">
              </div>
            </div>
            <p><i></i></p>
          </ion-col>
        </ion-row>
        <!-- END OF MODULE SECTION Loving Your Body -->
        <!-- BEGINNING OF PRACTICES Loving Your Body -->
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES FOR LOVING YOUR BODY</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceLovingYourBodyAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FPracticesForLovingYourBody.mp3?alt=media&token=e18c61bf-912a-47e2-8b3c-b8dc564091d3" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration611 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Every day for a two weeks minimum practice two minutes of consciously addressing your body 
              in a loving nurturing way. (E.g. self-talk, breath, self-massage and touch with loving thoughts, 
              looking at yourself in the mirror and saying something kind.)
            </p>
            <p>~~ You may breathe into your body intentionally with love and acceptance.</p>
            <p>~~ Practice intentional gratitude to have a body and to your body, thank you body!!! Do this daily 
              for a week and see what happens.</p>
            <p>~~ Move to music any way your body wants to move.</p>
            <p>~~ Make a wonderful nutritious meal for yourself that is delicious and you love to eat, and is good 
              for you too! (If you don't cook, order a great meal or go out to eat). When you eat the food, 
              consciously eat it with the awareness that you are feeding your body healthy foods and also yummy 
              foods. Enjoy as you receive pleasure in gathering the meal for yourself and ingesting it.
            </p>
            <ion-row>
              <!-- BEGINNING OF QUOTES Loving Your Body -->
              <ion-col size="12" class="ion-padding ion-text-center">
                <img src="../../../../assets/workshop1/module06/quote-embraceLoveBody.jpg">
                <img src="../../../../assets/workshop1/module06/quote-melissaMcCarthy.jpg">
              </ion-col>
      	      <!-- END OF QUOTES Loving Your Body --> 
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- END OF PRACTICES Loving Your Body -->

        <!-- BEGINNING OF MODULE SECTION Nourish Your Soul -->
        <ion-row class="section-container">
          <ion-col size="12" class="ion-text-center ion-padding">
            <h2 class="section-title">NOURISH YOUR SOUL</h2>
            <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #nourishYourSoulAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FNourishingYourSoul.mp3?alt=media&token=524012b2-b224-457d-9e72-8694326dc7b7" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration612 * 1000 | date:'mm:ss' }}</p>
              </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>What feeds your soul? What helps you to feel deep into the center of your self — the bigger self 
              than the roles you play, the things you do and accomplish, the relationships you have?
            </p>
            <p>What helps you to feel the vertical connection and the pulse of the divine within you? Whatever 
              does that for you in your life, go towards it...
            </p>
            <p>Just listen... to what opens you.. to nourishing your soul.</p>
          </ion-col>
          <ion-col size="12" class="ion-padding ion-text-center">
            <img src="../../../../assets/workshop1/module06/waterPour.jpg">
          </ion-col>
          <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
            <h2>Dassy - Engagement</h2>
            <div class="video-player">
              <div #dassyVimeo>
              </div>
            </div>
            <p><i>
            </i></p>
          </ion-col>
        </ion-row>
        <!-- END OF MODULE SECTION Nourish Your Soul -->
        <!-- BEGINNING OF PRACTICES Nourish Your Soul -->
        <ion-row class="practices">
          <ion-col size="12" class="ion-padding ion-text-center">
            <h2 class="section-title">PRACTICES FOR NOURISHING YOUR SOUL</h2>
            <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #practiceNourishSoulAudio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule06%2Faudio%2FPracticesForNourishingYourSoul.mp3?alt=media&token=0449a5c4-e333-4d1d-a004-db419a454ec8" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration613 * 1000 | date:'mm:ss' }}</p>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-margin-right ion-padding">
            <p>~~ Pay attention to what helps you to experience your more spacious deeper self — and then do more of that!</p>
            <p>~~ For two weeks, commit to sitting with yourself for five minutes a day with your eyes closed with the 
              intention to nurture your soul. See if you want to repeat the mantra, OM Namah Shivaya and Shhhhh... Or if you 
              want to chant or practice watching the breath... Or talking to your soul. Just sit with nurturing your soul. 
              Set a timer.
            </p>
            <ion-row>
              <!-- BEGINNING OF QUOTES Nourish Your Soul -->
              <ion-col size="12" class="ion-padding ion-text-center">
                <img src="../../../../assets/workshop1/module06/quote-danceSoul.jpg">
                <img src="../../../../assets/workshop1/module06/quote-soulBestFriend.jpg">
              </ion-col>
      	      <!-- END OF QUOTES Nourish Your Soul --> 
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- END OF PRACTICES Nourish Your Soul -->
        <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
            <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
          </ion-button>
          <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
            <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
          </ion-button>
        </ion-col>
        <!-- END OF COMPLETE MODULE BUTTONS -->
        <!-- BEGINNING OF NAVIGATION BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button [routerLink]="['/workshops/marrying-yourself/module06']"
          routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 06</ion-button>
          <ion-button
          routerDirection="forward">Module 08 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
