<ion-header>
  <ion-toolbar class="workshop-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marrying Yourself Journey - by Deva Joy Gouss<br>
      Module 07 - Taming Your Mind, Embracing Your Heart, Loving Your Body, Nourishing Your Soul
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="module-content">
    <ion-grid>
      <ion-row class="ion-margin-right">
        <ion-col size="12" class="ion-padding ion-text-center">
          <img src="../../../../assets/workshop1/module07/girlFallingSnow.jpg">
          <h1>Module 07<br>Taming Your Mind, Embracing Your Heart,<br>Loving Your Body, Nourishing Your Soul</h1>
        </ion-col>
        <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
          <h2 class="section-title">INTRODUCTION</h2>
          <div class="video-player">
            <div #introModule07Vimeo>
            </div>
          </div>
          <p><i>
          </i></p>
        </ion-col>
        <!-- <ion-col size="12" class="ion-text-center ion-padding">
          <h2 class="section-title">INTRODUCTION</h2>
          <div class="audio-player">
              <audio preload="auto" controls controlsList="nodownload" #introModule07Audio>
                <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FIntroTamingEmbracingLovingNourishing.mp3?alt=media&token=086ac606-11aa-48c1-9f92-daecfadb242c" 
                type="audio/mpeg">
              </audio>
              <p class="audio-duration">Duration: {{ audioDuration0701 * 1000 | date:'mm:ss' }}</p>
            </div>
        </ion-col> -->
        <ion-col size="12" class="ion-margin-right ion-padding">
          <p>This modular is in four parts: taming your mind, embracing your heart, loving your 
            body, nourishing your soul. They all go together as we do a deep dive into a wholistic 
            approach to well-being. And, each one deserves special attention. My recommendation 
            is to focus on each section by itself for at least three days. This way you can practice 
            the tools given in each section with undivided attention. Yet, you will see, as you 
            deepen into each part of the modular, that they all intertwine into a holistic approach 
            for loving yourself well.</p>
        </ion-col>
        <!-- BEGINNING OF MODULE SECTION Taming Your Mind -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">TAMING YOUR MIND</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #tamingYourMindAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FIntroToTamingTheMind.mp3?alt=media&token=e2aeec4a-008f-4f08-9f66-319b10e93d7b" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0702 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>Bottom line, for a loving relationship with yourself, your mind must be an ally, 
                not a foe.
              </p>
              <p>Beginning with the awareness that you are in relationship with your mind, you can 
                then have the awareness of how you want to focus your mind. 
                This leads into the essential commitment to tame your mind — to not believe everything 
                it says, to soothe it with sounds and mantra, to learn how to be a gentle yet firm 
                positive parent with it.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-subtitle">HOW TO TAME YOUR MIND</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #howToTameYourMindAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FTamingYourMindAndMindMapping.mp3?alt=media&token=d8b27284-3907-43cc-abd6-4b6804a492ae" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0703 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>
                Remember, you are in relationship with your mind.  
              </p>
              <p>
                So, the first step is to notice what your mind is up to — what it is chewing on.
              </p>
              <p>
                Second step, ask yourself, “Is what I'm focusing on right now serving me?
              </p>
              <p>
                If the answer is “Yes, it is important for me to problem-solve this issue,” then we want 
                to be most productive with this as we can.
              </p>
              <p>
                One way to do this is with mind-mapping.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding ion-text-center">
              <img src="../../../../assets/workshop1/module07/MindMapping01.jpg">
            </ion-col>
            <ion-col size="12" class="ion-padding ion-text-center">
              <img src="../../../../assets/workshop1/module07/MindMapping02.jpg">
            </ion-col>
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-subtitle">BE THE ALPHA WITH YOUR MIND</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #alphaMindAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FBeTheAlphaWithYour%20Mind.mp3?alt=media&token=fd3af29c-f3e0-44e6-8473-180136d1f87b" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0704 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>When the response is “No, what my mind is focusing on right now is not serving me” then it 
                is important to shift the mind's focus. Have you heard of the term “Alpha” — the “Alpha” wolf 
                in a pack is the dominant one and the one who helps to keep everyone else in their right place 
                so that the pack is strong and can survive. What if you became the alpha with your own mind?
              </p>
              <p>So lets review. You are witnessing your mind and naming what it is doing. You are asking if 
                it is serving you. If the answer is no, you are stepping in and re-directing your mind. You 
                can't help what you mind initially thinks. Thoughts float in and out. But you can choose to 
                either fuel these thoughts or not.
              </p>
              <p>When your mind is actively thinking thoughts you don't want, experiment with making the 
                sound SHHHHHHHHHH... this is the archetypal sound mothers make — and fathers too — to their 
                babies all over the world — because... it is soothing...
              </p>
              <p>Another great tool for taming the mind is the mantra. Mantra, sound vibration...
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding ion-text-center">
              <img src="../../../../assets/workshop1/module07/mantraImage.jpg">
            </ion-col>
            <ion-col>
              <p>I am going to include the power of mumbo jumbo and energy medicine exercises of the zip up, 
                cross lateral and shaking and the crown pull to help you tame your mind. When you change 
                your physiology, you change your emotional state.
              </p>
              <p>By learning to be the alpha with your own mind, you are intentionally taming your mind.
              </p>
              <p>Being in right relationship with your mind is one of the most important aspects in being 
                engaged to yourself.
              </p>
              <p>To have a loving and gentle relationship with your mind is to have a loving and gentle 
                relationship with your self.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Shhhhh...</h2>
              <div class="video-player">
                <div id="youtube-player0702">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Repetition of the Mantra -- OM NAMAH SHIVAYA</h2>
              <div class="video-player">
                <div id="youtube-player0703">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>The Power of Mumbo Jumbo</h2>
              <div class="video-player">
                <div id="youtube-player0704">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Shake It Out!</h2>
              <div class="video-player">
                <div id="youtube-player0705">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Cross Lateral</h2>
              <div class="video-player">
                <div id="youtube-player0706">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>The Zip Up</h2>
              <div class="video-player">
                <div id="youtube-player0707">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-subtitle">TRANSFORMING CONTRACTION INTO SERVICE</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #transformingMindAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FTransformingContractionIntoService.mp3?alt=media&token=fe8dc63e-8824-4f93-b8a5-81537958b166" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0705 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Taming Your Mind -->
        <!-- BEGINNING OF PRACTICES Training the Mind-->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR TAMING THE MIND</h2>
              <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #practiceTamingMindAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FPracticesForTamingTheMind.mp3?alt=media&token=42867216-bd67-4b16-9511-754c8d640312" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration0706 * 1000 | date:'mm:ss' }}</p>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>You are engaged. This means you are committed to training your mind to be your ally. 
                Remember, what you think, you feel. How you feel, you vibrate. How you vibrate, you attract. 
                What you attract, you live. Make it a practice to feel your mind thoughts and perceptions 
                that generate the feelings and vibrations you want to experience.</p>
              <p>
                ~~ Practice Witnessing the Mind and Remembering to be the Alpha. When your mind goes off 
                course, give it a correction and then a new focus. Work with the sounds of Shhhhhh... 
                and the mantra, OM Namath Shivaya.
              </p>
              <p>
                ~~ Practice not believing everything your mind says.
              </p>
              <p>
                ~~ Remember that what you focus on, expands.
              </p>
              <p>
                ~~ Be a good parent to your mind by soothing it.
              </p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Training the Mind -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module07/quote-TrainMind.jpg">
                  <img src="../../../../assets/workshop1/module07/quote-mindNoun.png">
                </ion-col>
                <!-- END OF QUOTES Training the Mind --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Training the Mind -->
        <!-- BEGINNING OF MODULE SECTION Embracing The Heart -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">EMBRACING THE HEART</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #embracingYourHeartAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FEmbracingYourHeart.mp3?alt=media&token=41446732-dc93-461b-9f27-ed9d859836eb" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0707 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>Embrace... accept, receive, integrate, incorporate, welcome, hug, love, choose, greet...
              </p>
              <p>Your heart.</p>
              <p>Whatever arises for you.</p>
              <p>Give permission to whatever your heart feels. Be tender with your heart. Be compassionate 
                with your heart. Be forgiving with your heart. It may not make sense to you. It does not need to. 
                Your heart has its own pulse on life.</p>
            </ion-col>
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-subtitle">GUIDED IMAGERY FOR LOVING AND EMBRACING YOUR HEART</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #guidedImageryHeartAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FGuidedImageryForLovingAndEmbracingYourHeart.mp3?alt=media&token=7177b1a5-862b-46f3-b35f-84812f288c5c" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0708 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Heart Balancing</h2>
              <div class="video-player">
                <div id="youtube-player0708">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Energize With Love</h2>
              <div class="video-player">
                <div id="youtube-player0709">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>The Oh Hellos - Hello My Old Heart</h2>
              <div class="video-player">
                <div id="youtube-player0710">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Embracing The Heart -->
        <!-- BEGINNING OF PRACTICES Embracing The Heart -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR EMBRACING YOUR HEART</h2>
              <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #practiceEmbracingHeartAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FPracticesForEmbracingYourHeart.mp3?alt=media&token=452386fe-26a6-49fd-b4d8-c536bf372eb9" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration0709 * 1000 | date:'mm:ss' }}</p>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Take time to intentionally breathe into your heart, a deep inhale 
                expanding your chest and with the exhale, you are letting go and watching all the air 
                leave your body and then the inhale comes in like a wave onto shore, and with the exhale 
                the tide goes back out. In and out. Through the heart chambers, as the chest rises with the 
                inhale and releases with the exhale. Your focus is on embracing your heart. As you do this, also 
                practice hearting the sound of your breath as you breathe the deepest longest inhale you can, and 
                then slowly and gently allow the sound of the exhale as it drops you deeper into yourself and 
                communing with your heart. Follow the breath.</p>
              <p>~~ Practice daily bringing your hands to your heart, palming your heart chakra in the middle of 
                your chest and send loving energy and gratitude to your heart.
              </p>
              <p>~~ Practice the Heart Balancing Energy Movement.</p>
              <p>~~ Write to your heart. This can be letters, notes, one liners or lots of journaling...</p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Embracing The Heart -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module07/quote-onlyWithHeart.jpg">
                  <img src="../../../../assets/workshop1/module07/quote-heartSoftest.jpg">
                </ion-col>
                <!-- END OF QUOTES Embracing The Heart --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Embracing The Heart -->
        <!-- BEGINNING OF MODULE SECTION Loving Your Body -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">LOVING YOUR BODY</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #lovingYourBodyAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FLovingYourBody.mp3?alt=media&token=e95b493b-c9c8-44c5-885c-0c408e4cff6c" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0710 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>Society breeds a lot of self-consciousness and impacts how we feel in our own bodies. 
                Sometimes we feel insecure with our bodies, afraid of being judged by others, and other 
                times we are wild and dancing and shameless and loving our whole selves and our bodies 
                feel like a great place to be.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Alessia Cara - Scars To Your Beautiful</h2>
              <div class="video-player">
                <div id="youtube-player0714">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>It is time to take back our own relationships with our bodies. To claim them as home! 
                Our own.
              </p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Grounding Techniques | Get Back Into Your Body | Brooke Bridges</h2>
              <div class="video-player">
                <div id="youtube-player0711">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding ion-text-center">
              <img src="../../../../assets/workshop1/module07/dancingWoman.jpg">
            </ion-col>
            <ion-col size="12" class="ion-text-center ion-margin-right ion-padding">
              <p>The body is a marvel. Be in awe everyday. Gratitude.</p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Christina Aguilera - Beautiful</h2>
              <div class="video-player">
                <div id="youtube-player0712">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>A Lesson in Therapeutic Dance Movement</h2>
              <div class="video-player">
                <div id="youtube-player0717">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Sacral Chakra Trance Dance Meditaition</h2>
              <div class="video-player">
                <div id="youtube-player0713">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>India.Arie - Video</h2>
              <div class="video-player">
                <div id="youtube-player0715">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Lizzo - My Skin</h2>
              <div class="video-player">
                <div id="youtube-player0716">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
            <ion-col size="12" class="ion-padding-right ion-padding-left ion-text-center ion-margin-bottom">
              <h2>Freedom - Jon Batiste</h2>
              <div class="video-player">
                <div id="youtube-player0718">
                </div>
              </div>
              <p><i></i></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Loving Your Body -->
        <!-- BEGINNING OF PRACTICES Loving Your Body -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR LOVING YOUR BODY</h2>
              <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #practiceLovingYourBodyAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FPracticesForLovingYourBody.mp3?alt=media&token=0d572c83-f07c-47be-aa2f-af1b2dc0183c" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration0711 * 1000 | date:'mm:ss' }}</p>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Every day for a two weeks minimum practice two minutes of consciously addressing your body 
                in a loving nurturing way. (E.g. self-talk, breath, self-massage and touch with loving thoughts, 
                looking at yourself in the mirror and saying something kind.)
              </p>
              <p>~~ You may breathe into your body intentionally with love and acceptance.</p>
              <p>~~ Practice intentional gratitude to have a body and to your body, thank you body!!! Do this daily 
                for a week and see what happens.</p>
              <p>~~ Move to music any way your body wants to move.</p>
              <p>~~ Make a wonderful nutritious meal for yourself that is delicious and you love to eat, and is good 
                for you too! (If you don't cook, order a great meal or go out to eat). When you eat the food, 
                consciously eat it with the awareness that you are feeding your body healthy foods and also yummy 
                foods. Enjoy as you receive pleasure in gathering the meal for yourself and ingesting it.
              </p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Loving Your Body -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module07/quote-embraceLoveBody.jpg">
                  <img src="../../../../assets/workshop1/module07/quote-melissaMcCarthy.jpg">
                </ion-col>
                <!-- END OF QUOTES Loving Your Body --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Loving Your Body -->
        <!-- BEGINNING OF MODULE SECTION Nourish Your Soul -->
        <ion-col size="12">
          <ion-row class="section-container">
            <ion-col size="12" class="ion-text-center ion-padding">
              <h2 class="section-title">NOURISHING YOUR SOUL</h2>
              <div class="audio-player">
                  <audio preload="auto" controls controlsList="nodownload" #nourishYourSoulAudio>
                    <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FNourishingYourSoul.mp3?alt=media&token=d78f0800-a9e3-4e7e-8ae2-821da7a6d448" 
                    type="audio/mpeg">
                  </audio>
                  <p class="audio-duration">Duration: {{ audioDuration0712 * 1000 | date:'mm:ss' }}</p>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>What feeds your soul? What helps you to feel deep into the center of your self — the bigger self 
                than the roles you play, the things you do and accomplish, the relationships you have?
              </p>
              <p>What helps you to feel the vertical connection and the pulse of the divine within you? Whatever 
                does that for you in your life, go towards it...
              </p>
              <p>Just listen... to what opens you.. to nourishing your soul.</p>
            </ion-col>
            <ion-col size="12" class="ion-padding ion-text-center">
              <img src="../../../../assets/workshop1/module07/waterPour.jpg">
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF MODULE SECTION Nourish Your Soul -->
        <!-- BEGINNING OF PRACTICES Nourish Your Soul -->
        <ion-col size="12">
          <ion-row class="practices">
            <ion-col size="12" class="ion-padding ion-text-center">
              <h2 class="section-title">PRACTICES FOR NOURISHING YOUR SOUL</h2>
              <div class="audio-player">
                <audio preload="auto" controls controlsList="nodownload" #practiceNourishSoulAudio>
                  <source src="https://firebasestorage.googleapis.com/v0/b/healing-heart-2019.appspot.com/o/marrying-yourself%2Fmodule07%2Faudio%2FPracticesForNourishingYourSoul.mp3?alt=media&token=448f239e-8951-4bea-b62b-911df6d52f40" 
                  type="audio/mpeg">
                </audio>
                <p class="audio-duration">Duration: {{ audioDuration0713 * 1000 | date:'mm:ss' }}</p>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-right ion-padding">
              <p>~~ Pay attention to what helps you to experience your more spacious vertical self — and then do more of that!</p>
              <p>~~ For two weeks, commit to sitting with yourself for five minutes a day with your eyes closed with the 
                intention to nurture your soul. See if you want to repeat the mantra, OM Namah Shivaya and Shhhhh... Or if you 
                want to chant or practice watching the breath... Or talking to your soul. Just sit with nurturing your soul. 
                Set a timer.
              </p>
              <ion-row>
                <!-- BEGINNING OF QUOTES Nourish Your Soul -->
                <ion-col size="12" class="ion-padding ion-text-center">
                  <img src="../../../../assets/workshop1/module07/quote-danceSoul.jpg">
                  <img src="../../../../assets/workshop1/module07/quote-soulBestFriend.jpg">
                </ion-col>
                <!-- END OF QUOTES Nourish Your Soul --> 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- END OF PRACTICES Nourish Your Soul -->
        <!-- BEGINNING OF COMPLETE MODULE BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button *ngIf="showIncompleteBtn" (click)="markComplete()">
            <ion-icon color="warning" name="square-outline"></ion-icon>&nbsp; You Have Not Completed This Module.
          </ion-button>
          <ion-button *ngIf="showCompleteBtn" (click)="markIncomplete()">
            <ion-icon color="success" name="checkbox-outline"></ion-icon>&nbsp; You Completed This Module!
          </ion-button>
        </ion-col>
        <!-- END OF COMPLETE MODULE BUTTONS -->
        <!-- BEGINNING OF NAVIGATION BUTTONS -->
        <ion-col size="12" class="ion-text-center">
          <ion-button [routerLink]="['/workshops/marrying-yourself/module06']"
          routerDirection="back"><ion-icon name="arrow-back-circle-outline"></ion-icon>
          &nbsp; Module 06</ion-button>
          <ion-button [routerLink]="['/workshops/marrying-yourself/module08']"
          routerDirection="forward">Module 08 &nbsp;
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <!-- END OF NAVIGATION BUTTONS -->
    </ion-row>
  </ion-grid>
</ion-content>
